<%= link_to image_tag("pageback.png", :title => "Previous"), session[:return_to], :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div id="responsibility" class="over">
  <h1 class="no-gap">Responsibility</h1> 
  <div class="subtext">
    <%= @responsibility.definition %>
  </div>
</div>

<%= form_for @evaluation do |f| %>
  <p>How important is this reponsibility to:-</p>
  <div class = "field">
    <%= f.label :profits, "..Create business profit *" %><br />
    <%= select( :evaluation, :profits, @ratings ) %>
  </div>
  <div class="field">
    <%= f.label :customers, "..Please customers *" %><br />
    <%= select( :evaluation, :customers, @ratings ) %>
  </div>
  <div class="field">
    <%= f.label :staff, "..Benefit staff *" %><br />
    <%= select( :evaluation, :staff, @ratings ) %>
  </div>
  <div class="field">
    <%= f.label :processes, "..Maintain / strengthen business processes *" %><br />
      <%= select( :evaluation, :processes, @ratings ) %>
  </div>
  <div class="actions">
    <%= f.submit "Confirm and calculate", :class => "create round" %>
  </div>
<% end %>
