<div class = "r-float">
  <%= link_to "Job-search menu", jobsearch_menu_path %>
</div>

<h1><%= @title %></h1>

<% if Application.incomplete?(@user) %>
  <div class="no_data round">
    You have no incomplete applications.
  </div>
<% else %>
  
  Click on <%= image_tag("select.png", :size => "15x15") %> to complete your application or <%= image_tag("cancel.png", :size => "15x15") %> to remove it.<br />
  Incomplete applications are not shown if the submission deadline has passed.
  
  <%= render "/applications/applications_list" %>

<% end %>
