<%= link_to image_tag("pageback.png", :size => "25x25", :title => "Previous"), jobsearch_menu_path %>


<% if Application.incomplete?(@user) %>
  <div class="no_data round">
    <%= image_tag("no_entry.png") %> &nbsp;
    You have no incomplete applications.
  </div>
<% else %>
  
  Click on <%= image_tag("select.png", :size => "15x15") %> to complete your application or <%= image_tag("cancel.png", :size => "15x15") %> to remove it.<br />
  Incomplete applications are not shown if the submission deadline has passed.
  
  <%= render "/applications/applications_list" %>

<% end %>
