<%= link_to image_tag("pageback.png", :title => "Previous"), @business, :class => "magnify" %>

<%= form_for(@business) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name, "Business name *" %> 
    <div class="subtext">
      50 character maximum  
    </div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sector, "Sector *" %><br />
    <%= collection_select(:business, :sector_id, @sectors, :id, 
                        :sector, :prompt => true) %>
  </div>
  <div class="field">
    <%= f.label :address, "Postcode or address *" %>
    <div class="subtext">
      If the postcode wasn't recognized, enter the address instead.
      See the page notes for further guidance.
    </div>
    <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm", :class => "create round" %>
  </div>
<% end %>
