<%= link_to image_tag("pageback.png", :size => "25x25", :title => "Previous"), admin_path %>

<div class = "r-float">
  <small>Total: <%= @nmbr %></small>
</div>

<div class="pagination over">
  <%= will_paginate @businesses %>
</div>

<div id = "listing">
  <ul class="no_dec">
    <% @businesses.each do |business| %>
    
      <li>
        <%= business.name %>
        <span class="r-float">
          <%= link_to image_tag("delete.png"), business, 
    			:method => :delete, 
    			:confirm => "Are you sure you want to delete '#{business.name}' - including all employee records?",
                        :title => "Delete '#{business.name}'" %>
        </span>
        <div class="subtext">
          <%= business.city %>, 
          <%= business.country %> -
          <%= business.sector.sector %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="pagination under">
  <%= will_paginate @businesses %>
</div>
