<%= link_to image_tag("pageback.png", :title => "Previous"), officer_home_path, :class => "magnify" %>

<div class = "r-float">
  <%= link_to "Edit", edit_business_path(@business) %><br />
</div>

<h1><%= @business.name %></h1>
<p>Sector: <%= @business.sector.sector %></p>
<p>Address was entered as '<%= @business.address %>'.</p>
<p><i>Verifying location ... <br />
</i> In the neighbourhood of <b> <%= @business.city %>, <%= @business.country %></b>.
</p>

<p>If the location is unknown or looks wrong, click on 'Edit' 
   and re-enter the address line.</p>
