<div class = "r-float">
<%= link_to "Edit", edit_business_path(@business) %>
</div>

<h1>Business details</h1>

<h3><%= @business.name %></h3>

<p>Address was entered as '<%= @business.address %>'.</p>
<p><i>Verifying location ... <br />
</i> In the neighbourhood of <b> <%= @business.city %>, <%= @business.country %></b>.
</p>

<p>If the location is unknown or looks wrong, click on 'Edit' 
   and re-enter the address line.</p>
