<div class = "r-float">
  <%= link_to "Personal home-page", employee_home_path %><br />
  <%= link_to "Add a new task", new_my_task_path %>
</div>

<h1><%= @title %> &nbsp;<span id="info", style ="cursor:help"><%= image_tag("info.png", :size => "20x20") %></span></h1>
<h4>
  <%= @user.name %> - <%= @business.name %><br />
  <%= @job.title_department %>
</h4>

<div id="infotext" class="info_box_screen" style = "display:none">
    This is where you keep a diary of your daily tasks, and whether you've managed to complete them.
    Just list the activities you're planning <em>TO DO</em>.  But - a word of warning - don't start entering tasks until you've
    first defined your targets, what you intend <em>TO ACHIEVE</em>.  If you do, there's a good chance that you'll be busy .. but
    without purpose or direction. 
    <br /><br />
    Your tasks are stored on HYGWIT for three months, then automatically deleted.  We recommend that you don't remove anything yourself, unless 
    you've made a mistake.  If the records show that you're struggling to keep up, that's useful information.  You and your manager
    can discuss the reasons, and plan remedial action together.  And nobody's plan is ever perfect!
    &nbsp; <span id = "no-info" style="color:#069; cursor:n-resize">(Hide)</span>
</div>
  
<% if @tasks.empty? %>

  <div class="no_data round" style = "margin-top: 30px"> 
    You haven't set any daily tasks yet.
  </div>
  
<% else %>
 
  
  <%= will_paginate @tasks %>
    <table class="smaller_font">
      <tr>
        <th>Date</th>
        <th>Task</th>
        <th class="centralize">Done?</th>
        <th></th>
        <th></th>    
      </tr>

      <% @tasks.each do |task| %>
      <tr>
        <td class="at_top" style="width:12%"><%= display_daymonthday(task.task_date) %></td>
        <td><%= task.task %></td>
        <td class="at_top centralize"><%= image_tag("complete.png", :size => "15x15") if task.completed? %></td>
        <td class="at_top"><%= link_to image_tag("select.png", :size => "15x15"), edit_my_task_path(task),
                        :title => "Edit task" %>
        </td>
        <td class="at_top"><%= link_to image_tag("cancel.png", :size => "15x15"), my_task_path(task), 
    			:method => :delete, 
    			:confirm => "You sure?",
                        :title => "Delete task" %>
        </td>
    
      </tr>
      <% end %>
    </table>
  <%= will_paginate @tasks %>
  
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>
    
   $(document).ready(function(){
    
    $('#info').click(function() {
      $('#infotext').show('fast', function() {
      });
    });
    
    $('#no-info').click(function() {
      $('#infotext').hide('fast', function() {
      });
    });
   });
   
  <% end %>
<% end %>
