<%= link_to image_tag("pageback.png", :size => "25x25", :title => "Previous"), jobsearch_menu_path %>

<% if Application.no_bookmarks?(@user) %>
  <div class="no_data round">
    <%= image_tag("no_entry.png") %> &nbsp;
    You have no bookmarked jobs - if you created some, then the application deadlines have now passed.
  </div>
<% else %>
  
  Click on <%= image_tag("select.png", :size => "15x15") %> to view full job details and apply,  
  or <%= image_tag("cancel.png", :size => "15x15") %> to remove it from the list.<br />
  Bookmarked applications are not shown if the submission deadline has passed.
  
  <%= render "/applications/applications_list" %>
<% end %>
