<div>

  <strong>
    <% if @vacancy.quantity == 1 %>
      <%= @vacancy.job.job_title %>
    <% else %>
      <%= "#{@vacancy.quantity.to_s} #{@vacancy.job.job_title.pluralize}" %>
    <% end %>
    - <%= @vacancy.job.business.city %>
  </strong>       
  <div class="subtext">   
    Sector: <%= @vacancy.sector.sector %><br />
    <% if @vacancy.full_time? %>
      Full-time  
    <% else %>
      Part-time 
    <% end %> 
    -
    <% if @vacancy.voluntary? %>
      Voluntary work.
    <% else %>
      Salary: £<%= number_with_delimiter(@vacancy.remuneration, :delimiter => ",") %><%= @vacancy.remuneration_rate %>.
    <% end %>
    <br />
    Posted: <%= @vacancy.created_at.strftime("%b %d") %>.
    Deadline: <%= @vacancy.close_date.strftime("%b %d") %>.
    &nbsp;<em>(<%= pluralize(@vacancy.all_completed_applications.count, "applicant") %>)</em>
    <br />
    <% unless @vacancy.notes.empty? %> 
      <%= @vacancy.notes %>
      <br />
    <% end %>
    <% if @details_link == true %>
      <% unless @vacancy.interest_from?(current_user) %>
        <%= link_to "(Full details)", new_vacancy_application_path(@vacancy) %>
      <% else %>
        <% if @vacancy.application_from(current_user).next_action == 1 %>
          <%= link_to "(Review job details & apply)", "#" %>
        <% else %>
          <% if @vacancy.application_from(current_user).submitted? %>
            <%= link_to "(Review your application)", "#" %>
          <% else %>
            <%= link_to "(Continue with application)", "#" %>
          <% end %>
        <% end %>
      <% end %>
      <br />
    <% end %>
  </div>
</div>
