<%= link_to image_tag("pageback.png", :title => "Return to list"), session[:return_to], :class => "magnify" %>


<%= form_for(@application, :url => my_application_path(@application)) do |f| %>
  <%= render 'brief_without_status' %>
  <div class="under no-print">
    <%= link_to "Detailed description of job", "#" %> 
  </div>
  <br />
  
  <div id="listing">
    <h4 class="over">How would you cope with the job's key responsibilities?</h4>
    <ul class="no_dec">
      <% f.fields_for :applicresponsibilities do |builder| %>  
        <li>
          <%= builder.object.responsibility.definition %>
          <div><%= builder.select :applicant_score, @r_scores %></div>    
        </li>
      <% end %>
    </ul>
  
    <%= render "qualities", :f => f %>
  
    <h4 class="under over">Can you meet these requirements?</h4>
    <ul class="no_dec">
      <% f.fields_for :applicrequirements do |builder3| %> 
        <li>
          <%= builder3.object.requirement.requirement %>
          <div><%= builder3.select :applicant_score, @req_scores %></div> 
        </li>
      <% end %>
    </ul>  
  </div>

  <h4 class="under over">What makes you a great candidate for this job?</h4>
  <div class="field">
    <%= f.text_area :personal_statement, :maxlength => 255, :cols => 60, :rows => 4 %>
    <span id="char-count" style = "color:blue; padding-left: 5px"><%= @characters_left %></span>
  </div>
 
  <%= f.hidden_field :submission_date %>
  <div class="subtext">
    If you're happy with all your changes, check the 'Ready to submit' box, and your application will be
    sent directly to the recruiting business, together with your self-portrait.
  </div>
  <div class="field under">
    <%= f.label :submitted, "Ready to submit" %>
    <%= f.check_box :submitted %>
  </div>
  <div class="actions">
    <%= f.submit "Save your application", :class => "create round" %>
  </div>  
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>
    
   $(document).ready(function(){
   
    $('#application_personal_statement').live('keyup keydown', function(e) {
    var maxLen = 255;
    var left = maxLen - $(this).val().length;
    $('#char-count').html(left);
    });
   }); 
  <% end %>
<% end %>
