<%= link_to image_tag("pageback.png", :size => "25x25", :title => "Previous"), jobsearch_menu_path %>

<% if Application.none_made?(@user) %>
  <div class="no_data round">
    <%= image_tag("no_entry.png") %> &nbsp;
    You haven't applied for any jobs yet.
  </div>
<% else %>
  
  <%= will_paginate @applications %>
  <div id = "listing">
    <ul class= "no_dec">
      <% @applications.each do |application| %>
 
        <li>
          <div class="r-float">
            <%= link_to image_tag("details.png"), my_application_path(application), :title => "Application details" %> &nbsp;
            <%= link_to image_tag("delete.png"), my_application_path(application),
          
                   :method => :delete, 
                   :confirm => "Are you sure you want to cancel your application?",
                   :title => "Cancel your application." %>
          </div> 
          <%= link_to application.vacancy.headline, my_application_path(application) %> 
          
          <div class="subtext">
            <%= render "/applications/detail", :application => application %>
            Applied - <%= application.submission_date.strftime("%b %d") %>.
            
            Deadline - <%= application.vacancy.close_date.strftime("%b %d") %>.
            <em>(<%= pluralize(application.vacancy.all_completed_applications.count, "applicant") %>)</em> 
          </div>  
        
        </li>
      <% end %>
    </ul>
  </div>
  <%= will_paginate @applications %>
<% end %>
