<%= link_to image_tag("pageback.png", :title => "Previous"), my_applications_path, :class => "magnify" %>

<%= render "brief_without_status" %>

<div class="under">
  <div id="display_outline" class="no-print">
    <%= link_to "Detailed job outline", summary_application_path(@application), :remote => true %> 
  </div>
  <div id="outline" class="display_off">
    <%= render "/applications/full_outline" %>
  </div>
  <div class="no-print"><%= link_to "Change your application", edit_my_application_path(@application) if @application.submitted_today? %></div>
</div>
<br />

<h4 class="over">You were asked...</h4>
<h2>Do you have the experience to ... ?</h2>
<div id="listing">
  <ul class="no_dec subtext">
    <% @responsibilities.each do |responsibility| %>
      <li>
        ... <%= responsibility.responsibility.definition %>
        <div>
          <em>"<%= responsibility.rating %>"</em>
        </div>
    <% end %>  
  </ul>
  <br />
  <h2>How would you rate yourself on ... ?</h2>
  <ul class="no_dec subtext">
    <% @qualities.each do |quality| %>
      <li>
        ... <%= quality.quality.quality %>
        <div>
          <em>"<%= quality.rating %>"</em>
        </div>
    <% end %>  
  </ul>

  <br />
  <h2>Do you meet these hiring requirements?</h2>
  <ul class="no_dec subtext">
    <% @requirements.each do |requirement| %>
      <li>
        <%= requirement.requirement.requirement %>
        <div>
          <em>"<%= requirement.rating %>"</em>
        </div>
    <% end %>  
  </ul>

  <br />
  <h2>What makes you a great candidate for this job?</h2>
  <div class="subtext">
    <em>"<%= application_message %>"</em>
  </div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
   
   $(document).ready(function(){
   
    $('#display_outline').click(function() {
      $('#outline').toggle( 100, function() {
      });
    });
   
   });
    
  <% end %>
<% end %>


