<div class = "r-float">
  <%= link_to "Your completed applications list", my_applications_path %><br />
  <%= link_to "Change your application", edit_my_application_path(@application) %>
</div>

<h1><%= @title %></h1>
<br />

<div class="info_box_screen">
  <small><em>This is what the recruiter will see - together with your portrait, and any inputs received from your references.
      Check through your answers carefully, and then, if you've not sent a HYGWIT application before, take a look at our 'Guidance Notes' 
      via the link at the bottom of the page.  If you want to cancel your application, you can do this from the 
      'Completed Applications List'</em></small>
</div>

<%= render "brief_without_status", :vacancy => @vacancy %>
<br />
<h4>You were asked..</h4>

<table class="smaller_font">
  <tr>
    <th class="grayborder round beige">Do you have the experience to ... ?</th>
    <th class="grayborder round beige">You said ...</th>
  </tr>
  <% @responsibilities.each do |responsibility| %>
  <tr>
    <td class="round width_65"><%= responsibility.responsibility.definition %></td>
    <td class="round at_top"><%= responsibility.rating %></td>
  </tr>
  <% end %>
</table>
<br />
<table class="smaller_font">
  <tr>
    <th class="grayborder round beige">How would you rate yourself on ... ?</th>
    <th class="grayborder round beige">You said ...</th>
  </tr>
  <% @qualities.each do |quality| %>
  <tr>
    <td class="round width_65"><%= quality.quality.quality %></td>
    <td class="round at_top"><%= quality.rating %></td>
  </tr>
  <% end %>
</table>
<br />
<table class="smaller_font">
  <tr>
    <th class="grayborder round beige">Do you meet these hiring requirements ... ?</th>
    <th class="grayborder round beige">You said ...</th>
  </tr>
  <% @requirements.each do |requirement| %>
  <tr>
    <td class="round width_65"><%= requirement.requirement.requirement %></td>
    <td class="round at_top"><%= requirement.rating %></td>
  </tr>
  <% end %>
</table>
<br />
<span class="wide_label grayborder round beige">What makes you a great candidate for this job?  &nbsp; You said ...</span>
<div class="info_box_wide grayborder round" style="margin-left: 0px">
  <%= application_message %>
</div>
<br />

<div class = "r-float">
  <%= link_to "Your completed applications list", my_applications_path %><br />
  <%= link_to "Change your application", edit_my_application_path(@application) %>
</div>
<br />

<%= render 'guidance' %>
