<div class = "r-float">
  <%= link_to "Job-search menu", jobsearch_menu_path if signed_in? %>
</div>

<h1><%= @title %></h1>

<% if @vacancies.count == 0 %>
  <div class="no_data round">
    Sorry - there are no vacancies at present.  But please check back soon.
  </div>
<% else %>
  <div class="display_wider">
    To bookmark or apply for one of these jobs, click on 'Full details'
  </div>
  <%= will_paginate @vacancies %>
    <ul class="no_dec">
      <% @vacancies.each do |vacancy| %>
        <li><%= render '/latest_vacancies/brief', :vacancy => vacancy %></li>
      <% end %>
    </ul>
  <%= will_paginate @vacancies %>
<% end %>
