
  <%= form_for @letter_template do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  
    <div class="field">
      <%= f.label :description, "Description *" %><br />
      <%= f.text_field :description, :size => 35 %>
    </div>
  
    <div class="field">
      <%= f.label :content, "Content *" %><br />
      <%= f.text_area :content, :maxlength => 750, :class => "upsize" %>
      <div class="char-count"><%= @characters_left %> characters left</div>
    </div>
    
    
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>

  <% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#letter_template_content').click(function() {
        $('.char-count').css('visibility', 'visible');
      });

      $('#letter_template_content').live('keyup keydown', function(e) {
      var maxLen = 750;
      var left = maxLen - $(this).val().length;
      $('.char-count').html(left);
      });
    
    });
  
  <% end %>
<% end %>
