   There's been no response from <%= @review.reviewer.name %> yet.
 
    
    <br />
    
    
      <div class="field">    
        <%= f.label :reviewer_id, "Change reviewer" %> &nbsp;
        <%= collection_select(:review, :reviewer_id, @users, :id, 
                        :name, :prompt => true) %>
      </div>
    
      <div class="field">
        <%= f.label :cancel, "Check this box to cancel the review completely" %> &nbsp;
        <%= f.check_box :cancel %><br />
        <small>(Only cancel for a good reason - e.g. your reviewer is unavailable, and there's no time to find a replacement)</small>
      </div>
    
      <div class="field">
        <%= f.label :cancellation_reason, "If you're cancelling the review, briefly explain why." %><br />
        <%= f.text_field :cancellation_reason, :size => 50 %>
      </div>
      
