<%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>

<%= form_for(@review, :url => current_review_path(@review)) do |f| %>

  <h4>
    <%= @review.reviewee.name %><br />
    <%= @review.reviewee.current_job(@business).job_title %>
  </h4>
  
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div id="rubric">
    <strong>Reviewer selected:</strong> <%= @review.reviewer.name %> - <%= @review.reviewer.current_job(@business).job_title %>,
                     <%= @review.reviewer.current_department(@business).name %><br />

    <br />
 
    Review set up <%= time_ago_in_words(@review.created_at) %> ago.<br />
    Scheduled completion date is <%= display_daydate(@review.scheduled_completion) %>.
    <br /><br />
    <% if @review.consent? %>
      <span class="highlt round"><%= @review.reviewer.name %> has agreed to be your reviewer.</span>
      <br />
    
    <% elsif @review.consent == false %>
      <%= render 'rejection', :f => f %>
    
    <% else %>
      <% if @review.started? %>
        Your review is in progress.
      <% else %>
        <%= render 'no_reply', :f => f %>
      <% end %>
    <% end %>
 
    <div class="actions">
      <% if @review.consent? %>
        <div class="under">
          <strong><%= link_to "Return to Home Page", employee_home_path %></strong>
        </div>
      <% elsif @review.consent == false %>
        <%= f.submit "Confirm and continue", :class => "create round" %>
      <% else %>
        <% if @review.started? %>
          <div class = "under">
            <strong><%= link_to "Return to Home Page", employee_home_path %></strong>
          </div>
        <% else %>
          <%= f.submit "Confirm changes", :class => "create round" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
 
