<div class = "r-float">
  <% if @user.account == 1 %>
    <%= link_to "#{@job.job_title} menu", my_job_path %>
  <% else %>
    <%= link_to "Home Page", employee_home_path %>
  <% end %>
  <br />
  <%= link_to "Current targets", my_targets_path %>
</div>

<h1><%= @title %> 
<h4>
  <% if @user.account == 1 %>
    <%= @user.name %> - <%= @job.job_title %>
  <% else %>
    <%= @user.name %> - <%= @business.name %><br />
    <%= @job.title_department %>
  <% end %>
</h4>
  
<% if @targets.empty? %>

  <div class="no_data round" style = "margin-top: 30px"> 
    You have no achieved or cancelled targets yet.
  </div>
  
<% else %>
  <%= render 'my_targets/targets' %>
<% end %>

