<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :dislike, "I get annoyed when ..." %>
  <div class="subtext under">
    At work, outside work, when you're with other people ...
    Mention one of your pet peeves.
    <br /><br />
  </div>
  <%= f.text_field :dislike, :maxlength => 50, :size => 40 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
   
    $('#dislike_dislike').click(function() {
      $('.char-count').css('visibility', 'visible');
    });
   
    $('#dislike_dislike').live('keyup keydown', function(e) {
    var maxLen = 50;
    var left = maxLen - $(this).val().length;
    $('.char-count').html(left);
    });
    
   });
   
  <% end %>
<% end %>
