<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :dislike, "I get annoyed when ..." %><br />
  <small>At work, outside work, when you're with other people ...<br />
     Mention one of your pet peeves (max 50 characters).</small><br />
  <%= f.text_field :dislike, :maxlength => 50, :size => 40 %>
  <span id="char-count" style = "color:blue; padding-left: 5px"><%= @characters_left %></span>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $('#dislike_dislike').live('keyup keydown', function(e) {
    var maxLen = 50;
    var left = maxLen - $(this).val().length;
    $('#char-count').html(left);
    });
    
  <% end %>
<% end %>
