<div class = "r-float">
  <%= link_to "Cancel", user_dislikes_path(@dislike.user_id) %>
</div>

<h1><%= @title %></h1>
<br /><br />
<div class="shift_center">
  <%= form_for @dislike do |f| %>
    <%= render 'fields', :f => f %> 
    <div class="actions">
      <%= f.submit "Confirm changes" %>
    </div>
  <% end %>
</div>
