<div class="r-float">
  <%= link_to "Entire portrait", user_portrait_path(@dislike.user) %>
</div>

<%= link_to image_tag("pageback.png", :title => "Dislikes list"), user_dislikes_path(@dislike.user), :class => "magnify" %>

<h4 class="over"><%= @dislike.user.name %></h4>

<div class="shift_center_50">
  <%= form_for @dislike do |f| %>
    <%= render 'fields', :f => f %> 
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  <% end %>
</div>
