<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_dislikes? %>
    <%= link_to "Add a dislike", new_user_dislike_path(@user) %><br /> 
  <% end %>
</div>

<h4>Things that annoy <%= @user.name %></h4>
<div id="rubric">
  <em>
    <% if @user.has_dislikes? %>   
      <% if @user.count_dislikes > 1 %>
        Click and drag to put your biggest peeves at the top of the list.
      <% end %>
    <% end %>
    You can add up to 5 dislikes.
  </em>
</div>

<div id="listing" class="under">
  <ul id="dislikes-list" class="no_dec">
    <% @dislikes.each do |f| %>
      <li id="dislike_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this dislike?",
                   	:title => "Remove this dislike") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_dislike_path(f), 
    			:title => "Edit this dislike") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.dislike %></span>
   
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
    
    $('#dislikes-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#dislikes-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#dislikes-list').effect('highlight');
	},
	url: 'dislikes/sort'})
      }
     })
    
    });
    
   <% end %>
<% end %>
