<%= render 'shared/aplan_nav' %>

<%= link_to image_tag("pageback.png", :title => "Previous"), @plan, :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
  
  <div class = "r-float under">
    <% unless @plan.max_attributes? %>
      <%= link_to "Select an attribute", new_plan_jobquality_path(@plan) %><br />
    <% end %> 
  </div>

  <h1 class="no-gap under">Key attributes</h1>
  <div class="subtext">
    <% if @plan.max_attributes? %>
      Ready to use.
    <% else %>
      <%= 10 - @plan.count_attributes %> more required.
    <% end %>
    <% unless @plan.jobqualities.count < 2 %>
      Sort list by dragging attributes up / down.
    <% end %>
  </div>
</div>

<div id="listing">
  <ul id="jobqualities-list" class ="no_dec under smaller_font">
    <% @jobqualities.each do |f| %>
      <li id="jobquality_<%= f.id %>">
    
        <div class="r-float">
          <%= link_to(image_tag("details.png"), f,
              :title => "Grade descriptors for #{f.quality.quality}") %> &nbsp;
     
          <%= link_to(image_tag("delete.png"), f,
      		:method => :delete, 
		:confirm => "Are you sure you want to remove this attribute?",
		:title => "Remove #{f.quality.quality}") %>
        </div> 
        <span class="handle"><%= f.quality_content %></span>
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
    $(document).ready(function(){
    
      $('#jobqualities-list').sortable(
       {
       	 axis: 'y',
	 dropOnEmpty: false,
	 handle: '.handle',
	 cursor: 'crosshair',
	 items: 'li',
	 opacity: 0.4,
	 scroll: true,
	 update: function(){
	   $.ajax({
	     type: 'post',
	     data: $('#jobqualities-list').sortable('serialize') + '&id=<%=@plan.id %>',
	 dataType: 'script',
	 complete: function(request){
	   $('#jobqualities-list').effect('highlight');
	 },
	 url: 'jobqualities/sort'})
       }
      })

     });
   <% end %>
<% end %>
