<div style ="min-height: 20em">
<div class = "r-float">
<% if @plan.max_attributes? %>
  <u>No more attributes can be added</u>
<% else %>
  <%= link_to "Select a new attribute", new_plan_jobquality_path(@plan) %><br />
<% end %>
<%= link_to "Back to A-Plan menu", @plan %>

     
</div>

<h1>Personal Attributes:</h1> 
<h4>for <%= @job.title_location %></h4>

<div class = "info_box r-float">
  INSTRUCTIONS <br /><br />
  <ol>
  <li> Select the 10 key attributes for this job.</li>
  <li> Click on <%= image_tag("select.png", :size => "12x12") %> for a detailed understanding of the attribute.</li>
  <li> If you change your mind, delete a selection using <%= image_tag("cancel.png", :size => "12x12") %>.</li>
  <li> Click and drag your selections till the most important are at the top of the list.</li>
  </ol>
</div>

  
<ul id="a-plan" style="cursor: move">
  <% @jobqualities.each do |f| %>
    <li id="item_<%= f.id %>">
      
      <%= f.quality.quality %>
      <span class = "col-indent">
      <%= link_to(image_tag("select.png", :size => "15x15"), f,
              :title => "Level descriptors for #{f.quality.quality}") %> &nbsp;
      <%= link_to(image_tag("cancel.png", :size => "15x15"), f,
      		:method => :delete, 
		:confirm => "You sure?",
		:title => "Remove #{f.quality.quality}") %>
      
      </span>
    </li>
  <% end %>
</ul>

<%= sortable_element('a-plan', 
    :url => { :action => "sort", :id => @plan }, 
    
    :complete => visual_effect(:highlight, "a-plan")) %>
</div>
