<div style ="min-height: 20em">
<div class = "r-float">
<%= link_to "Cancel", plan_jobqualities_path(@plan) %>
</div>
<h1>Select a Personal Attribute</h1>
<h4>for <%= @job.title_location %></h4>

<%= form_for([@plan, @jobquality]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <% if @plan.has_attributes? %>
    <div class = "info_box rightpos">
      ALREADY SELECTED<br />
      <ul>
        <% @selected_qualities.each do |sq| %>
          <li><%= sq.quality.quality %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
  <div class = "field">
    <%= f.label :quality_id, "Select a key attribute for the job" %><br />
    <%= collection_select(:jobquality, :quality_id, @qualities, :id, 
                        :quality, :prompt => true) %>
  </div> 
  <div class="actions">
    <%= f.submit "Confirm selection" %>
  </div>
  <br />
<% end %>

<p><i>Can't find what you want in the list?<br />  
  Then why not <%= link_to "suggest a new personal attribute", new_submitted_quality_path %>?</i>
</p>
</div>
