<nav class="topmenu over">
  <% unless current_user.account < 3 %>
    <ul>
      <span id="thisjob"><li><%= link_to "Job menu", @job %></li></span>
      <span id="aplan"><li><%= link_to "A-Plan menu", @plan %></li></span>
      <span id="responsibilities"><li><%= link_to "Job responsibilities", responsibilities_path %></li></span>
      <span id="jobs"><li><%= link_to "All jobs", business_jobs_path(@business) %></li></span>
    </ul>
  <% else %>
    <ul>
      <span id="aplan"><li><%= link_to "A-Plan menu", @jobquality.plan %></li></span>
    </ul>
  <% end %>
</nav>

<%= link_to image_tag("pageback.png", :title => "Attributes already selected"), plan_jobqualities_path(@jobquality.plan), :class => "magnify" %>

<h1><%= @jobquality.quality.quality %></h1>

<div class="subtext"><i>
  Typical behaviour - from Outstanding (A) to Poor (E):
</i></div>
<div id="listing" class="under">
  
  <%= render '/pams/attribute_listing' %>
</div>

