<nav class="topmenu over">
  <ul>
    <span id="search"><li><%= link_to "Search", "#", :title => "Search for an employee by any part of name, job or department" %></li></span>
    <span id="invitations"><li><%= link_to "Outstanding invitations", business_invitations_path(@business), 
      :title => "No response yet from the people in this list" %></li>
    </span>
  </ul>
</nav>

<%= link_to image_tag("pageback.png", :title => "Previous"), officer_home_path, :class => "magnify" %>

<div class="r-float">
  <%= link_to "Invite (= Add employee)", new_business_invitation_path(@business),
    		:title => "Invite people to use HYGWIT - and add them to employee list" %>
</div>
<div class="over">
  <h4><%= @business.name %>, <%= @business.city %></h4>
</div>

<%= render 'users/current_list' %>
