<% unless @business.no_invitations? %>
  <nav class="topmenu over">
    <ul>
      <span id="invitations"><li><%= link_to "Outstanding invitations", business_invitations_path(@business), 
        :title => "No response yet from the people in this list" %></li>
      </span>
    </ul>
  </nav>
<% end %>

<%= link_to image_tag("pageback.png", :title => "Previous"), officer_home_path, :class => "magnify" %>

<div class="r-float">
  <%= link_to "Invite (= Add employee)", new_business_invitation_path(@business),
    		:title => "Invite people to use HYGWIT - and add them to employee list" %>
</div>
<div class="over">
  <h4><%= @business.name %>, <%= @business.city %></h4>
</div>
<%= form_tag officer_users_path, :method => 'get' do %>  
  <div id="search" class="over">
    <div class="r-float">
      <%= submit_tag "Search", :name => nil, :class => "create-icon round" %>  
    </div> 
    Name-search: <%= text_field_tag :search, params[:search] %>   
  </div>
<% end %>
<%= render 'users/current_list' %>
