<div class = "r-float">
  <%= link_to "Menu for this business", officer_home_path %>
</div>

<h1><%= @title %></h1>
<h4 class="shallow"><%= @business.name %></h4>
<div class="info_box_screen">
  Use <%= image_tag("select.png", :size => "15x15") %> to view / edit an employee's record - 
  including marking the employee as a leaver.<br />
  HYGWIT officers are shown with their names <strong>highlighted</strong>.
</div>

<%= render 'users/current_list' %>
