<% if session[:dept_id] == nil %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), officer_users_path, :class => "magnify" %>
<% else %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), @department, :class => "magnify" %>
<% end %>


<div id="listing">
  <ul class="no_dec">
    <li>
      <strong><%= @user.name.upcase %></strong>
      <div class="r-float">
        <%= link_to "Edit", edit_officer_employee_path(@employee) %>
      </div>
      <div class="subtext">
        Officer? <%= officer_status %><br />
        Leaver? <%= leaver_status %>
      </div>
    </li>
    <li>
      <h3>CURRENT JOB</h3>
  
      <% if @business.no_jobs? %>
        <div class="no_data round">
          First add some <%= link_to "departments and jobs", officer_home_path %>.
        </div>
      <% else %>
        <% if @user.no_current_job?(@business) %>
          <div class="r-float">
            <%= link_to "Assign to a job", new_user_placement_path(@user) %>
          </div>
          Not yet assigned
        <% else %>
          <div class="r-float">
            <%= link_to "Re-assign", new_user_placement_path(@user) %>
          </div>
          <%= @job.job_title %> 
          <div class="subtext">
            in <%= @job.department.name %> <br />
            from <%= display_date(@placement.started_job) %>
            <div class="r-float">
              <%=link_to "Edit date", edit_placement_path(@placement) %>
            </div>
          </div>
        <% end %>
 
      <% end %>
    </li>
  
    <% if @user.has_previous_jobs?(@business) %>
      <li>
        <h3>PREVIOUS JOBS</h3>
        <ul class="no_dec">  
          <% @user.previous_placements.each do |p| %>
            <% old_job = Job.find(p.job_id) %>
            <% if p.job.business_id == @business.id %>
              <li>
                <%= p.job.job_title %> 
                <div class="subtext">
                  in <%= p.job.department.name %> 
                  from <%= display_date(p.started_job) %>
                  <div class="r-float"> 
                    <%=link_to "Edit date", edit_placement_path(p) %> 
                    <% unless p.has_completed_formal_reviews? %>
                      - <%= link_to "Remove", p,
                         :url => placement_path(p),
                         :method => :delete, 
                         :confirm => "Are you sure you want to delete '#{p.job.job_title}' from the list?",
                   	 :title => "Delete '#{p.job.job_title}'" %> )
                 
                    <% end %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

