<%= link_to image_tag("pageback.png", :title => "Previous"), officer_vacancy_path(@vacancy), :class => "magnify" %>

<div class = "r-float">
  <%= link_to "All current vacancies", officer_vacancies_path %>
</div>

<h4>
  <%= @vacancy.job.job_title %><br />
  <%= @vacancy.job.department.name %>
</h4>
<div class="subtext">
  Vacancy announced: <%= display_daydate(@vacancy.created_at) %> <br /> 
  Applications close: <%= display_daydate(@vacancy.close_date) %>
</div> 

<div id="listing" class="under">
  <ul class="no_dec">
    <% @applications.each do |application| %>
      <li>  
        <div class="r-float">
          <%= link_to "View application", officer_application_path(application), :title => "View candidate self-portrait" %>
        </div>
        <%= link_to application.user.name, user_portrait_path(application.user_id) %>
        <div class="subtext">
          <%= application.user.city %> - Applied <%= display_date(application.submission_date) %><br />
          HYGWIT score: <%= application.hygwit_score %> &nbsp; Interview score:  <br />
          Next action: <%= application.describe_employer_action %>     
      </li>    
    <% end %>
  </ul>
</div>


