<div class = "r-float">
  <%= link_to "New occupation", new_occupation_path %><br />
</div>

<%= link_to image_tag("pageback.png", :title => "Previous"), admin_path, :class => "magnify" %>

<div class="pagination over">
  <%= will_paginate @occupations %>
</div>

<div id = "listing">
  <ul class="no_dec">
    <% @occupations.each do |occupation| %>
      <li><%= link_to occupation.name, edit_occupation_path(occupation), :title => "Click to edit" %>
        <span class="r-float">
        <% unless occupation.associated_jobs? %>
          &nbsp;
          <%= link_to(image_tag("delete.png"), occupation, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to delete '#{occupation.name}'?",
                   :title => "Delete '#{occupation.name}'") %>
        <% end %>
        </span>
      </li>
    <% end %>
  </ul>

  <div class="pagination under"><%= will_paginate @occupations %></div>
</div>
