<%= link_to image_tag("pageback.png", :title => "Previous"), recruitment_menu_path, :class => "magnify" %>

<h4 class="over"><%= @business.name %></h4>

<% unless @vacancies.empty? %>
  <div id="listing">
    <ul class="no_dec">
      <% @vacancies.each do |vacancy| %>
        <li>
          <% if vacancy.deletable? %>
            <div class="r-float">
              <%= link_to image_tag("delete.png", :size => "15x15"), vacancy, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to remove the vacancy for '#{vacancy.job.job_title}'",
                   :title => "Remove the vacancy for '#{vacancy.job.job_title}'" %>
          
            </div>
          <% end %>
          <%= link_to vacancy.job.job_title, officer_vacancy_path(vacancy, :title => "View vacancy and applicant details") %>
          <% if vacancy.close_date <= Date.today %>
              &nbsp; <%= image_tag("warning.png") %>
          <% end %>
          <div class="subtext">
            <%= vacancy.job.department.name unless vacancy.job.department_id == nil %><br />
            <%= pluralize(vacancy.quantity, "vacancy") %> &nbsp;
            <%= pluralize(vacancy.all_completed_applications.count, "applicant") %>
            <br />
            Applicant deadline: 
            <% if vacancy.close_date <= Date.today %>
              <span class="highlt"><%= display_monthday(vacancy.close_date) %></span>
            <% else %>
              <%= display_monthday(vacancy.close_date) %>
            <% end %> 
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>  
  <div class="no_data round"> 
    You have no current vacancies.
  </div>
<% end %>
