<%= link_to image_tag("pageback.png", :title => "Previous"), officer_vacancies_path, :class => "magnify" %>

<h4 class="subtitle over"> 
  <%= @vacancy.job.job_title %><br />
  <%= @vacancy.job.department.name %>
</h4> 

<div id="listing">
  <ul class="no_dec">
    <li><%= link_to "Vacancy announcement / hiring criteria", "#" %>
    <li><%= link_to "Applications", officer_vacancy_applications_path(@vacancy) %></li>
    <li>Find more candidates</li>
    <li>Search current staff</li>
    <li>Mail unsuccessful applicants</li>
    <li>Interviews</li>
    <li>Select</li>
    <li>Final steps</li>
  </ul>
</div>
