<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :characteristic, "What's #{@user.name} like? *" %>
  <div class="subtext under">
    How might a colleague or friend respond?
    <br /><br />
  </div>
  <%= f.text_field :characteristic, :maxlength => 50, :size => 40 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
    $(document).ready(function(){
    
      $('#characteristic_characteristic').click(function() {
        $('.char-count').css('visibility', 'visible');
      });
         
      $('#characteristic_characteristic').live('keyup keydown', function(e) {
        var maxLen = 50;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
    
  <% end %>
<% end %>
