<div class = "r-float">
  <% unless @user.max_characteristics? %>
    <%= link_to "Add a characteristic", new_user_characteristic_path(@user) %><br /> 
  <% end %>
  <%= link_to "Full Portrait", user_portrait_path(@user) %>
</div>

<h1>What's <%= @user.name %> like?</h1>
<div class="display_wider">
  <em>
    If we asked colleagues or friends this question, what would they say?<br />
    You can add up to 5 characteristics. 
    <% if @user.has_characteristics? %>
      <br /><br />   
      Click on <%= image_tag("cancel.png", :size => "15x15") %> to delete 
      and <%= image_tag("select.png", :size => "15x15") %> to modify a characteristic.
      <br /><br />
      <% if @user.count_characteristics > 1 %>
        Which characteristic best describes you? Click and drag to bring it to the top of the list.
      <% end %>
    <% end %>
  </em>
</div>
<hr />
<ul id="character" style="cursor: move">
  <% @characteristics.each do |f| %>
  <li id="item_<%= f.id %>" class="no_bullet">
    <span style="vertical-align:top">
       <%= link_to(image_tag("cancel.png", :size => "15x15"), f, 
                   	:method => :delete, 
                   	:confirm => "You sure?",
                   	:title => "Remove this characteristic") %>
    </span> &nbsp;
    <span style="vertical-align:top"> 
       <%= link_to(image_tag("select.png", :size => "15x15"), 
    			edit_characteristic_path(f), 
    			:title => "Edit this characteristic") %> 
    </span>&nbsp;    
    <span style = "display:inline-block; width:80%"><%= f.characteristic %></span>
   
   </li>
  <% end %>
</ul>

<%= sortable_element('character', 
    :url => { :action => "sort", :id => @user }, 
    
    :complete => visual_effect(:highlight, "character")) %>

