<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_characteristics? %>
    <%= link_to "Add a characteristic", new_user_characteristic_path(@user) %><br /> 
  <% end %>
</div>

<h4>What's <%= @user.name %> like?</h4>
<div id="rubric">
  <em>
    If we asked colleagues or friends this question, what would they say?
    Add up to 5 characteristics. 
    <% if @user.has_characteristics? %>
      <% if @user.count_characteristics > 1 %>
        <br /><br />
        Which are your strongest characteristics? Click and drag to bring them to the top of the list.
      <% end %>
    <% end %>
  </em>
</div>

<div id="listing" class="under">
  <ul id="characteristics-list" class="no_dec">
    <% @characteristics.each do |f| %>
      <li id="characteristic_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this characteristic?",
                   	:title => "Remove this characteristic") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_characteristic_path(f), 
    			:title => "Edit this characteristic") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.characteristic %></span>
   
      </li>
    <% end %>
  </ul>
</div>
<% content_for :javascript do %>

  <%= javascript_tag do %>
 
    $(document).ready(function(){
    
      $('#characteristics-list').sortable(
       {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#characteristics-list').sortable('serialize')+ '&id=<%=@user.id %>' + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#characteristics-list').effect('highlight');
	},
	url: 'characteristics/sort'})
       }
      })
    });
  <% end %>
<% end %>
