<div class = "r-float">
  <% if current_user.account == 1 %>
    <%= link_to "#{@job.job_title} menu", my_job_path %>
  <% else %>
    <%= link_to "Home Page", employee_home_path %>
  <% end %>
</div>

<h1><%= @title %></h1>
<div class="info_box_screen" style = "margin-bottom: 0px">
    <em>All questions must be answered, unless you have nothing useful to add in the final 
    <i>'Comments'</i> section.<br /><br />
    If you don't have time to complete the review in a single session, click on 'Save changes'
    at the bottom of this form, and then return at any time until 
    <%= (@review.created_at + 14.days).strftime("%a %b %d, %Y") %> to pick up from where you left off.</em> 
    
</div> 
<br />
<%= form_for(@review, :url => self_appraisal_path(@review)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="small_action_label round">RESPONSIBILITIES</div>
  <br />
  <div class="info_box_screen round" style = "margin-bottom: 0px; background-color:#EEE">
    Check each of the goals where the target has been achieved in the review period.<br />
      No excuses!  No almosts!  Each statement is either true ... or it isn't.
  </div> 
   
  <ol>
    <%= f.fields_for :reviewresponsibilities do |resp| %>
      <%= render "/reviews/responsibilities", :f => resp %>
    <% end %>
  </ol>
  
  <div class="field shift_center_50">
    <strong>CHECK WHEN YOU'VE FINISHED SCORING RESPONSIBILITIES</strong>
    <%= f.check_box :responsibilities_complete %>
  </div>
  <br /><br />
  
  <div class="small_action_label round">ATTRIBUTES</div>
  <br />
  <div class="info_box_screen round" style = "background-color: #EEE">
    Attributes - the words we use when we're describing someone.  <br />
      For each attribute, decide what most other people would say about you.
  </div> 
  
  <ol>  
    <%= f.fields_for :reviewqualities do |qlt| %>
     <%= render "/reviews/attributes", :f => qlt %>
    <% end %>
  </ol>
 
  
  
    <div class="field shift_center_50">
      <strong>CHECK WHEN YOU'VE FINISHED GRADING ATTRIBUTES</strong>
      <%= f.check_box :qualities_complete %>
    </div>
    <br /><br />
    
  <div class="small_action_label round">COMMENTS & PLANS</div>
  <br />
  <div class="info_box_screen round" style = "margin-bottom: 0px; background-color: #EEE">
    You've completed half the job - looking back and reviewing recent performance.
      Now it's time to look forward. Has the job changed? Is the A-Plan good enough?  
      What's the plan to achieve even more?
  </div> 
  <br />
  <%= render "/reviews/comments", :f => f %>

    <div class="field shift_center_50">
      <strong>CHECK WHEN YOU'VE FINISHED ENTERING COMMENTS</strong>
      <%= f.check_box :comments_complete %>
    </div>
    <br /><br />
    
    <div class="display_wider grayborder round">
      <strong>CHECK IF YOU'VE NOW COMPLETED THE REVIEW</strong>
      <%= f.check_box :completed %>
    </div>
    <br />
    <div class="info_box_screen round" style="background-color: #EEE">
           Before you sign off on the review, by clicking the box above, you must check the 'Finished' boxes
           for Responsibilities, Attributes and Comments.<br /><br />
           
           If you're happy with everything, click on 'Save Changes' below to finalize.  You'll still be able to
           edit the review for another 7 days after submission - but not after that.
           <br /><br />
           If you haven't completed your review, but you want to save your changes to continue later, just click
           on 'Save changes'.  You can come back and continue the review up to 
           <%= (@review.created_at + 14.days).strftime("%a %b %d, %Y") %>.  If you haven't completed by then, the review
           will be automatically deleted, and you'll need to start again.
    </div> 
    <br />

  <div class="actions">
    <%= f.submit "Save changes" %>
  </div>
 
<% end %>  
