<div class = "r-float">
  <%= link_to "Back to A-Plan menu", @plan %><br />
  <%= link_to "Modify the summary", edit_outline_path(@outline) %>
</div>
<h1><%= @title %></h1> 
<h4>for <%= @job.title_location %></h4>

<div class = "display_wider">
  <%= @outline.role %><br /><br />
 
  <%= @outline.qualities %><br /><br />

  <%= @outline.importance %>
</div>
