
  
<%= render 'shared/aplan_nav' %>

<%= link_to image_tag("pageback.png", :title => "Previous"), @plan, :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div class="subtext">
  <% if @plan.no_changes? %>
    <% if current_user.account == 3 %>
      <%= render 'fields' %>
    <% else %>
      <%= render 'fields_nonedit' %>
    <% end %>
  <% else %>
    <%= render 'fields' %>
  <% end %>
</div>
