<%= link_to image_tag("pageback.png", :title => "Previous"), submitted_quality_path(@pam.quality_id), :class => "magnify" %>

<p>Attribute submitted: <%= @pam.quality.quality %></p>

<%= form_for(@pam, :url => submitted_pam_path(@pam)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class = "field">
    <%= f.label :descriptor, "Descriptor for Grade " + @pam.grade %><br />
    <%= f.text_area :descriptor, :maxlength => 255, :class => "midsize" %>
    <div class="char-count"><%= @characters_left %> character left</div>
  </div>
  <%= f.hidden_field :updated_by %>

  <div class="actions">
    <%= f.submit "Confirm changes", :class => "create round" %>
  </div>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){

      $('#pam_descriptor').click(function() {
        $('.char-count').css('visibility', 'visible');
      });

      $('#pam_descriptor').live('keyup keydown', function(e) {
        var maxLen = 255;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
  <% end %>
<% end %>
