<%= form_for(@pam, :url => submitted_pam_path(@pam)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<div class = "r-float">
 <%= link_to "Cancel", submitted_quality_path(@pam.quality_id) %>
</div>
<p class = "display_text grayborder round cntr">Attribute: <%= @pam.quality.quality %></p>

<div class = "info_box rightpos">
  <strong>All current PAMs</strong><br />
  <table>
    <% @pams.each do |pam| %>
    <tr>
      <td class = "at_top"><%= pam.grade %></td>
      <td><%= pam.descriptor %></td>
    </tr>
    <% end %>
  </table>
</div>


  <div class = "field">
    <span class="label_large"><%= f.label :descriptor, "Edit PAM: Grade " + @pam.grade %></span><br />
    <%= f.text_area :descriptor, :maxlength => 255, :cols => 40, :rows => 10 %>
    <span id="char-count" style = "color:blue; padding-left: 5px"><%= @characters_left %></span>
  </div>
  <%= f.hidden_field :updated_by %>
  <br />
  <div class="actions">
    <%= f.submit "Confirm changes" %>
  </div>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $('#pam_descriptor').live('keyup keydown', function(e) {
    var maxLen = 255;
    var left = maxLen - $(this).val().length;
    $('#char-count').html(left);
    });
    
  <% end %>
<% end %>
