      <div class="display_wider grayborder round">
        <strong>
          <% if vacancy.quantity == 1 %>
            <%= vacancy.job.job_title %>
          <% else %>
            <%= "#{vacancy.quantity} #{vacancy.job.job_title.pluralize}" %>
          <% end %>
           for <%= vacancy.sector.sector %> business, <%= vacancy.job.business.city %>.
        </strong>
        <br />
        <% if vacancy.full_time? %>
          Full-time.  
        <% else %>
          Part-time. 
        <% end %>
        <% if vacancy.voluntary? %>
          This is a voluntary position.
        <% elsif vacancy.annual_salary.nil? %>
          Hourly rate: £<%= two_dec(vacancy.hourly_rate) %>.
        <% else %>
          Annual salary: £<%= vacancy.annual_salary %>.
        <% end %>
        <br />
        <%= vacancy.notes unless vacancy.notes.empty? %> <%= link_to "(Full details)", new_vacancy_application_path(vacancy) if @details_link == true %>
        <br />
        <small>
           Ref: <%= vacancy.id %> -  
           Posted <%= time_ago_in_words(vacancy.created_at) %> ago.  Apply
           by <%= vacancy.close_date.strftime("%a %b %d, %Y") %>.
        </small>
        <% if vacancy.interest_from?(current_user) %>
          <% @vac = vacancy %>
          <br /><span class="completed_label grun round"><%= your_application_status %></span>
        <% end %>        
      </div>
   
  
