      <div class="display_wider grayborder round">
        <strong>
          <% if vacancy.quantity == 1 %>
            <%= vacancy.job.job_title %>
          <% else %>
            <%= "#{vacancy.quantity} #{vacancy.job.job_title.pluralize}" %>
          <% end %>
           for <%= vacancy.sector.sector %> business, <%= vacancy.job.business.city %>.
        </strong>
        <br />
        <% if vacancy.full_time? %>
          Full-time.  
        <% else %>
          Part-time. 
        <% end %>
        <% if vacancy.voluntary? %>
          This is a voluntary position.
        <% elsif vacancy.annual_salary.nil? %>
          Hourly rate: £<%= two_dec(vacancy.hourly_rate) %>.
        <% else %>
          Annual salary: £<%= number_with_delimiter(vacancy.annual_salary, :delimiter => ",") %>.
        <% end %>
        <br />
        <%= vacancy.notes unless vacancy.notes.empty? %> 
        
        <% if @details_link == true %>
          <% if signed_in? %>
            <% unless vacancy.interest_from?(current_user) %>
              <%= link_to "(Full details)", new_vacancy_application_path(vacancy) %>
            <% else %>
              <% if vacancy.application_from(current_user).next_action == 1 %>
                <%= link_to "(Review job details & apply)", edit_bookmark_path(vacancy.application_from(current_user)) %>
              <% else %>
                <% if vacancy.application_from(current_user).submitted? %>
                  <%= link_to "(Review your application)", "#" %>
                <% else %>
                  <%= link_to "(Continue with application)", edit_my_application_path(vacancy.application_from(current_user)) %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to "(Full details)", new_vacancy_application_path(vacancy) %>
          <% end %>
        <% end %>
        <br />
        
        <small>
           Ref #<%= vacancy.id %> -  
           Posted <%= time_ago_in_words(vacancy.created_at) %> ago.  Apply
           by <%= vacancy.close_date.strftime("%a %b %d, %Y") %>.
           &nbsp;<em>(<%= pluralize(vacancy.all_completed_applications.count, "application") %>)</em>
        </small>
        
        <% if signed_in? %>
          <% if vacancy.interest_from?(current_user) %>
            <% @vac = vacancy %>
            <br /><span class="completed_label grun round"><%= your_application_status %></span>
          <% end %>
        <% end %>        
      </div>
   
  
