<div class = "r-float">
  <%= link_to "Job-search menu", jobsearch_menu_path if signed_in? %>
</div>

<h1><%= @title %></h1>

<div class = "display_wider">
  <% if signed_in? %>
    To apply for one of these jobs, click on 'Full details'
  <% else %>
    Listed below are just the 10 latest HYGWIT jobs.  <%= link_to "Log in", signin_path %> or <%= link_to "sign up for a free account", signup_path %> to 
    apply - or search for the ideal job in your area.
    <br /><br />
    <span class="highlt">Employers</span> - you can <%= link_to "get started with a free account", signup_path %> too, to post job 
    announcements just like these, and find out how HYGWIT can transform your business.

  <% end %>
</div>
<ul class="no_dec">
  <% @vacancies.each do |vacancy| %>
    <li><%= render 'brief', :vacancy => vacancy %></li>
  
  <% end %>
</ul>
