<div class = "r-float">
  <%= link_to "Job-search menu", jobsearch_menu_path if signed_in? %>
</div>

<h1><%= @title %></h1>

<div class = "display_wider">
  <% if @vacancies.count == 0 %>
    <div class="no_data round">
      Sorry, there are no vacancies at present.  But please check back soon.
    </div>
  <% else %>
    <% if signed_in? %>
      <% if current_user.has_public_portrait? %>
        To bookmark or apply for one of these jobs, click on 'Full details'
      <% else %>
        <i>Before you can apply for any of these vacancies, you need to complete 
         your <%= link_to "Self-Portrait", user_portrait_path(current_user) %> and then make it public 
       - the Portrait is the HYGWIT equivalent of a CV.</i>
      <% end %>
    <% else %>
      Listed below are just the 10 latest HYGWIT jobs.  <%= link_to "Log in", signin_path %> or <%= link_to "sign up for a free account", signup_path %> to 
      apply - or search for the ideal job in your area.
      <br /><br />
      <span class="highlt">Employers</span> - you can <%= link_to "get started with a free account", signup_path %> too, to post job 
      announcements just like these, and find out how HYGWIT can transform your business.

    <% end %>
  <% end %>
</div>
<ul class="no_dec">
  <% @vacancies.each do |vacancy| %>
    <li><%= render 'brief', :vacancy => vacancy %></li>
  <% end %>
</ul>
