<div class = "r-float">
  <%= link_to "Back", latest_vacancies_path %><br />
</div>

<h1><%= @title %></h1>
<br />
<%= render "brief", :vacancy => @vacancy %> 
<br />
<h4 style = "margin-bottom: 0px">Job summary</h4>
<%= render "/outlines/fields" %>
<br />
<%= render "specs" %>
