<%= link_to image_tag("pageback.png", :title => "Previous"), new_plan_jobquality_path(@plan), :class => "magnify" %>

<div id="listing">

  <ul class="no_dec"
    <% @qualities.each do |quality| %>
      <li>
        <div class="r-float">
          <% if quality.status == "Pending" %>
            <%= link_to(image_tag("delete.png", :size => "15x15"), my_submission_path(quality), 
                   :method => :delete, 
                   :confirm => "Are you sure you want to delete '#{quality.quality}' and all its grade descriptors?",
                   :title => "Delete '#{quality.quality}' and all its grade descriptors") %>  
          <% end %>
        </div>
        <% if quality.status == "Pending" %>
          <%= link_to quality.quality, submitted_quality_path(quality) %>
        <% else %>
          <%= link_to quality.quality, my_submission_path(quality) %>
        <% end %>
        <div class="subtext">
           Submitted <%= time_ago_in_words(quality.created_at) %> ago.
           <%= quality.status %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

