<div style = "min-height:10em">
<div class = "r-float">
  <%= link_to "Return to current job", new_plan_jobquality_path(@plan) %>
</div>
<h1><%= @title %></h1>

<div class="narrow rightpos"><small>Click on an attribute to see its 5 PAMs.  If the attribute is still 'Pending', you can
still change or delete it.  The record is fixed after approval or rejection.</small></div>


<table class="extend">
  <% @qualities.each do |quality| %>
  <tr>
    <td>
      <% if quality.status == "Pending" %>
        <%= link_to quality.quality, submitted_quality_path(quality) %>
      <% else %>
        <%= link_to quality.quality, my_submission_path(quality) %>
      <% end %>
    </td>
    <td class = "control"><%= quality.status %></td>
    <td class = "control"><%= time_ago_in_words(quality.created_at) %> ago </td>
    <td>
      <% if quality.status == "Pending" %>
        <%= link_to(image_tag("cancel.png", :size => "15x15"), my_submission_path(quality), 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Delete '#{quality.quality}' completely") %>  
      <% end %>   
    </td>
  </tr>
  <% end %>
</table>
</div>
