<%= link_to image_tag("pageback.png", :title => "Previous"), my_submissions_path, :class => "magnify" %>

<div id ="listing">Attribute suggested: '<strong><%= @quality.quality %></strong>'
  <div class="subtext">
    Submitted <%= time_ago_in_words(@quality.created_at) %> ago -    
    <%= @quality.status %>
  </div>   


  <h1 class="under">Grade descriptors</h1> 
  <%= render '/pams/attribute_listing' %>
 
</div>
