<div class="two_column rightpos">
  <h4 class="shallow">What they say about me</h4>
  <%= render '/portraits/characteristics' %>
</div>

<div class="two_column">
  <h4 class="shallow">Achievements</h4>
  <%= render '/portraits/achievements' %>
</div>  
<hr /> 

<div class="two_column rightpos">  
  <h4 class="shallow">My favourite things</h4>
  <%= render '/portraits/favourites' %>
</div>

<div class="two_column">
  <h4 class="shallow">My qualifications</h4>
  <%= render '/portraits/qualifications' %>
</div>
<hr />

<div class="two_column rightpos"> 
  <h4 class="shallow">It drives me mad when ... </h4>
  <%= render '/portraits/dislikes' %>
</div>

<div class="two_column"> 
  <h4 class="shallow">My strengths</h4>
  <%= render '/portraits/strengths' %>
</div>

<hr />
<div class="two_column rightpos"> 
  <h4 class="shallow">Possible limitations</h4>
  <%= render '/portraits/limitations' %>
</div>

<div class="two_column">
  <h4 class="shallow">In my sights</h4>
  <%= render '/portraits/aims' %>
</div>
<hr />
<div class="two_column rightpos">

</div>

<div class="two_column rightpos">
  <h4 class="shallow">And finally ...</h4>
  <%= render '/portraits/notes' %>
</div>
  
<div class="two_column">
  <h4 class="shallow">My previous jobs</h4>
  <%= render '/portraits/jobs' %>
</div>
<hr />

