  <%= will_paginate @applications %>
  <table class= "smaller_font">
    <tr>
      <th>Job</th>
      <th>Submission<br />deadline</th>
      <th></th>
      <th></th>
    </tr>
    <% @applications.each do |application| %>
    <tr>
      <td class="grayline">
         <%= render '/applications/detail', :application => application %>
         <em>(<%= pluralize(application.vacancy.all_completed_applications.count, "application") %>)</em>
      </td>
      <td class="at_top grayline"><%= application.vacancy.close_date.strftime("%b %d, %Y") %></td>
      <td class="at_top grayline">
        <% if application.next_action == 2 %>
          <%= link_to image_tag("select.png", :size => "15x15"), edit_my_application_path(application) %>
        <% else %>
          <%= link_to image_tag("select.png", :size => "15x15"), edit_bookmark_path(application) %>
        <% end %>
      </td>
      <td class="at_top grayline">
        <% if application.next_action == 2 %>
          <%= link_to image_tag("cancel.png", :size => "15x15"), incomplete_application_path(application), 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Remove this incomplete application from your list" %>
        <% else %>
          <%= link_to image_tag("cancel.png", :size => "15x15"), bookmark_path(application), 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Remove this bookmark from your list" %>
        <% end %>
      </td>
      
    </tr>
    <% end %>
  </table>
  <%= will_paginate @applications %>
