<div class = "r-float">
  <%= link_to "Back to vacancies list", session[:return_to] %>
</div>

<h1><%= @title %></h1>

  <em><%= instructions %></em>
  <br /><br />

<%= render "/vacancies/brief", :vacancy => @vacancy %>
<br />
<h4 style = "margin-bottom: 0px">Summary</h4>
<%= render "/outlines/fields" %>
<br />
<%= render "specs" %>
<hr />

<% if signed_in? %>
  <% if current_user.has_public_portrait? %>
    <%= form_for [@vacancy, @application] do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      <span class= "action_label round">Want to bookmark or apply for this job?</span>&nbsp;
      <%= select :application, :next_action, @actions %>
      <%= f.hidden_field :user_id %>
      <br /><br />
      <div class="actions rightpos" style = "margin-right:100px">
        <%= f.submit "Continue" %>
      </div>
    <% end %>
  <% else %>
    <div class = "r-float">
      <%= link_to "Back to vacancies list", session[:return_to] %>
    </div>
  <% end %>  
<% else %>
  <div class = "r-float">
    <%= link_to "Back to vacancies list", session[:return_to] %>
  </div>
<% end %>
