<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :limitation, "Limitations that employers need to know about *" %>
    <br /><br />
  <%= f.text_field :limitation, :maxlength => 50, :size => 40 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
   
    $('#limitation_limitation').click(function() {
      $('.char-count').css('visibility', 'visible');
    });
      
    $('#limitation_limitation').live('keyup keydown', function(e) {
      var maxLen = 50;
      var left = maxLen - $(this).val().length;
      $('.char-count').html(left);
    });
    
   });
   
  <% end %>
<% end %>
