<div class = "r-float">
  <% unless @user.max_strengths? %>
    <%= link_to "Add one of your strengths", new_user_strength_path(@user) %><br /> 
  <% end %>
  <%= link_to "Full Portrait", user_portrait_path(@user) %>
</div>

<h1><%= @user.name %>'s strengths</h1>
<div class="display_wider">
  <em>
    <% if @user.has_strengths? %>   
      Click on <%= image_tag("cancel.png", :size => "15x15") %> to delete 
      and <%= image_tag("select.png", :size => "15x15") %> to modify a strength.
      <br /><br />
      <% if @user.count_strengths > 1 %>
        Then click and drag the list-items until your greatest strength is at the top.
      <% end %>
    <% end %>
    You can add up to 5 strengths.
  </em>
</div>
<hr />
<ul id="strength" style="cursor: move">
  <% @strengths.each do |f| %>
  <li id="item_<%= f.id %>" class="no_bullet">
    <span style="vertical-align:top">
       <%= link_to(image_tag("cancel.png", :size => "15x15"), f, 
                   	:method => :delete, 
                   	:confirm => "You sure?",
                   	:title => "Remove this strength") %>
    </span> &nbsp;
    <span style="vertical-align:top"> 
       <%= link_to(image_tag("select.png", :size => "15x15"), 
    			edit_strength_path(f), 
    			:title => "Edit this strength") %> 
    </span>&nbsp;    
    <span style = "display:inline-block; width:80%"><%= f.strength %></span>
   
   </li>
  <% end %>
</ul>

<%= sortable_element('strength', 
    :url => { :action => "sort", :id => @user }, 
    
    :complete => visual_effect(:highlight, "strength")) %>

