<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_strengths? %>
    <%= link_to "Add one of your strengths", new_user_strength_path(@user) %><br /> 
  <% end %>
</div>

<h4><%= @user.name %>'s strengths</h4>
<div id="rubric">
  <em>
    <% if @user.has_strengths? %>   
      <% if @user.count_strengths > 1 %>
        Click and drag the list-items until your greatest strength is at the top.
      <% end %>
    <% end %>
    You can add up to 5 strengths.
  </em>
</div>

<div id="listing" class="under">
  <ul id="strengths-list" class="no_dec">
    <% @strengths.each do |f| %>
      <li id="strength_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this strength?",
                   	:title => "Remove this strength") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_strength_path(f), 
    			:title => "Edit this strength") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.strength %></span>
   
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
   $(document).ready(function(){
   
    $('#strengths-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#strengths-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#strengths-list').effect('highlight');
	},
	url: 'strengths/sort'})
      }
     })
    
    });
    
   <% end %>
<% end %>
