<div class = "r-float">
  <% if current_user.account == 1 %>
    <%= link_to "#{@job.job_title} menu", my_job_path %>
  <% elsif current_user.account == 4 %>
    <%= link_to "Home Page", employee_home_path %>
    <% unless @plan.no_changes? %>
      <br />
      <%= link_to "Update A-Plan", @plan %>
    <% end %>
  <% else %>
    <% if session[:officer_off] == true %>
      <%= link_to "Home Page", employee_home_path %><br />
      <%= link_to "Edit your A-Plan", @plan %>
    <% else %>
      <%= link_to "#{@job.job_title} menu", @job %> <br />
      <%= link_to "All jobs in business", business_jobs_path(@business) unless current_user.account == 1 %><br />
    <% end %>
  <% end %>
</div>

<h1><%= @title %></h1>
<h4><%= @job.job_title %></h4>

<%= render 'instructions' %>

<div style ="margin-top: 10px"><strong>SUMMARY</strong></div>
<%= render "/outlines/fields" %>

<hr />
<%= render "responsibilities" %>

<hr />
<%= render "attributes" %>
<hr />

<%= render "requirements" %>
<hr />

<strong>JOB VALUE: <%= @plan.job_value %></strong> &nbsp;<small>(based on top 10 responsibility ratings)</small> 
