<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :qualification, "Qualification *" %>
  <div class="subtext under">
    Add your most important academic or career-based awards
    <br /><br />
  </div>
  <%= f.text_field :qualification, :maxlength => 50, :size => 40 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#qualification_qualification').click(function() {
        $('.char-count').css('visibility', 'visible');
      });
         
      $('#qualification_qualification').live('keyup keydown', function(e) {
        var maxLen = 50;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
  <% end %>
<% end %>
