<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_qualifications? %>
    <%= link_to "Add a qualification", new_user_qualification_path(@user) %>
  <% end %>
</div>

<h4><%= @user.name %>'s qualifications</h4>
<div id="rubric">
  <em>
    <% if @user.has_qualifications? %>   
      <% if @user.count_qualifications > 1 %>
        Click and drag to arrange your qualifications with the most important first.
      <% end %>
    <% end %>
    You can add up to 5 qualifications or professional awards.
  </em>
</div>

<div id="listing" class="under">
  <ul id="qualifications-list" class="no_dec">
    <% @qualifications.each do |f| %>
      <li id="qualification_<%= f.id %>">
        <span style="vertical-align:top">
         <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this qualification?",
                   	:title => "Remove this qualification") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_qualification_path(f), 
    			:title => "Edit this qualification") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.qualification %></span>
   
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
   $(document).ready(function(){
    $('#qualifications-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#qualifications-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#qualifications-list').effect('highlight');
	},
	url: 'qualifications/sort'})
      }
     })
    });
   <% end %>
<% end %>
