<div class = "r-float">
<%= link_to "Cancel", hiring_requirements_path %>
</div>
<h1><%= @title %></h1>

<h4>for <%= @job.title_location %></h4>

<%= form_for([@plan, @qualification]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div class = "field">
    <%= f.label :qualification %> <small>(Max 50 characters)</small><br />
    <%= f.text_field :qualification %>
  </div> 
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
  
