<div class = "r-float">
  <%= link_to "Cancel", @vacancy %>
</div>
<h1>Edit Vacancy</h1>
<h4>for <%= @job.title_location %></h4>

<%= form_for(@vacancy) do |f| %>
  
  <%= render "fields", :f => f %>
  <div class="actions">
    <%= f.submit "Confirm changes" %>
  </div>
  
<% end %>
