<%= link_to image_tag("pageback.png", :title => "Previous"), @vacancy, :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster_woicon' %>
</div>

<%= form_for(@vacancy) do |f| %>
  <%= render "fields", :f => f %>
  <div class="actions">
    <%= f.submit :class => "create round" %>
  </div>
  
<% end %>
