<div class = "r-float">
  <%= link_to "Menu for #{@job.job_title}", @job %><br />
  <% if @job.vacancy_record_count > 1 %>
    <%= link_to "All vacancies for job", vacancies_path %><br />
  <% end %>
  <%= link_to "Edit", edit_vacancy_path(@vacancy) %> &nbsp; &nbsp; &nbsp; &nbsp;
  <%= link_to "Delete", @vacancy, 
                       :method => :delete, 
                       :confirm => "You sure?" %>
</div>

<h1><%= @title %></h1>
<br /><br />
<%= render 'brief' %>


