<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :job, "Previous or current job" %>
  <div class="subtext under">  
    Enter the job-title and, optionally, add the name of the employer. Max 50 characters in total.
    <br /><br />
  </div>
  <%= f.text_field :job, :maxlength => 50, :size => 40 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>
<div class="field">
  <%= f.label :years, "Number of years in job" %> 
  <%= select( :previousjob, :years, @periods ) %>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
  
   $(document).ready(function(){
   
    $('#previousjob_job').click(function() {
     $('.char-count').css('visibility', 'visible');
    });
      
    $('#previousjob_job').live('keyup keydown', function(e) {
    var maxLen = 50;
    var left = maxLen - $(this).val().length;
    $('.char-count').html(left);
    });
    
   });
    
  <% end %>
<% end %>
