<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_previousjobs? %>
    <%= link_to "Add a previous job", new_user_previousjob_path(@user) %><br /> 
  <% end %>
</div>

<h4><%= @user.name %>'s previous jobs</h4>
<div id="rubric">
  <em>
    <% if @user.has_previousjobs? %>   
      <% if @user.count_previousjobs > 1 %>
        Click and drag the list-items till your most recent (or current) job is at the top.
      <% end %>
    <% end %>
    You can add up to 5 jobs.
  </em>
</div>

<div id="listing" class="under">
  <ul id="previousjobs-list" class="no_dec">
    <% @previousjobs.each do |f| %>
      <li id="previousjob_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this job?",
                   	:title => "Remove this job") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_previousjob_path(f), 
    			:title => "Edit this job") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.job_details %></span>
   
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
    
    $('#previousjobs-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#previousjobs-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#previousjobs-list').effect('highlight');
	},
	url: 'previousjobs/sort'})
      }
     })
    
    });

   <% end %>
<% end %>
