<div class = "r-float">
  <% unless @user.max_previousjobs? %>
    <%= link_to "Add a previous job", new_user_previousjob_path(@user) %><br /> 
  <% end %>
  <%= link_to "Full Portrait", user_portrait_path(@user) %>
</div>

<h1><%= @user.name %>'s previous jobs</h1>
<div class="display_wider">
  <em>
    <% if @user.has_previousjobs? %>   
      Click on <%= image_tag("cancel.png", :size => "15x15") %> to delete 
      and <%= image_tag("select.png", :size => "15x15") %> to modify a job.
      <br /><br />
      <% if @user.count_previousjobs > 1 %>
        Then click and drag the list-items till your most recent (or current) job is at the top.
      <% end %>
    <% end %>
    You can add up to 5 jobs.
  </em>
</div>
<hr />
<ul id="previousjob" style="cursor: move">
  <% @previousjobs.each do |f| %>
  <li id="item_<%= f.id %>" class="no_bullet">
    <span style="vertical-align:top">
       <%= link_to(image_tag("cancel.png", :size => "15x15"), f, 
                   	:method => :delete, 
                   	:confirm => "You sure?",
                   	:title => "Remove this job") %>
    </span> &nbsp;
    <span style="vertical-align:top"> 
       <%= link_to(image_tag("select.png", :size => "15x15"), 
    			edit_previousjob_path(f), 
    			:title => "Edit this job") %> 
    </span>&nbsp;    
    <span style = "display:inline-block; width:80%"><%= f.job %></span>
   
   </li>
  <% end %>
</ul>

<%= sortable_element('previousjob', 
    :url => { :action => "sort", :id => @user }, 
    
    :complete => visual_effect(:highlight, "previousjob")) %>

