<%= render 'shared/error_messages', :object => f.object %>
  
<div class = "field">
  <%= f.label :requirement, "Hiring requirement *" %>
  <div class="subtext">
    Qualifications, experience, background ...
  </div>
  <%= f.text_field :requirement, :maxlength => 50, :size => 38 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#requirement_requirement').click(function() {
        $('.char-count').css('visibility', 'visible');
      });

      $('#requirement_requirement').live('keyup keydown', function(e) {
        var maxLen = 50;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
    
  <% end %>
<% end %>
