<nav class="topmenu over">
  <% unless current_user.account < 3 %>
    <ul>
      <span id="thisjob"><li><%= link_to "Job menu", @job %></li></span>
      <span id="aplan"><li><%= link_to "A-Plan menu", @plan %></li></span>
      <span id="responsibilities"><li><%= link_to "Job responsibilities", responsibilities_path %></li></span>
      <span id="jobs"><li><%= link_to "All jobs", business_jobs_path(@business) %></li></span>
    </ul>
  <% else %>
    <ul>
      <span id="aplan"><li><%= link_to "A-Plan menu", @requirement.plan %></li></span>
    </ul>
  <% end %>
</nav>

<%= link_to image_tag("pageback.png", :title => "Requirements list"), plan_requirements_path(@plan), :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div class = "shift_center_50">
  <%= form_for @requirement do |f| %>
    <%= render @requirement, :f => f %>
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  <% end %>
</div>

