<%= render 'shared/aplan_nav' unless current_user.account < 3 %>

<%= link_to image_tag("pageback.png", :title => "A-Plan menu"), @plan, :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
  <div class = "r-float under">
    <% unless @plan.max_requirements? %>
      <%= link_to "New requirement", new_plan_requirement_path(@plan) %><br />
    <% end %> 
  </div>
  
  <h1 class="no-gap under">Key hiring requirements</h1>
  <div class="subtext no-print">
    <% if @plan.has_requirements? %>
      <%= @plan.count_requirements %> added.  Usable now.
    <% else %>
      At least one hiring requirement is needed.
    <% end %><br />
    <% unless @plan.requirements.count < 2 %>
      Sort list by dragging requirements up / down.
    <% end %>
  </div>
</div>

<div id="listing">

  <ul id="requirements-list" class ="no_dec under smaller_font">
    <% @requirements.each do |f| %>
      <li id="requirement_<%= f.id %>">
    
        <div class="r-float">
          <%= link_to(image_tag("edit.png"), edit_requirement_path(f),
              :title => "Edit this requirement") %> &nbsp;
     
          <%= link_to(image_tag("delete.png"), f,
      		:method => :delete, 
		:confirm => "Are you sure you want to remove this requirement?",
		:title => "Remove this requirement") %>
        </div> 
        <span class="handle"><%= f.requirement %></span>
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
    $(document).ready(function(){
    
      $('#requirements-list').sortable(
        {
       	  axis: 'y',
	  dropOnEmpty: false,
	  handle: '.handle',
	  cursor: 'crosshair',
	  items: 'li',
	  opacity: 0.4,
	  scroll: true,
	  update: function(){
	    $.ajax({
	      type: 'post',
	      data: $('#requirements-list').sortable('serialize') + '&id=<%=@plan.id %>',
	 dataType: 'script',
	  complete: function(request){
	    $('#requirements-list').effect('highlight');
	  },
	  url: 'requirements/sort'})
        }
       })
     });
   <% end %>
<% end %>
