<%= link_to image_tag("pageback.png", :title => "Previous"), plan_requirements_path(@plan), :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div class = "shift_center_50">
  <%= form_for([@plan, @requirement]) do |f| %>
    <%= render @requirement, :f => f %>
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  <% end %>
</div>

