<div class = "r-float">
<%= link_to "Cancel", plan_requirements_path(@plan) %>
</div>
<h1><%= @title %></h1>

<h4>for <%= @job.job_title %></h4>

<div class = "shift_center">
  <%= form_for([@plan, @requirement]) do |f| %>
    <%= render @requirement, :f => f %>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
