<div class = "r-float">
<%= link_to "Cancel", business_jobs_path(@business) %>
</div>

<h1><%= @title %></h1>

<%= form_for(@job) do |f| %>
  <div class="shift_center">
    <%= render 'fields', :f => f %>
    <div class="actions">
      <%= f.submit "Confirm" %>
    </div>
  </div>
<% end %>
