<%= link_to image_tag("pageback.png", :title => "Previous"), officer_home_path, :class => "magnify" %>

<div class = "r-float">
  <%= link_to "Add a job", new_business_job_path(@business) unless @business.no_departments? %>
</div>

<h4 class="over"><%= @business.name_city %></h4>

<div id="listing">
  <% unless @jobs.empty? %>
    <%= will_paginate %>
    <ul class="no_dec">
      <% @jobs.each do |job| %>
      <li>
        <%= link_to job.job_title, job_path(job) %>
        
        <div class="r-float">
          <%= image_tag("complete.png", :size => "15x15") if job.plan.complete? %>
          <%= image_tag("locked.png", :size => "15x15") if job.plan.no_changes? %>
          <% unless job.has_active_placements? %>
            <% if job.has_former_placements? %>
              <%= link_to image_tag("store.png", :size => "20x15"), job, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to remove '#{job.title_department}' from the list of active jobs?  (You'll be able to activate it again later, if necessary - and you won't lose the A-Plan.)",
                   :title => "Remove '#{job.title_department}' from list of current jobs" %>
            <% else %>
              <%= link_to image_tag("delete.png"), job, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to delete '#{job.title_department}' (including the A-plan) from the jobs list?",
                   :title => "Delete '#{job.title_department}' completely" %>
            <% end %>
          <% end %>
        </div>
        
        <div class="subtext">
          Category: <%= job.occupation.name %><br />
          <% unless job.department_id == nil %>
            Department: <%= job.department.name %>
            <br />
          <% end %>
          <% if job.plan.job_value.nil? || job.plan.job_value == 0 %>
            No job rating yet.
          <% else %>
            Job rating: <%= job.plan.job_value %>        
          <% end %>
        </div>
        
        
    
          
        </li> 
      
      <% end %>
    </ul>
    <%= will_paginate %>
  <% else %>  
    <div class="no_data round"> 
      <% if @business.no_departments? %>
        Before you can start adding jobs, you need to set up departments.
      <% else %>
        You haven't added any jobs yet. Why not start now - with your own?
      <% end %>
    </div>
  <% end %>
</div>
