<%= link_to image_tag("pageback.png", :title => "Previous"), business_jobs_path(@business), :class => "magnify" %>

<h4 class="over"><%= @job.business.name_city %></h4>

<div id="listing">
  <strong><%= @job.job_title %></strong>
  <div class="r-float">
    <%= link_to "Edit", edit_job_path(@job) %>
  </div>
  <div class="subtext">
    Category: <%= @job.occupation.name %><br />
    <% unless @job.department_id == nil %>
      Department: <%= @job.department.name %>
    <% end %>
  </div>

  <ul class="no_dec under">
    <li>
      <%= link_to "Employees", jobholders_path %>
      <div class="subtext">
        <%= @job.active_placements.count %> listed.
      </div>
    </li>
    <li>
      <%= link_to "Achievement Plan", @plan %>
      <% if @job.plan.complete? %>
        <%= image_tag("complete.png", :size => "15x15") %>
      <% else %>
        <%= image_tag("warning.png", :size => "15x15") %>  
      <% end %>
      <%= image_tag("locked.png", :size => "15x15") if @job.plan.no_changes? %>
        
      <div class="subtext">
        <span id="status">    
          <%= plan_status %>
        </span>
      </div>
    </li>

    <li>
      <% if @plan.complete? %>
        <% if Vacancy.zero_for?(@job) %>
          <%= link_to "Announce a vacancy", new_vacancy_path %>
        <% else %>
          <% if @job.vacancy_record_count > 1 %>
            <%= link_to "Vacancies", vacancies_path %>
            <div class="subtext"> 
              <%= pluralize(@count_vacancies, 'vacancy') %>
            </div>
          <% else %>
            <%= link_to "Vacancy details", @vacancy %>
            <div class="subtext">
              <%= pluralize(@count_vacancies, 'vacancy') %> listed
            </div>
          <% end %>
        <% end %>
      <% else %>
        <span class="highlt">Vacancies</span> <%= image_tag("warning.png") %> 
        <div class="subtext">
          First complete the A-Plan.
        </div>
      <% end %>
    </li>
  </ul>
</div>
