<div class = "r-float">
<%= link_to "All jobs", business_jobs_path(@business) %>
</div>

<h1><%= @title %>  <small style = "font-size:0.7em"><%= link_to "(Edit job details)", edit_job_path(@job) %></small></h1>
<p><strong><%= @job.business.name %></strong></p>
<p><strong>Department:</strong> <%= @job.department.name unless @job.department_id == nil %><br />
   <strong>Category:</strong> <%= @job.occupation.name %>
</p>

<div class = "display_box grayborder round rightpos">
  <strong><%= pluralize(@job.active_placements.count, 'employee').upcase %></strong><br />
</div>

<div class = "display_box grayborder round">
  <strong>ACHIEVEMENT PLAN</strong> <br />
  <span id="status">    
    <% if @plan.complete? %>
      <%= link_to plan_status, aplan_path(@plan) %>
    <% else %>
      <%= link_to plan_status, plan_path(@plan) %>
    <% end %>
  </span>
</div>
<br />

<div class = "display_box grayborder round">
  <strong><%= pluralize(@count_vacancies, 'vacancy').upcase %></strong> <br />
   <% if @plan.complete? %>
     <% if Vacancy.zero_for?(@job) %>
       <%= link_to "Add a vacancy", new_vacancy_path %>
     <% else %>
       <% if @job.vacancy_record_count > 1 %>
         <%= link_to "Details", vacancies_path %>
       <% else %>
         <%= link_to "Details", @vacancy %>
       <% end %>
     <% end %>
   <% else %>
     <br />
     <span class="highlt round">First complete the A-Plan.</span>
   <% end %>
</div>

