<div class = "r-float">
<%= link_to "All jobs", business_jobs_path(@business) %>
</div>

<h1><%= @title %>  <small style = "font-size: 0.4em"><%= link_to "(change)", edit_job_path(@job) %></small></h1>
<p><strong><%= @job.business.name %></strong></p>
<p><strong>Category:</strong> <%= @job.occupation.name %> &nbsp;
   <small><%= link_to "(change)", edit_job_path(@job) %></small>
</p>

<div class = "display_box grun round rightpos">
  <strong>EMPLOYEES</strong>
</div>

<div class = "display_box pink round">
  <strong>ACHIEVEMENT PLAN</strong> <br />
   <%= link_to "Create one now", "#" %>
</div>
<br />

<div class = "display_box beige round">
  <strong>VACANCIES</strong> <br />
   0 <br />
   <%= link_to "Adjust", "#" %>
</div>

