    <div class="field">
      <% if @select_focus == true %>
        <%= f.label :focus, "Focus *" %> &nbsp;
        <%= select( :objective, :focus, Objective::FOCUS_TYPES, 
                         :prompt => true) %>
      <% else %>
        Focus: &nbsp;
        <%= @objective.focus_name.upcase %>
      <% end %>
    </div>
    
    <div class="field">
      <%= f.label :objective, "Objective *" %>
      <%= f.text_area :objective, :maxlength => 255, :class => "downsize" %>
      <div id= "objective_count" class="char-count"><%= @characters_objective %> characters left</div>
    </div>

    <div class="field">
      <%= f.label :measurement, "Measurement *" %> 
      <%= f.text_area :measurement, :maxlength => 255, :class => "downsize" %>
      <div id="measurement_count" class="char-count"><%= @characters_measurement %> characters left</div>
    </div>
    
<% content_for :javascript do %>

  <%= javascript_tag do %>
    
   $(document).ready(function(){
       
    $('#objective_objective').click(function() {
      $('#objective_count').css('visibility', 'visible');
    });
    
    $('#objective_objective').live('keyup keydown', function(e) {
    var maxLen = 255;
    var left = maxLen - $(this).val().length;
    $('#objective_count').html(left);
    });
    
    $('#objective_measurement').click(function() {
      $('#measurement_count').css('visibility', 'visible');
    });
    
    $('#objective_measurement').live('keyup keydown', function(e) {
    var maxLen = 255;
    var left = maxLen - $(this).val().length;
    $('#measurement_count').html(left);
    });
    
   });
   
  <% end %>
<% end %>
