<%= will_paginate @users %>
<div id="listing">
  <ul class="no_dec">
    <% @users.each do |u| %>
      <li>
        <%= link_to u.name, officer_user_path(u) %>
        <div class="subtext">
          <% if u.no_current_job?(@business) %>
            <span class="highlt">Not yet assigned to a job</span>
          <% else %>  
            <%= u.current_job(@business).job_title %>
            <% unless u.no_current_job?(@business) %>
              - <%= u.current_job(@business).department.name %>
            <% end %>
            <% if u.employee_lookup(@business).officer? %>
              <strong>(Officer)</strong>
            <% end %>
          <% end %>  
        </div>
      </li>
    <% end %>
  </ul>
</div>
<%= will_paginate @users %>

