<div class = "r-float">
  <%= render 'home_redirection' %>
</div>

<h1>Edit your account settings</h1>

<% unless @user.account == 4 %>
  <div class="info_box grayborder rightpos">
    <br />
    <%= render "/shared/account_types" %> 
    <br /><br />
  </div>
<% end %>

<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %> <small>(Your normal first name and family name)</small><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %> <br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <% if @user.account == 4 %>
      Signed up for an Employee account with<br /> <strong><%= @business.name.upcase %></strong>.
      <%= f.hidden_field :account %>
      <br /><br />
    <% else %>
      <%= f.label :account, "Account-type" %> <small>(see panel right)</small> &nbsp;
      <%= select( :user, :account, @accounts ) %>
    <% end %>
  </div>
  
  <% if @user.account == 2 %>
    <div class="field" style = "width:300px">
      <strong>Location</strong> <br />
      <%= @user.city %>, <%= @user.country %>.
      <br /><br />
      <small>If the location's wrong, replace your IP address below with your post-code or address. (Max 50 characters)</small> 
      <%= f.text_field :address %>
    </div>
  <% end %>
  <div class="field">
     <strong>Re-enter password</strong> &nbsp; <%= f.password_field :password, :size => 16 %><br />
     <strong>Confirm password </strong> &nbsp; <%= f.password_field :password_confirmation, :size => 16 %> 
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
