<h1>Sign up</h1>

<% if session[:invited] == nil %>
  <div class="info_box grayborder rightpos">
    <br />
    <%= render "/shared/account_types" %> 
    <br /><br />
  </div>
<% end %>

<%= form_for(@user) do |f| %>

  <%= render 'fields', :f => f %>
  
  <div class="field">
    I have read and agree to <%= link_to "the HYGWIT terms", "#" %>.
    <%= f.check_box :terms %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

