<% if session[:invited] == nil %>
  <div class="info_box grayborder rightpos" style="display: none">
    <br />
    <%= render "/shared/account_types" %> 
    <br /><br />
  </div>
<% end %>

<%= form_for(@user) do |f| %>

  <%= render 'fields', :f => f %>
  
  <div class="field">
    Check to confirm you've read and agree to <%= link_to "the HYGWIT terms", "#" %>.
    <%= f.check_box :terms %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up", :class => "create round" %>
  </div>
<% end %>

