<%= render 'home_redirection' %>

<div class = "r-float">
  <%= link_to "Edit settings", edit_user_path(@user) %>
</div>


<div id="listing" class="under">
  <ul class="no_dec"> 
    <li>Name: <br /><%= @user.name %></li>
    <li>Email:<br /><%= @user.email %></li>
    <li>Account-type: 
       <%= @user.account_type.upcase %>
      <div class="subtext">
        <%= account_explanation %>
      </div>
    </li>
    <% if @user.account == 4 %>
      <% unless session[:biz] == nil %>
        <li>
          Employer: <br /><%= @business.name %>, <%= @business.city %>
        </li>
      <% end %>
    <% else %>
      <li>  
        Location: <br /><%= @user.city %>, <%= @user.country %>
      </li>
    <% end %>
    <li>
      Your password is never shown -  
      <div class="subtext">
        but you can change it by editing settings
      </div>  
    </li>
  </ul>
</div>


    
