<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :favourite, "List one of your favourite interests or activities *" %>
  <div class="subtext under">
    ... either at work or in your own time.
    <br /><br />
  </div>
  <%= f.text_field :favourite, :maxlength => 50, :size => 40 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
   
    $('#favourite_favourite').click(function() {
      $('.char-count').css('visibility', 'visible');
    });
    
    $('#favourite_favourite').live('keyup keydown', function(e) {
      var maxLen = 50;
      var left = maxLen - $(this).val().length;
      $('.char-count').html(left);
    });
   
   });
   
  <% end %>
<% end %>
