<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_favourites? %>
    <%= link_to "Add a favourite", new_user_favourite_path(@user) %> 
  <% end %>
</div>

<h4><%= @user.name %>'s favourite things</h4>
<div id="rubric">
  <em>
    <% if @user.has_favourites? %>   
      <% if @user.count_favourites > 1 %>
        Click and drag until your biggest favourites are at the top of the list.
      <% end %>
    <% end %>
    You can add up to 5 favourites.
  </em>
</div>

<div id="listing" class="under">
  <ul id="favourites-list" class="no_dec">
    <% @favourites.each do |f| %>
      <li id="favourite_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this favourite?",
                   	:title => "Remove this favourite") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_favourite_path(f), 
    			:title => "Edit this favourite") %> 
        </span>&nbsp;    
        <span class = "handle" style = "display:inline-block; width:80%"><%= f.favourite %></span>
  
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
   $(document).ready(function(){
   
    $('#favourites-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#favourites-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#favourites-list').effect('highlight');
	},
	url: 'favourites/sort'})
      }
     })
    });
    
   <% end %>
<% end %>
