<%= link_to image_tag("pageback.png", :title => "Previous"), officer_user_path(@user), :class => "magnify" %>

<div id="employee">

  <strong><%= @user.name.upcase %></strong>
  <div class="subtext over">
    <%= @job.job_title %> <br />
    in <%= @job.department.name %>
  </div>  

  <%= form_for @placement do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
    
    <div class="field">
      <%= f.label :started_job, "Start-date: current job" %><br />
      <%= f.date_select :started_job %>
    </div>
    
    <div class="actions" %>
      <%= f.submit "Confirm", :class => "create round" %>
    </div>
   
  <% end %>
  
</div>
