<div class = "r-float">
  <%= link_to "Cancel", officer_user_path(@user) %>
</div>

<h1><%= @title %></h1>
<h4><%= @user.name %></h4>

<%= form_for @placement do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
  <div class= "display_wider">
    <strong>Department:</strong> <%= @job.department.name %><br />
    <strong>Job-title:</strong> <%= @job.job_title %>
    <br /><br />
    <div class="field">
      <%= f.label :started_job, "Start-date in this job" %><br />
      <%= f.date_select :started_job %>
    </div>
    
    <div class="actions" %>
      <%= f.submit "Confirm" %>
    </div>
   
  </div>
<% end %>
