<%= link_to image_tag("pageback.png", :title => "Previous"), officer_user_path(@user), :class => "magnify" %>

<div id="employee">
  <strong><%= @user.name.upcase %></strong>
  <div class="subtext over">
    <%= job_now %><br />
    <%= start_job_now %>
  </div>

  <%= form_for([@user, @placement]) do |f| %>
    <%= render "shared/error_messages", :object => f.object %>

      <div class="field">
        <%= f.label :job_id, "Set new job / department *" %><br />
        <%= collection_select(:placement, :job_id, @jobs, :id, :title_department, :prompt => true) %> 
      </div>
    
      <div class="field">
        <%= f.label :started_job, "Start-date for new job *" %><br />
        <%= f.date_select :started_job %> 
      </div>
  
      <br />
      <div class="actions">
        <%= f.submit "Confirm", :class => "create round" %>
      </div>
  
  <% end %>
</div>
