<h1><%= @title %></h1>
<h4>for <%= @job.title_location %></h4>

<p><strong>QUALIFICATIONS</strong> 
  &nbsp; <%= link_to "( Add )", new_plan_qualification_path(@plan) %>
  &nbsp; <%= link_to "( Change )", plan_qualifications_path(@plan) %>
</p>
<ul> 
  <% @qualifications.each do |qualification| %>
    <li><%= qualification.qualification %></li>
  <% end %>
</ul>
