<%= render 'shared/error_messages', :object => f.object %>
<div class="field">
  <%= f.label :name, "Department name *" %><br />
  <%= f.text_field :name, :maxlength => 20 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>
<div class="field">
  <%= f.label :manager_id, "Department head" %><br />
  <%= collection_select(:department, :manager_id, @people, :id, 
                        :name, :prompt => true) %>
</div>
<div class="field">
  <%= f.label :deputy_id, "Deputy department head" %><br />
  <%= collection_select(:department, :deputy_id, @people, :id, 
                        :name, :prompt => true) %>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
   
    $('#department_name').click(function() {
      $('.char-count').css('visibility', 'visible');
    });
   
    $('#department_name').live('keyup keydown', function(e) {
    var maxLen = 20;
    var left = maxLen - $(this).val().length;
    $('.char-count').html(left);
    });
    
   });
   
  <% end %>
<% end %>
