<%= link_to image_tag("pageback.png", :title => "Previous"), @department, :class => "magnify" %>

<h4 class="over"><%= @business.name_city %></h4>

<%= form_for @department do |f| %>

  <%= render 'fields', :f => f %>

  <div class="actions">
    <%= f.submit :class => "create round" %>
  </div>
<% end %>

