<%= link_to image_tag("pageback.png", :title => "Previous"), officer_home_path, :class => "magnify" %>

<div class="r-float">
  <%= link_to "Add a department", new_business_department_path(@department) %>
</div>

<h4 class="over"><%= @business.name_city %></h4>

<div id="listing">
  <% unless @departments.empty? %>
    <%= will_paginate @departments %>
    <ul class="no_dec">
      <% @departments.each do |department| %>  
      
        <li>
          <%= link_to department.name, department %>
        
          <span class="r-float">
            <% unless department.has_active_jobs? %>
          
              <% if department.has_inactive_jobs? %>
                <%= link_to image_tag("delete.png"), department, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to exclude '#{department.name}' from the current departments list?",
                   :title => "Remove '#{department.name}' from the list of current departments" %>
          
              <% else %>
                <%= link_to image_tag("delete.png"), department, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to delete '#{department.name}' completely?",
                   :title => "Delete '#{department.name}' completely" %>
              <% end %>
          
            <% end %>    
          </span>
        
          <div class="subtext">
             <div id="manager">
               <% unless department.manager_id == nil %>
                 Department head: <%= department.manager.name %>
               <% end %>
             </div>
             <div id="deputy">
               <% unless department.deputy_id == nil %>
                 Deputy: <%= department.deputy.name %>
               <% end %>
             </div>
             <div id="positions">
               Headcount: <%= department.headcount %> &nbsp; &nbsp;
               Job-titles: <%= department.position_count %>
             </div>
          </div>
        
        </li>
      <% end %>
    </ul>
    <%= will_paginate @departments %>
  <% else %>
    <div class="no_data round">
      <%= image_tag("no_entry.png") %> &nbsp;
      You haven't added any departments yet.  You need to - because jobs will be linked to their departments.
    </div> 
  <% end %>
</div>
