<%= link_to image_tag("pageback.png", :title => "Previous"), business_departments_path(@business), :class => "magnify" %>

<h4 class="over"><%= @business.name unless @user.account == 1 %></h4>

<%= form_for([@business, @department]) do |f| %>
  <div class="shift_center_50">

    <%= render 'fields', :f => f %>

    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  </div>
<% end %>

