<%= link_to image_tag("pageback.png", :title => "Previous"), business_departments_path(@business), :class => "magnify" %>

<h4 class="over"><%= @business.name %></h4>

  <div class="r-float">
    <%= link_to "Edit", edit_department_path(@department) %>
  </div>
  
  <%= @department.name %>
  <div class="subtext">
    <% unless @department.manager_id == nil %>
      Department Head: <%= @department.manager.name %>
      <br />
    <% end %>
    <% unless @department.deputy_id == nil %>
      Deputy: <%= @department.deputy.name %>
      ( <%= @department.deputy.email %> )
      <br />
    <% end %>
  </div>

<br />
<h4 class=subtitle>TEAM</h4>
<%= render 'team' %>
