<div class = "r-float">
  <%= link_to "Back", @vacancy %><br />
</div>

<h1><%= @title %></h1>
<br />
<%= render "/vacancies/brief" %> 
<br />
<h4 style = "margin-bottom: 0px">Job summary</h4>
<%= render "/outlines/fields" %>
<br />
<%= render "/applications/specs" %>
