  <div class = "info_box_screen">
  <%= will_paginate @targets %>
    <ul> 
      <% @targets.each do |target| %> 
        <div style="margin-bottom:10px">  
          <li class="no_bullet" style="padding-bottom: 0">
            <strong>Target-date:</strong> <%= display_daymonthday(target.target_date) %> &nbsp;
            <%= link_to image_tag("select.png", :size => "13x13"), edit_my_target_path(target),
                                :title => "Edit target" %> &nbsp;
            <% unless target.created_at < Time.now - 3.days %>
              <%= link_to image_tag("cancel.png", :size => "13x13"), my_target_path(target), 
    			:method => :delete, 
    			:confirm => "You sure?",
                        :title => "Delete target" %> &nbsp;
            <% end %>
            <% if target.cancelled? %>
              <span class="highlt round">CANCELLED</span>
            <% end %>
            <% if target.achieved? %>
              <span class="achieved round">ACHIEVED</span>
            <% end %>
          </li>
          <li class="no_bullet" style = "padding-bottom: 0"><strong>Target:</strong> <%= target.target %></li>
          <% unless target.note.empty? %>
            <li class= "no_bullet" style ="padding-bottom: 0">
              <strong>Note:</strong> <%= target.note %>
            </li>
          <% end %>
        </div>
        <hr />
      <% end %>
    </ul>
  <%= will_paginate @targets %>
  </div>
