<div class = "r-float">
  <%= link_to "Cancel", my_targets_path %>
</div>

<h1><%= @title %></h1>
<h4>
  <% if @user.account == 1 %>
    <%= @user.name %> - <%= @job.job_title %>
  <% else %>
    <%= @user.name %> - <%= @business.name %><br />
    <%= @job.title_department %>
  <% end %>
</h4>

<%= form_for(@target, :url => my_target_path(@target)) do |f| %>
  
  <%= render "fields", :f => f %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
