<div class = "r-float">
  <%= link_to "Performance reviews menu", performance_reviews_path %>
</div>

<h1><%= @title %></h1>
<h4><%= @business.name %></h4>

<%= will_paginate @reviews %>

<table class="smaller_font">
  <tr>
    <th>Employee</th>
    <th>Department</th>
    <th>Reviewer</th>
    <th>Set up</th>
    <th>Status</th>
  </tr>

  <% @reviews.each do |review| %>
  <tr>
    <td><%= review.reviewee.name %></td>
    <td><%= review.reviewee.current_department(@business).name %></td>
    <td>
      <% if review.reviewer_id == review.reviewee_id %>
        Self-appraisal
      <% else %>
        <%= review.reviewer.name %>
      <% end %>
    </td>
    <td><%= time_ago_in_words(review.created_at) %> ago</td>
    <td>
      <% if review.reviewer_id == review.reviewee_id %>
        <% if review.started? %>
          In progress
        <% else %>
          Not started yet
        <% end %>
      <% else %>
        <% if review.consent? %>
          <% if review.started? %>
            Reviewer has started
          <% else %>
            Reviewer agreement
          <% end %>
  
        <% else %>
          <% if review.started? %>
            Reviewer has started
          <% else %>
            No reviewer response
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @reviews %>
