<% if session[:reviewreq] == "external" %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), no_reviews_path, :class => "magnify" %>
<% elsif session[:reviewreq] == "self" %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), no_appraisals_path, :class => "magnify" %>
<% end %>

<%= form_for(@review, :url => officer_reviews_path) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>
 
  <div id="rubric">
    
    <h1 class="no-gap"><%= @review.reviewee.name %></h1>
    <%= @review.reviewee.current_job(@business).job_title %>, 
    <%= @review.reviewee.current_department(@business).name %><br /><br />
    Last external review:
    <% if @reviewee.no_formal_reviews?(@business) %> 
      None
    <% else %> 
      <%= time_ago_in_words(Review.find(@reviewee.last_formal_review(@business)).completion_date) %> ago.
    <% end %>
    <% if session[:reviewreq] == "external" %>
      &nbsp; <span class="highlt">Overdue</span>
    <% end %>
    <br />
    
    Last self-appraisal:
    <% if @reviewee.no_self_appraisals?(@business) %>
      None
    <% else %>     
      <%= time_ago_in_words(Review.find(@reviewee.last_self_appraisal(@business)).completion_date) %> ago. 
    <% end %>    
    <% if session[:reviewreq] == "self" %>
      &nbsp; <span class="highlt">Overdue</span>
    <% end %>  
    <br /><br />
    <div class="subtext over">
      You're setting up this review because the employee has failed to respond to reminders that a review
      or self-appraisal is overdue. In the reviewer box below, select <i><%= @review.reviewee.name %></i> for a self-appraisal
      or someone else for a colleague review.  When you 'Confirm', email alerts will be sent; notifications will also appear in the
      employee's and the reviewer's versions of HYGWIT.
    </div>
   
    <div class="fields">
      <%= f.label :reviewer_id, "Select reviewer *" %><br />
      <%= grouped_collection_select(:review, :reviewer_id, @departments, :current_team, :name, :id, :name) %>
    </div>
    
    <%= f.hidden_field :job_id %>
    <%= f.hidden_field :reviewee_id %>
    <%= f.hidden_field :placement_id %>
    <%= f.hidden_field :seen_by_reviewee %>
    <%= f.hidden_field :reviewer_name %>
    
    <br />
    <div class="actions">
      <%= f.submit "Confirm & Notify", :class => "create round" %>
    </div> 
  </div> 
<% end %>

