<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>


<div class = "r-float">
  <% unless @user.max_aims? %>
    <%= link_to "Add an aim", new_user_aim_path(@user) %><br /> 
  <% end %>
</div>

<h4><%= @user.name %>'s long-term aims</h4>
<div id="rubric">
  <em>
    <% if @user.has_aims? %>   
      <% if @user.count_aims > 1 %>
        Click and drag the list-items until your biggest aim is at the top.
      <% end %>
    <% end %>
    You can add up to 3 aims.
  </em>
</div>

<div id="listing" class="under">
  <ul id="aims-list" class="no_dec">
    <% @aims.each do |f| %>
      <li id="aim_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this aim?",
                   	:title => "Remove this aim") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_aim_path(f), 
    			:title => "Edit this aim") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.aim %></span>
   
      </li>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){ 
   
    $('#aims-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#aims-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#aims-list').effect('highlight');
	},
	url: 'aims/sort'})
      }
     })
     
    });
    
   <% end %>
<% end %>
