<div class = "r-float">
  <% unless @user.max_aims? %>
    <%= link_to "Add an aim", new_user_aim_path(@user) %><br /> 
  <% end %>
  <%= link_to "Full Portrait", user_portrait_path(@user) %>
</div>

<h1>In <%= @user.name %>'s sights</h1>
<div class="display_wider">
  <em>
    <% if @user.has_aims? %>   
      Click on <%= image_tag("cancel.png", :size => "15x15") %> to delete 
      and <%= image_tag("select.png", :size => "15x15") %> to modify an aim.
      <br /><br />
      <% if @user.count_aims > 1 %>
        Then click and drag the list-items until your biggest aim is at the top.
      <% end %>
    <% end %>
    You can add up to 5 aims.
  </em>
</div>
<hr />
<ul id="aims-list" style="cursor: move">
  <% @aims.each do |f| %>
  <li id="aim_<%= f.id %>" class="no_bullet">
    <span style="vertical-align:top">
       <%= link_to(image_tag("cancel.png", :size => "15x15"), f, 
                   	:method => :delete, 
                   	:confirm => "You sure?",
                   	:title => "Remove this aim") %>
    </span> &nbsp;
    <span style="vertical-align:top"> 
       <%= link_to(image_tag("select.png", :size => "15x15"), 
    			edit_aim_path(f), 
    			:title => "Edit this aim") %> 
    </span>&nbsp;    
    <span class="handle" style = "display:inline-block; width:80%"><%= f.aim %></span>
   
   </li>
  <% end %>
</ul>

<% content_for :javascript do %>

  <%= javascript_tag do %>
 
    $('#aims-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#aims-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#aims-list').effect('highlight');
	},
	url: 'aims/sort'})
      }
     })

   <% end %>
<% end %>
