<div class = "r-float">
  <% if @quality.submitted? | @quality.rejected? %>
    <%= link_to "Cancel", attribute_submission_path(@quality) %>
  <% else %>
    <%= link_to "Cancel", @quality %>
  <% end %>
</div>

<h1><%= "Edit attribute" %></h1>

<%= form_for(@quality) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :quality, "Attribute" %> <small> (- a 1 or 2-word label)  </small><br />
    <%= f.text_field :quality %>
  </div>
  <%= f.hidden_field :created_by %>
  <%= f.hidden_field :updated_by %>
  <div class="actions">
    <%= f.submit "Confirm" %>
  </div>
<% end %>
