<div class = "r-float">
  <%= link_to "Add an attribute", new_quality_path %><br />
  <%= link_to "New submissions", submitted_qualities_path %> <span id="submits">(<%= @submissions %>)</span>
</div>

<h1><%= @title %></h1>
<p><em>
  Click on <%= image_tag("select.png", :size => "15x15") %> to view or 
  edit the associated grades/objectives.
</em></p>
<table class="narrow">
  <% @qualities.each do |quality| %>
  <tr>
    <td><%= quality.quality %></td>
    <td><%= link_to(image_tag("select.png", :size => "15x15"), quality) %> 
    <td style = "text-align: center"><span id ="uses">
    <% if Jobquality.attribute_used?(quality) %>
      <%= Jobquality.count_attribute(quality) %>
    <% else %>
      <%= link_to image_tag("cancel.png", :size => "15x15"), quality, 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Remove #{quality.quality}" %>
    <% end %>
    </span></td>
  </tr>
  <% end %> 
</table>
