<%= link_to image_tag("pageback.png", :title => "Previous"), admin_path, :class => "magnify" %>

<div class = "r-float">
  <%= link_to "Add an attribute", new_quality_path %> |
  <%= link_to "New", attribute_submissions_path %> <span id="submits">(<%= @submissions %>)</span> |
  <%= link_to "Rejected", attribute_rejections_path %> <span id="submits">(<%= @rejections %>)</span> 
</div>

<div id = "listing">
  <ul class="no_dec smaller_font">
    <% @qualities.each do |quality| %>
      <li>
        <%= link_to quality.quality, quality, :title => "Edit" %>
        <div class="r-float">
          <% if Jobquality.attribute_used?(quality) %>
            <%= pluralize(Jobquality.count_attribute(quality), "use") %>
          <% else %>
            <%= link_to image_tag("delete.png"), quality, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to delete '#{quality.quality}'?",
                   :title => "Remove '#{quality.quality}'" %>
          <% end %>
        </div>
      </li>
    <% end %> 
  </ul>
</div>
