<%= link_to image_tag("pageback.png", :title => "Previous"), qualities_path, :class => "magnify" %>

<div id ="listing">
  
  <h1>
    <%= @quality.quality.upcase %>
    <span class="subtext">
      <%= link_to " (Edit)", edit_quality_path(@quality) %>
    </span>
  </h1>
  <ul class="no_dec">
    <% @pams.each do |pam| %>
      <li>
        <%= pam.grade %>
        <span class="r-float">
          <%= link_to "Edit", edit_pam_path(pam) %>
        </span>
        <div class="subtext">
          <%= pam.descriptor %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
