<%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>

<h4 class="over">Review for <%= @review.reviewee.name %><br />
   <%= @job.job_title %>, <%= @department.name %>
</h4>
<div class="subtext over">
  <i>Due to be completed by <%= display_daymonthday(@review.scheduled_completion) %>.</i>
</div>

<div id="listing" class="over">
  <ul class="no_dec">
    <li><%= link_to "Responsibilities", edit_reviewer_score_responsibility_path(@review) %>
      <div class="subtext">
        <% if @review.responsibilities_complete? %>
          Completed, scoring <%= @review.responsibilities_score %> / 50.
        <% else %>
          <%=image_tag("warning.png") %>
          <span class="highlt">Incomplete.</span>
        <% end %>
      </div>
    </li>
    <li><%= link_to "Attributes", edit_reviewer_score_attribute_path(@review) %>
      <div class="subtext">
        <% if @review.qualities_complete? %>
          Completed, scoring <%= @review.attributes_score %> / 50.
        <% else %>
          <%=image_tag("warning.png") %>
          <span class="highlt">Incomplete.</span>
        <% end %>
      </div>
    </li>
    <li><%= link_to "Comments", edit_reviewer_comment_path(@review) %>
      <div class="subtext">
        <% if @review.comments_complete? %>
          Completed.
        <% else %>
          <%=image_tag("warning.png") %>
          <span class="highlt">Incomplete.</span>
        <% end %>
      </div>
    </li> 
  </ul>
</div>


<%= form_for(@review, :url => reviewer_review_path(@review)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    
  <div class="field under over">
    <% if @review.elements_complete? %>
    
      <u>Review now completed.  Score: <%= @review.total_score %> %</u> <br />
      <div class="subtext under">
        If you're happy with everything, sign off on the review <i><strong>(before the completion date)</strong></i>
        by checking <i>'Publish results'</i> and then clicking on <i>'Save Completed Review'</i>.
        You'll still be allowed to edit the review for another 7 days after submission - but not
        after that.
      </div>
      <br />
      <%= f.check_box :completed %><span class="highlt"><strong>Check to publish results.</strong></span>
    
    <% else %>
      <div class="subtext under">
        If you haven't completed your review and you want to continue later, just click
        on 'Save changes'.  You can come back and continue the review at any time up to 
        <%= (@review.created_at + 14.days).strftime("%a %b %d, %Y") %>.  If you haven't completed by then, your review
        scores and comments will be automatically deleted. 
      </div>
    <% end %>
  </div>
  
  <div class="actions">
    <% if @review.elements_complete? %>
      <%= f.submit "Save completed review", :class => "create round" %>
    <% else %>
      <%= f.submit "Save changes", :class => "create round" %>
    <% end %>
  </div>
 
<% end %>  
