<%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>

<h4 class= "over"> 
  <%= @user.name %><br />
  <%= @business.name %>, <%= @business.city %>
</h4>

<% if @reviews.count >0 %>
  <div class="subtext over">
    These people have recently asked you to review their performance:
  </div>
  
  <div id="listing">
    <ul class="no_dec">
      <% @reviews.each do |review| %>
        <li>
          <%= review.reviewee.name %>
          <div class="subtext">
            <%= review.job.job_title %>, <%= review.job.department.name %><br />
            Request made <%= time_ago_in_words(review.created_at) %> ago.<br />
            <% if review.started? %>
              <%= link_to "Continue review in progress", edit_reviewer_review_path(review) %>
            <% else %>
              <% if review.consent.nil? %>
                <%= link_to "Respond", edit_review_response_path(review) %>  <i>or</i> <%= link_to "Review now", edit_reviewer_review_path(review) %>
              <% elsif review.consent == true %>
                <%= link_to "Review now", edit_reviewer_review_path(review) %> &nbsp; <small><i>(You've confirmed you will review.)</i></small>
              <% else %>
                <strong><i>You've said you're unable to review.</i></strong>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="no_data round">
    No review requests to deal with
  </div> 
<% end %>
