<% if @pam.quality.submitted? | @pam.quality.rejected? %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), attribute_submission_path(@pam.quality_id), :class => "magnify" %>
<% else %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), quality_path(@pam.quality_id), :class => "magnify" %>
<% end %>

<div id="listing">
  <h1><%= @pam.quality.quality.upcase %></h1>
</div>

<div class="shift_center_50">
  <%= form_for(@pam) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>

    <div class = "field">
      <h2><%= f.label :descriptor, "Grade " + @pam.grade + " *" %></h2>
      <%= f.text_area :descriptor, :maxlength => 255 %>
      <div class="char-count"><%= @characters_left %> characters left</div>
    </div>
    <%= f.hidden_field :updated_by %>
    <div class="actions">
      <%= f.submit "Confirm changes", :class => "create round" %>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#pam_descriptor').click(function() {
        $('.char-count').css('visibility', 'visible');
      });

      $('#pam_descriptor').live('keyup keydown', function(e) {
      var maxLen = 255;
      var left = maxLen - $(this).val().length;
      $('.char-count').html(left);
      });
    
    });
  <% end %>
<% end %>
