<% unless current_user.simple_employee?(@business) %>
  <nav class="topmenu over">
    <ul>
  
      <% if current_user.admin? %>
        <li><%= link_to "Admin Mode", standard_to_admin_path %></li>
      <% end %>
    
      <% unless @user.no_business_set? %>
        <% if @user.employee_lookup(@business).officer? %>
          <li><%= link_to "Officer mode", own_to_officer_path %></li>
        <% end %>
      
        <% if @user.belongs_to_business? %>
          <li><%= link_to "Switch business", select_business_path unless @user.single_business? %></li>
        <% end %>
    
      <% end %>
    </ul>
  </nav>
<% end %>

<h4><%= @user.name %></h4>

<% if @user.no_business_set? %>
  
  <div class="no_data round">
    You need to set up your business before you can get started.
  </div>
  
<% else %>
  <h4>
    <%= @job.job_title %>,
    <%= @job.department.name %><br />
    <%= @business.name %>, <%= @business.city %>
  </h4>
  <br />
  
  <div id = "listing">
    <h4 class="listheader">Introduction</h4>
    <ul class="no_dec smaller_font">
      <li>
        <%= link_to "Why HYGWIT?", hygwit_introduction_path %> -
        <%= link_to "The A-Plan", "#" %><br />
        <%= link_to "Reviews", "#" %> -
        <%= link_to "Personal Goals", personal_goals_path %>
      </li>
    </ul>
    
    <h4 class="listheader">Business Strategy</h4>
    <ul class="no_dec smaller_font">
      <li>
        <%= link_to "View mission, values, objectives", corporate_plan_path(@business) %>
      </li> 
    </ul>
    
    <h4 class="listheader">Achievement Plan
      <%= image_tag("complete.png") if @plan.complete? %>
      <%= image_tag("locked.png") if @plan.no_changes? %>
    </h4>
    <ul class="no_dec smaller_font">  
      <% if @plan.complete? %>
        <li><%= link_to "View A-Plan for your job", @plan %></li>
      <% else %>
        <li class="highlt">A-Plan for your job is not yet complete.</li>
      <% end %>  
      <% unless @plan.no_changes? %>
        <li><%= link_to "Update A-Plan for your job", @plan %></li>
      <% end %>
    </ul>
    
    <h4 class="listheader">Reviews of your performance</h4>
    <ul class="no_dec smaller_font"> 
      <% if @plan.complete? %>
        <li>
          <% if current_user.has_incomplete_review?(@business) %>
            
            <% if @review.reviewer_id == current_user.id %>
              <%= link_to "Continue your self-appraisal", edit_self_appraisal_path(@review) %>
              &nbsp; <span class="highlt"><small> incomplete</small></span>
            <% else %>
              
              <% if @review.consent? %>
                <span class="highlt round">Review request accepted</span> &nbsp;
                <%= link_to "Details", edit_current_review_path(@review) %>
              
              <% elsif @review.consent == false %>
                <span class="highlt round">Reviewer unavailable</span> &nbsp; 
                <%= link_to "Change review arrangements", edit_current_review_path(@review) %>
              
              <% elsif @review.consent.nil? %>
                <% if @review.started? %>
                  <%= link_to "Review in progress - details", edit_current_review_path(@review) %>
                <% else %>
                  <%= link_to "Review set up: change reviewer or cancel", edit_current_review_path(@review) %>
                <% end %>
              <% end %>
            <% end %>   
          
          <% else %>
            <%= link_to "Set up a performance review / self-appraisal", new_review_path %>
            <% if current_user.external_review_due?(@business) || current_user.self_appraisal_due?(@business) %>
              &nbsp; <small><span class="highlt">Due now!</span></small>
            <% end %>
          <% end %>  
        </li>
      <% else %>
        <li class="highlt">No reviews till A-Plan is complete.</li>
      <% end %>
      <% if @user.has_completed_reviews?(@business) %>  
        <li><%= link_to "Review history", my_reviews_path %></li>
      <% end %> 
    </ul>
    
    <h4 class="listheader">Personal Goals</h4>
    <ul class="no_dec smaller_font"> 
      <li>
        <%= link_to "Ambitions", user_ambitions_path(@user) %> 
        <%= image_tag("warning.png") unless @user.has_ambitions? %>
        -
        <%= link_to "Targets", my_targets_path %> -
        <%= link_to "Daily tasks", my_tasks_path %>
      </li>
    </ul>  
    
    <% if @user.has_review_requests?(@business) || @user.has_been_reviewer? %>
      <h4 class="listheader">Your role as a reviewer</h4>
      <ul class="no_dec smaller_font"> 
        <li>
          <% if @user.review_requests(@business).count == 0 %>
            <div class="not-found">No current review requests</div>
          <% else %>
            <div><%= link_to "#{pluralize(@user.review_requests(@business).count, 'current request')}", reviewer_reviews_path %></div>
          <% end %>
          <% if @user.has_been_reviewer? %>
            <div>
              <%= link_to "Reviews you've given", reviewer_completed_reviews_path %>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
<% end %>
