<div class = "r-float">
 <% if current_user.admin? %>
    <%= link_to "Return to Admin Mode", standard_to_admin_path %><br />
  <% end %>
  <% unless @user.no_business_set? %>
    <% if @user.employee_lookup(@business).officer? %>
      <%= link_to "Officer mode", own_to_officer_path %>
      <br />
    <% end %>
    <% if @user.belongs_to_business? %>
      <%= link_to "Switch business", select_business_path unless @user.single_business? %>
    <% end %>
  <% end %>
</div>

<h1>HYGWIT Home: <%= @user.name %></h1>

<% if @user.no_business_set? %>
  
  <div class="no_data round">
    You need to set up your business before you can get started.
  </div>
  
<% else %>
  <h4>
    <%= @business.name %><br />
    <%= @job.title_department %>
  </h4>
  <br />
  
  <div class = "menu_box grayborder round">
    <ul>
      <li class="no_bullet_compact"><%= link_to "Introduction", hygwit_introduction_path %></li> 
      <% unless @plan.no_changes? %>
        <li class="no_bullet_compact"><%= link_to "Update your Achievement Plan", @plan %></li>
      <% end %>
      <% if @plan.complete? %>
        <li class="no_bullet_compact"><%= link_to "View your complete Achievement Plan", aplan_path(@plan) %></li>
        
        <li class="no_bullet_compact">
          <% if current_user.has_incomplete_review?(@business) %>
            
            <% if @review.reviewer_id == current_user.id %>
              <%= link_to "Continue your self-appraisal", edit_self_appraisal_path(@review) %>
            
            <% else %>
              
              <% if @review.consent? %>
                <span class="highlt round">Review request accepted</span> &nbsp;
                <%= link_to "Details", edit_current_review_path(@review) %>
              
              <% elsif @review.consent == false %>
                <span class="highlt round">Reviewer unavailable</span> &nbsp; 
                <%= link_to "Change review arrangements", edit_current_review_path(@review) %>
              
              <% elsif @review.consent.nil? %>
                <%= link_to "Review in progress: change reviewer or cancel", edit_current_review_path(@review) %>
              <% end %>
            <% end %>   
          
          <% else %>
            <%= link_to "Arrange a performance review", new_review_path %>
          <% end %>  
        </li>
      <% else %>
        <div style ="color: #999">
          <li class="no_bullet_compact">View your complete Achievement Plan</li>
          <li class="no_bullet_compact">Arrange a performance review</li> 
        </div> 
      <% end %>
      <% if @user.has_completed_reviews? %>  
        <li class="no_bullet_compact"><%= link_to "Review history", my_reviews_path %></li>
      <% else %>
        <div style ="color: #999">
          <li class="no_bullet_compact">Review history</li>
        </div>
      <% end %> 
      <li class="no_bullet_compact"><%= link_to "Targets", my_targets_path %></li>
      <li class="no_bullet_compact"><%= link_to "Daily tasks", my_tasks_path %></li>
      <% if @user.has_review_requests?(@business) %>
        <% if @user.review_requests(@business).count == 1 %>
          <span class="highlt round">1 review request to deal with </span> &nbsp;
        <% else %>
          <span class="highlt round"><%= @user.review_requests(@business).count %> review requests to deal with </span> &nbsp;
        <% end %>
        <%= link_to "Details", reviewer_reviews_path %>
      <% end %>
    </ul>
  </div>
<% end %>
