<div class = "r-float">
 <% if current_user.admin? %>
    <%= link_to "Return to Admin Mode", standard_to_admin_path %><br />
  <% end %>
  
  <% if @user.belongs_to_business? %>
    <%= link_to "Switch business", select_business_path unless @user.single_business? %>
  <% end %>
</div>

<h1><%= @user.name %>'s HYGWIT Home</h1>
<h4>
  <%= @business.name %><br />
  <%= @job.title_department %>
</h4>

<div class = "display_wider grayborder round">
  <ul>
    <li class="no_bullet"><%= link_to "Your Achievement Plan", "#" %></li>  
    <li class="no_bullet"><%= link_to "Review your own performance", "#" %></li>
    <li class="no_bullet"><%= link_to "Your review history", "#" %></li>
    <li class="no_bullet"><%= link_to "Today's jobs", "#" %></li>
    <li class="no_bullet"><%= link_to "Weekly plan", "#" %></li>
    <li class="no_bullet"><%= link_to "Your Development Plan", "#" %></li>
  </ul>
</div>
