<div class = "r-float">
<%= link_to "Home", jobseeker_home_path %>
</div>

<h1><%= @title %></h1>
<br /><br />
<div class ="menu_box round grayborder" style = "margin-top: 15px; margin-bottom: 15px">
  <ul style="margin-bottom: 0px">
    <li><%= link_to "Most recent vacancies", latest_vacancies_path %></li>
    <li><%= link_to "Browse all current vacancies", current_vacancies_path %></li>
    <li><%= link_to "Your bookmarked vacancies", "#" %></li>
    <li><%= link_to "Set your search criteria", "#" %></li>
    <li><%= link_to "Search vacancies", "#" %></li>
    <li><%= link_to "Your application history", "#" %></li>
    
  </ul>

</div>

