<div class = "r-float">
<%= link_to "Your home page", user_home_path %>
</div>
<h1><%= @title %></hi>
<h4><%= @job.job_title %></h4>

<div class="menu_box grayborder round">
  <br /> 
  <ul>
    <% if @plan.complete? %>
      <li class="no_bullet"><%= link_to "Update your Achievement Plan", plan_path(@plan) %></li>
      <li class="no_bullet"><%= link_to "View the complete Achievement Plan", aplan_path(@plan) %></li>
      <li class="no_bullet">Appraise your own performance</li>
      <li class="no_bullet">Your appraisal history</li>
    <% else %>
      <li class="no_bullet"><%= link_to "Build", plan_path(@plan) %> your Achievement Plan</li>
      <li class="no_bullet" style ="color:#BBB">View the complete Achievement Plan <small><em>(when A-Plan is complete)</em></small></li>
      <li class="no_bullet" style ="color:#BBB">Appraise your own performance <small><em>(when A-Plan is complete)</em></small></li>
    <% end %>
  </ul>
</div>
