<div class = "r-float">
<%= link_to "Your home page", user_home_path %>
</div>
<h1><%= @title %></hi>
<h4><%= @job.job_title %></h4>

<div class="menu_box grayborder round">
  <br /> 
  <ul>
    <% if @plan.complete? %>
      <li class="no_bullet"><%= link_to "Update your Achievement Plan", plan_path(@plan) %></li>
      <li class="no_bullet"><%= link_to "View the complete Achievement Plan", aplan_path(@plan) %></li>
      <li class="no_bullet">
        <% if current_user.has_incomplete_review? %>        
          <%= link_to "Continue your performance review", edit_self_appraisal_path(@review) %>
        <% else %>
          <%= link_to "Set up a performance review", new_self_appraisal_path %>
        <% end %>
      </li>
      <% if current_user.has_completed_reviews? %>
        <li class="no_bullet"><%= link_to "Your performance review history", my_reviews_path %></li>
      <% else %>
        <li class="no_bullet" style ="color: #999">Your performance review history</li>
      <% end %>
    <% else %>
      <li class="no_bullet"><%= link_to "Build", plan_path(@plan) %> your Achievement Plan</li>
      <li class="no_bullet" style ="color:#999">View the complete Achievement Plan <small><em>(when A-Plan is complete)</em></small></li>
      <li class="no_bullet" style ="color:#999">Set up a performance review <small><em>(when A-Plan is complete)</em></small></li>
    <% end %>
    <li class="no_bullet"><%= link_to "Targets", my_targets_path %></li>
    <li class="no_bullet"><%= link_to "Daily tasks", my_tasks_path %></li>
  </ul>
</div>
