<nav class="topmenu over">
  <ul>
    <% if current_user.admin? %>
      <li><%= link_to "Admin mode", standard_to_admin_path %></li>
    <% end %>

    <li><%= link_to "Add business", new_business_path %></li>
    <% if @user.belongs_to_business? %>
      <% unless @user.single_business? %>
        <li><%= link_to "Switch business", select_business_path %></li>
      <% end %>
    <% end %>
    <li>
      <%= link_to "Your records", officer_to_own_path unless @user.no_current_job?(@business) %>
      <% unless @no_business == true %>
        <% if @user.has_review_requests?(@business) || @user.has_rejected_review_requests?(@business) %>
          <%= image_tag("important.png", :size => "15x15") %>
        <% else %>
          <% unless @user.no_current_job?(@business) %>
            <% if @user.self_appraisal_due?(@business) || @user.external_review_due?(@business) %>
              <%= image_tag("important.png", :size => "15x15") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </li>
  </ul>
</nav>

<h4>
  <%= @user.name %>
</h4>

<% if @no_business == true %>
  <br />
  <div id = "listing">
    <%= image_tag("important.png") %> &nbsp; BUSINESS DETAILS REQUIRED
    <p class="under">
      You've signed up for a Business account, but you haven't entered the details of your business yet.<br /><br/>
      So select one of these options:
    <p>
    <ol class="shift_center_25">
      <li class="over"><%= link_to "Add your business now", new_business_path %></li>
      
      <i>OR</i>
     
      <li class="under"><%= link_to "Follow this link", edit_user_path(@user) %> and change to a non-business account-type</li>
    </ol>
  </div>
<% else %>
  <div class="over">
    <h4><%= @business.name %>, <%= @business.city %></h4>
  </div>
  <div id="listing">
    <% if @business.no_jobs? %>
      <i class="highlt round">Set up departments, then jobs, then employees.</i>
      <br /><br />
    <% end %> 
    <ul class="no_dec">
      <li><%= link_to "Business details", @business %>
        <div class="subtext">Name, sector, location</div>
      </li>
      <li><%= link_to "Business strategy", corporate_plan_path(@business) %>
        <div class="subtext">Mission, vision, objectives</div>
      </li>
      <li><%= link_to "Departments", business_departments_path(@business.id) %>
        <div class="subtext">+ Department heads & team records</div>      
      </li>
      <li><%= link_to "Jobs", business_jobs_path(@business.id) %>
        <div class="subtext">+ Achievement plans & vacancy announcements</div> 
      </li>
      <li>
        <%= link_to "Employees", officer_users_path %>
        <div class="subtext">
          Detailed records; invitations to HYGWIT
          <% if @business.count_current_employees > 1 %>
            <% if @business.needs_an_officer? %> 
              <div class="highlt">
                <%= image_tag("warning.png") %> Appoint another HYGWIT officer
              </div>
            <% end %>
          <% end %>
        </div>
      </li>
      <li><%= link_to "HYGWIT invitations", business_invitations_path(@business) %></li>
      <li><%= link_to "Performance reviews", performance_reviews_path %></li>
      <li><%= link_to "Recruitment", recruitment_menu_path %></li>  
    </ul>
    
    <strong><u>ARCHIVE</u></strong>
    <ul class="no_dec">
      <li><%= link_to "Archived departments", business_hidden_departments_path(@business) %></li>
      <li><%= link_to "Archived jobs", business_inactive_jobs_path(@business) %></li>
      <li><%= link_to "Former employees", officer_leavers_path %></li>
    </ul>
  </div>
<% end %>

