<div class = "r-float">
  <%= link_to "Home Page", officer_home_path %>
</div>

<h1><%= @title %></h1>
<h4><%= @business.name %></h4>

<div class="menu_box round grayborder">
  <br />
  <ul>
    <li class="no_bullet_compact"><%= link_to "Reviews & self-appraisals in progress", officer_reviews_path %></li>
    <li class="no_bullet_compact"><%= link_to "Who needs a self-appraisal?", no_appraisals_path %></li>
    <li class="no_bullet_compact"><%= link_to "Who needs a colleague review?", no_reviews_path %></li>    
    <br />
    <li class="no_bullet_compact"><%= link_to "Employee reviews: results", officer_reviewed_users_path %></li>
    <li class="no_bullet_compact"><%= link_to "Department reviews: results", department_reviews_path %></li>
    <li class="no_bullet_compact"><%= link_to "Best / worst results", "#" %></li>
    <li class="no_bullet_compact"><%= link_to "Who's out of step with their reviewer?", "#" %></li>
    <li class="no_bullet_compact"><%= link_to "Employee contribution", "#" %></li>
    <br />
    <li class="no_bullet_compact"><%= link_to "Recent reviewer activity", "#" %></li>
  </ul>

</div>
