<div class = "r-float">
  <%= link_to "Home Page", officer_home_path %>
</div>

<h4><%= @business.name %></h4>

<div id="listing">
  <br />
  <ul class="no_dec">
    <li><%= link_to "Current vacancies", officer_vacancies_path %></li>
    <li><%= link_to "Search applicants", "#" %></li>    
    <li><%= link_to "Find internal candidates", "#" %></li>
    <li><%= link_to "Interview scoring", "#" %></li>       
    <li><%= link_to "Vacancy history", "#" %></li>
    <li><%= link_to "People hired", "#" %></li>
    <li><%= link_to "People promoted", "#" %></li>
    <li><%= link_to "Recruitment success", "#" %></li>
    
  </ul>

</div>
