<%= link_to image_tag("pageback.png", :title => "Previous"), officer_home_path, :class => "magnify" %>

<h4 class="over"><%= @business.name %></h4>

<div id="listing">
  <ul class="no_dec">
    <li>
      <%= link_to "Current vacancies", officer_vacancies_path %> &nbsp;
      <%= image_tag("warning.png") if @business.vacancies_warning? %>
    </li>
    <li><%= link_to "Search applicants", "#" %></li>    
    <li><%= link_to "Find internal candidates", "#" %></li>
    <li><%= link_to "Interview scoring", "#" %></li>       
    <li><%= link_to "Vacancy history", "#" %></li>
    <li><%= link_to "People hired", "#" %></li>
    <li><%= link_to "People promoted", "#" %></li>
    <li><%= link_to "Recruitment success", "#" %></li>
    
  </ul>

</div>
