<div class = "r-float">
  <%= link_to "Add a new business", new_business_path if current_user.account == 3 %>
</div>

<h1>
  <%= @user.name %>
</h1>

<h4>SELECT BUSINESS</h4>
<p>These are the businesses you're associated with.  
    Select one.
</p>    
<table>
  <% @employees.each do |employee| %>
  <tr>
    <td><strong>
      <% if employee.role == "Officer" %>
        <%= link_to employee.business_location, biz_selection_path(:id => employee.business_id) %>
      <% else %>
        <%= link_to employee.business_location, employee_selection_path(:id => employee.business_id) %>
      <% end %>
    </strong></td>
    <td><%= employee.role %></td>
    <td>
      <% if employee.role == "Officer" && employee.business.no_associations? %>
        <%= link_to(image_tag("cancel.png", :size => "15x15"), officer_business_path(employee.business_id), 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Delete #{employee.business.name}") %>
      <% end %>
    </td> 
  </tr>
  <% end %>
</table>

