<nav class="topmenu over">
  <ul>
    <% if current_user.admin? %>
      <li><%= link_to "Admin mode", standard_to_admin_path %></li>
    <% end %>
    <li><%= link_to "Add a business", new_business_path if current_user.account == 3 %></li>
  </ul>
</nav>

<h4>
  <%= @user.name %>
</h4>

<p class="under">Select one of your businesses:-</p> 

<div id="listing">   
  <ul class="no_dec">
    <% @employees.each do |employee| %>
      <li>
        <span class= "r-float">
    
          <% if employee.role == "Officer" && employee.business.no_associations? %>
            <%= link_to(image_tag("delete.png"), officer_business_path(employee.business_id), 
                   :method => :delete, 
                   :confirm => "Are you sure you want to delete '#{employee.business.name}'?",
                   :title => "Delete '#{employee.business.name}'") %>
          <% end %>
        </span>
        <% biz = Business.find(employee.business_id) %>
  
        <% if employee.role == "Officer" %>
          <%= link_to employee.business_location, biz_selection_path(:id => employee.business_id) %>
        <% else %>
          <%= link_to employee.business_location, employee_selection_path(:id => employee.business_id) %>
        <% end %>
     
        <% if @user.has_review_requests?(biz) || @user.has_rejected_review_requests?(biz) %>
          <%= image_tag("important.png") %>
        <% end %>
        <div class="subtext">
          <%= employee.role %>
        </div>
        
      </li>
    <% end %>
  </ul>
</div>

