<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<h4>SELECT BUSINESS</h4>
<p>These are the businesses you're associated with.  
    Select one.
</p>    
<table>
  <% @employees.each do |employee| %>
  <tr>
    <td><strong><%= link_to employee.business_location, biz_selection_path(:id => employee.business_id) %>
    
    </td>
    <td><%= employee.role %></td>
  </tr>
  <% end %>
</table>
    
<p><%= link_to "Add a new business", new_business_path %></p>
