
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>

<% if @user.belongs_to_business? %>

<h4>EMPLOYEE MENU: <%= @business.name %>, <%= @business.city %></h4>
  
  <p><%= link_to "Add a new business", new_business_path %></p>
<% else %>
  <p>WHERE DO YOU WANT TO START?</p>
  <ul>
    <li>Look for a great job</li>
    <li>Improve your job-search prospects</li>
    <li>Turn your routine job into a career opportunity</li>
    <li>Transform your business with powerful achievement tools</li>
  
  </ul>

<% end %>



  

