<div class = "r-float">
  <% if current_user.admin? %>
    <%= link_to "Return to Admin Mode", standard_to_admin_path %>
  <% end %>
</div>

<h4 class="over"><%= current_user.name %></h4>
<div id = "listing">
  <ul class="no_dec">
    <li><%= link_to "Find a job", jobsearch_menu_path %>
      <div class="subtext">Set job-search preferences, view vacancies, apply.</div>    
    </li>
    <li><%= link_to "Self-Portrait", user_portrait_path(@user) %>
      <div class="subtext">HYGWIT's turbo-CV - required for job applications.</div>    
    </li>
    <li><%= link_to "Job-Tools", my_job_path %>
      <div class="subtext">Build an achievement plan, set targets, review performance.</div> 
    </li>
    <li><%= link_to "Try HYGWIT Corporate", new_business_path %>
      <div class="subtext">Get your whole business focused on achievement.</div> 
    </li>
    <li><%= link_to "Your settings", edit_user_path(current_user) %>
      <div class="subtext">Reset your user name / password.</div> 
    </li>
  </ul>
</div>


  

