
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<% if @user.belongs_to_business? %>
  <% if @user.single_business? %>
    <h4><%= @business.name %>, <%= @business.city %>, <%= @business.country %>
    </h4>
    <p>
      <% if @employee.officer? %>
        OFFICER MENU:
        <ul>
          <li><%= link_to "Business details", @business %></li>
          <li>Jobs</li>
          <li>Employees</li>
        </ul>
      <% else %>
        EMPLOYEE MENU:
      <% end %>
    </p>
  <% else %>
    <p>SELECT BUSINESS</p>
    <table>
      <% @employees.each do |employee| %>
      <tr>
        <td><strong><%= employee.business.name %></strong>, 
            <%= employee.business.city %>
        </td>
        <td><%= employee.role %></td>
      </tr>
      <% end %>
    </table>
  <% end %>
  
  <p><%= link_to "Add a new business", new_business_path %></p>
<% else %>
  <p>WHERE DO YOU WANT TO START?</p>
  <ul>
    <li>Look for a great job</li>
    <li>Improve your job-search prospects</li>
    <li>Turn your routine job into a career opportunity</li>
    <li>Transform your business with powerful achievement tools</li>
  
  </ul>

<% end %>



  

