<%= link_to image_tag("pageback.png", :title => "Previous"), officer_users_path, :class => "magnify" %>

<div class = "r-float">
  <%= link_to "New invitation", new_business_invitation_path(@business) unless @business.no_jobs? %>
</div>
<div>
  <h4><%= @business.name %>, <%= @business.city %></h4>
</div>

<% if @business.no_invitations? %>
  <div class="no_data round">
    <% if @business.no_jobs? %>
      Before you can start inviting colleagues to use HYGWIT, you need to set up their jobs.
    <% else %>
      You have no outstanding invitations, asking colleagues to sign up to HYGWIT.
    <% end %>
  </div>
<% else %>
  <div id="rubric">
    There's been no response to these invitations yet.
  </div>

  <div id="listing">
  
    <%= will_paginate @invitations %>

    <ul class="no_dec">
 
      <% @invitations.each do |invitation| %>
        <li>
          <div class="r-float">
            <%= link_to image_tag("delete.png", :size => "15x15"), invitation,
                   :method => :delete, 
                   :confirm => "Are you sure you want to cancel the invitation to #{invitation.name}?",
                   :title => "Cancel invitation" %>
          </div>
          <%= invitation.name %>
          <div class="subtext">
            <%= invitation.job.title_department %><br />
            <%= invitation.email %><br />
            Invited by <%= invitation.asked_by %>
            <%= time_ago_in_words(invitation.created_at) %> ago
          </div>
        </li>
      <% end %>
    </ul>
    <%= will_paginate @invitations %>
  </div>
<% end %>
