<div class = "r-float">
  <%= link_to "Cancel", business_invitations_path(@business) %>
</div>

<h1><%= @title %></h1>

<div class="info_box_screen">
  Give other people in your business access to HYGWIT's employee pages, setting them on the path to high achievement, and allowing 
  you to keep an eye on their progress. 
  When you complete the name and email details and then click <em>'Send invitation'</em>, an email will be sent automatically
  inviting this person to join and directing them to a secure HYGWIT sign-up page.
  <br /><br />

<%= form_for([@business, @invitation]) do |f| %>
  <%= render "shared/error_messages", :object => f.object %>

  <div class="field">
    <%= f.label :name, "Enter the employee's name" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, "... and email address" %><br />
    <%= f.text_field :email %>
  </div>
  
  <div class="field">
    <%= f.label :staff_no, "... plus an optional staff number" %>&nbsp;
    <%= f.text_field :staff_no, :size => 7 %><br />
    <small>(If you don't enter a number, HYGWIT will assign one automatically.)</small>
  </div>
  
  <div class="field">
    <%= f.label :job_id %> &nbsp;
    <%= collection_select(:invitation, :job_id, @jobs, :id, :title_department, :prompt => true) %> 
  </div>
  
  <%= f.hidden_field :security_code %><br />
  <%= f.hidden_field :inviter_id %>
  
  <div class="actions">
    <%= f.submit "Send invitation" %>
  </div>

<% end %>
</div>
