<h1><%= @title %></h1>
<h4>
  <%= @user.name %>
  <% unless @user.account == 1 %>
    - <%= @business.name %><br />
  <% end %>
</h4>

<div class="info_box_screen">
  <% if @review.review_type == 2 %>
    
    For your external review, you said you wanted someone in your department to do the job. In the select-box below, 
    choose either your boss or your mentor as your reviewer (replacing your name), and then 'Confirm'.  
    
  <% elsif @review.review_type == 3 %>  
    
    For your external review, you said you wanted someone outside your department to do the job. 
    In the select-box below you can choose anyone in the business as your reviewer (replacing your name), 
    but be sure to choose someone who's familiar with your work.  Then 'Confirm' your selection.  
    
  <% end %>

  (Make sure your boss 
  <% unless @department.manager_id.nil? %>
    - who will see your plan -  
  <% end %>
  approves of your choice.)
  
  <br /><br />
  
  The person you've selected will receive a HYGWIT alert about the review, but tell him/her too, just
  in case they miss it. There'll be an alert on your home page when the review is complete.
    
</div>

<div class="shift_center">

  <%= form_for(@review, :url => reviewer_selection_path(@review)) do |f| %>
    <%= render "shared/error_messages", :object => f.object %>
  
    <div class="fields">
      <%= f.label :reviewer %>&nbsp;
      <%= collection_select(:review, :reviewer_id, @users, :id, 
                        :name, :prompt => true) %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Confirm" %>
    </div> 
  
  <% end %>
</div>
