<% unless @user.has_review_requests?(@business) %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>
<% else %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), reviewer_reviews_path, :class => "magnify" %>
<% end %>

<h4 class="over"> 
  <%= @user.name %><br />
  <%= @business.name %>, <%= @business.city %>
</h4>

<%= form_for(@review, :url => review_response_path(@review)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
   
    From: 
    <%= @review.reviewee.name %><br />
    <%= @review.job.job_title %>, <%= @review.job.department.name %><br /><br />
    
    <div class="subtext">
    Your review needs to be completed by:<br />
    <%= display_daydate(@review.created_at + 14.days) %>.
    <br /><br />
  
    <i>Use this form if you're not ready to start yet.</i><br /><br />
    <div class="field">
      Send a message (via HYGWIT) to <%= @review.reviewee.name %><br />
      <%= f.radio_button :consent, true %> Yes, I'll be able to do the review.<br />
      <%= f.radio_button :consent, false %> Sorry, I won't be able to help with the review.
    </div>
    <div class="field">
      If you can't do the review, send a short explanation:<br /><br />
      <%= f.text_area :cancellation_reason, :maxlength => 100, :class => "miniscule" %>
      <div class="char-count"><%= @characters_left %> characters left</div>
    </div>
    </div>
    <div class="actions">
      <%= f.submit "Confirm", :class => "create round" %>
    </div>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#review_cancellation_reason').click(function() {
        $('.char-count').css('visibility', 'visible');
      });

      $('#review_cancellation_reason').live('keyup keydown', function(e) {
      var maxLen = 100;
      var left = maxLen - $(this).val().length;
      $('.char-count').html(left);
      });
    
    });
  
  <% end %>
<% end %>
