<%= link_to image_tag("pageback.png", :title => "Previous"), responsibilities_path, :class => "magnify" %>

<%= render '/shared/job_title_cluster' %>

<%= form_for(@responsibility) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class = "field under" >
    <%= f.label :definition, "Responsibility *" %><br /> 
    <%= f.text_area :definition, :maxlength => 140, :class => "tiny" %>
    <div class="char-count"><%= @characters_left %> characters left</div>
  </div> 
  
  <div class="actions">
    <%= f.submit :class => "create round" %>
  </div>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#responsibility_definition').click(function() {
        $('.char-count').css('visibility', 'visible');
      });
      
      $('#responsibility_definition').live('keyup keydown', function(e) {
        var maxLen = 140;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
  <% end %>
<% end %>
