<div class = "r-float">
 <%= link_to "Cancel", @responsibility %>
</div>
<h1>Edit responsibility</h1>
<h4>for <%= @job.job_title %></h4>

<%= form_for(@responsibility) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class = "field centerplace" >
    <%= f.label :definition, "Update the responsibility statement" %><br /> 
    <%= f.text_area :definition, :maxlength => 140, :cols => 50, :rows => 4 %>
    <span id="char-count" style = "color:blue; padding-left: 5px"><%= @characters_left %></span>
  </div> 
  <div class = "field">
    <em>Or you can check the box below <u>to remove this responsibility completely</u>.  
        If you've used the statement in a previous appraisal, don't worry - it'll be hidden, not deleted, 
        and you'll still see it when you look back at the appraisal history.
    </em>
  </div>
  <div class = "field centerplace">
    <%= f.label :removed, "Check this box to remove the statement entirely" %> 
    <%= f.check_box :removed %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Confirm changes" %>
  </div>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $('#responsibility_definition').live('keyup keydown', function(e) {
    var maxLen = 140;
    var left = maxLen - $(this).val().length;
    $('#char-count').html(left);
    });
    
  <% end %>
<% end %>
