<%= render 'shared/aplan_nav' unless current_user.account < 3 %>

<div class = "r-float">
  <% if @plan.max_responsibilities? %>
    <u>All responsibilities entered</u>
  <% else %>
    <%= link_to "Add a responsibility", new_plan_responsibility_path(@plan) %><br />
  <% end %>
</div>

<%= link_to image_tag("pageback.png", :title => "A-Plan menu"), @plan, :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
  
  <h1 class="under no-gap">Responsibilities for this job</h1>
  <div class="subtext">
    <%= @plan.count_responsibilities %> set 
    <% if ! @plan.responsibilities_ready? %>
      <span class="texthl">but 10 - 20 required.</span>
    <% elsif @plan.responsibilities_ready? %>
      - enough to use the A-Plan. Max 20.
    <% elsif @plan.max_responsibilities? %>
       - the maximum for this job.
    <% end %>
    <span class="texthl">
      <% if !@plan.goals_complete? && !@plan.ratings_complete? %>
        Goals & ratings are incomplete.
      <% elsif ! @plan.goals_complete? %>
        Goals are incomplete.
      <% elsif ! @plan.ratings_complete? %>
        Ratings are incomplete.
      <% end %>
    </span>
  </div>
</div>

<div id="listing">
  <ul class="no_dec">
    <% @responsibilities.each do |responsibility| %>
      <li>
        <span class="r-float push-left">
          <%= link_to image_tag("edit.png"), edit_responsibility_path(responsibility),
                   :title => "Edit the responsibility" %>
          <% if responsibility.used? %>
            <%= link_to image_tag("delete.png"), responsibility, 
                   :method => :delete, 
                   :confirm => "This responsibility has been used, so to preserve the review history, it can't be deleted.  But it can be removed from the list of active responsibilities - is this what you want to do?",
                   :title => "Hide this responsibility, its goals and rating." %>
          <% else %>
            <%= link_to image_tag("delete.png"), responsibility, 
                   :method => :delete, 
                   :confirm => "Are you sure you want to remove this responsibility - including associated goals and rating - completely?",
                   :title => "Delete this responsibility, its goals and rating." %>
          <% end %>
        </span>
        <div class="subtext">
          <%= responsibility.definition %>
          <div class="under">
            <%= link_to "Goals:", responsibility_goals_path(responsibility) %>
            <% if responsibility.has_goals? %>
              <%= responsibility.count_current_goals %>
            <% else %>
              <span class = "texthl">
                <%= responsibility.count_current_goals %>
                <%= image_tag("warning.png") %>
              </span>
            <% end %>
            <span class="side"> 
              <%= link_to "Rating:", edit_evaluation_path(responsibility.evaluation) %>
              <% if responsibility.has_rating? %>
                <%= responsibility.display_rating %>
              <% else %>
                <span class = "texthl">
                  <%= responsibility.display_rating %>
                  <%= image_tag("warning.png") %>
                </span>
              <% end %>
            </span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>  
</div>


