<div class = "r-float">
<%= link_to "Cancel", plan_responsibilities_path(@plan) %>
</div>
<h1>New responsibility</h1>
<h4>for <%= @job.job_title %></h4>

<%= form_for([@plan, @responsibility]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class = "field">
    <%= f.label :definition, "What needs to get done?" %><br />
    <em><small>Make your statement precise and concise - 140 characters or less</small></em>
    <%= f.text_area :definition, :cols => 50, :rows => 4 %>
  </div> 
    <%= f.hidden_field :created_by %>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>

