<%= link_to image_tag("pageback.png", :title => "Previous"), plan_responsibilities_path(@plan), :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div class = "shift_center_50">
  <%= form_for([@plan, @responsibility]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class = "field">
      <%= f.label :definition, "Enter an area of responsibility *" %> 
      <%= f.text_area :definition, :maxlength => 140, :class => "tiny" %>
      <div class="char-count"><%= @characters_left %> characters left.</div>
    </div> 
      <%= f.hidden_field :created_by %>
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#responsibility_definition').click(function() {
        $('.char-count').css('visibility', 'visible');
      });

      $('#responsibility_definition').live('keyup keydown', function(e) {
        var maxLen = 140;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
    
  <% end %>
<% end %>
