<div class = "r-float">
  <%= link_to "All responsibilities for job", plan_responsibilities_path(@plan.id) %><br />
  <%= link_to "Add another responsibility", new_plan_responsibility_path(@plan.id) unless @plan.max_responsibilities? %>
</div>

<h1>Responsibility</h1>
<h4>for <%= @job.job_title %></h4>

<p class = "display_text grayborder round"><%= @responsibility.definition %>
           &nbsp;
             <%= link_to "(Edit)", edit_responsibility_path(@responsibility) %>
          
</p>

<div class = "r-float">
  <% if @responsibility.maximum_goals? %>
     <small class="highlt round">&nbsp; 3 goals is the maximum &nbsp;</small>
  <% else %>
    <%= link_to "Add a goal", new_responsibility_goal_path(@responsibility) %>
  <% end %>
</div>
<h3><strong>GOALS:</strong></h3> 
<table class="smaller_font">
  <% @goals.each do |goal| %>
    <tr>
      <td class = "grayline"><%= goal.objective %></td>
      <td class = "control at_top grayline"><%= link_to image_tag("select.png", :size => "15x15"),
                   edit_goal_path(goal),
                   :title => "Edit goal." %>
                   
      </td> 
      <td class = "control at_top grayline"><%= link_to image_tag("cancel.png", :size => "15x15"), goal, 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Remove goal." %>
      </td>  
    </tr>  
  <% end %>
</table>
<h3><strong>RATING:</strong> <%= @responsibility.show_rating %> &nbsp;
   <small style = "font-size:0.9em"><%= evaluation %></small>
</h3>
