<div class = "r-float">
<%= link_to "All responsibilities for job", plan_responsibilities_path(@responsibility.plan_id) %>
</div>

<h1>Responsibility</h1>
<h4>for <%= @job.title_location %></h4>

<p class = "display_text beige round"><%= @responsibility.definition %>
           &nbsp; <span style = "font-weight: normal">
             <%= link_to "(Edit)", edit_responsibility_path(@responsibility) %>
           </span>
</p>

<div class = "r-float">
  <% if @responsibility.maximum_goals? %>
     <u>3 goals is the maximum</u>
  <% else %>
    <%= link_to "Add a goal", new_responsibility_goal_path(@responsibility) %>
  <% end %>
</div>
<h1>Goals</h1> 
<table>
  <% @goals.each do |goal| %>
    <tr>
      <td><%= goal.objective %></td>
      <td class = "control"><%= link_to "Edit", edit_goal_path(goal) %></td> 
      <td class = "control"><%= link_to "Remove", goal, 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Remove goal." %>
      </td>  
    </tr>  
  <% end %>
</table>
