<div class = "r-float">
<%= link_to "All responsibilities for job", plan_responsibilities_path(@responsibility.plan_id) %>
</div>

<h1>Responsibility</h1>
<h4>for <%= @job.title_location %></h4>

<p class = "display_text grayborder round"><%= @responsibility.definition %>
           &nbsp; <span style = "font-weight: normal">
             <%= link_to "(Edit)", edit_responsibility_path(@responsibility) %>
           </span>
</p>

<div class = "r-float">
  <% if @responsibility.maximum_goals? %>
     <small class="highlt">&nbsp; 3 goals is the maximum &nbsp;</small>
  <% else %>
    <%= link_to "Add a goal", new_responsibility_goal_path(@responsibility) %>
  <% end %>
</div>
<h3>Goals:</h3> 
<table>
  <% @goals.each do |goal| %>
    <tr>
      <td class = "grayline"><%= goal.objective %></td>
      <td class = "control at_top grayline"><%= link_to "Edit", edit_goal_path(goal) %></td> 
      <td class = "control at_top grayline"><%= link_to "Remove", goal, 
                   :method => :delete, 
                   :confirm => "You sure?",
                   :title => "Remove goal." %>
      </td>  
    </tr>  
  <% end %>
</table>
<h3>Rating: <%= @responsibility.show_rating %> &nbsp;
   <small style = "font-size:0.8em"><%= evaluation %></small>
</h3>
