<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<h4><%= @user.name %></h4>

<%= form_for([@user, @portrait]) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div id="rubric">  
    <div class="field">
      <%= f.check_box :worked_before %>
      Check if you've been in full-time employment before.
    </div>
  
    <div class="field">
      <%= f.check_box :right_to_work %>
      Check to confirm you have the legal right to work in <%= @user.country %>.
    </div>
  
    <div class="field">
      <%= f.check_box :public %>
      Check to make your Portrait public, so that potential employers can see it.
      <span class="subtext"><i>
        (Note that you must provide at least two references before the Portrait can be public.)
      </i></span>
    
    </div>
  </div>
  
  <div class="field">
    <%= f.label :notes, "Portrait notes" %>
    <div class="subtext">
      Is there anything important you'd like to add to your self-portrait? (max 200 characters)
    </div>
    <%= f.text_area :notes, :maxlength => 200, :class => "downsize" %>
    <div class="char-count"><%= @characters_left %> characters left</div>
  </div>
  
  <div class="actions">
    <%= f.submit "Confirm changes", :class => "create round" %>
  </div>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
   
    $('#portrait_notes').click(function() {
      $('.char-count').css('visibility', 'visible');
    });
   
    $('#portrait_notes').live('keyup keydown', function(e) {
      var maxLen = 200;
      var left = maxLen - $(this).val().length;
    $('.char-count').html(left);
    });
    
   });
   
  <% end %>
<% end %>
