<div class = "r-float">
  <% if @user.account == 2 %>
    <%= link_to "Home", jobseeker_home_path %>
  <% elsif @user.account == 1 %>
    <%= link_to "Home", user_home_path %>
  <% end %>
</div>

<h1><%= @title %> <span id="info", style ="cursor:help"><%= image_tag("info.png", :size => "20x20") %></span></h1>
<h4 class= "shallow"><%= @user.name.upcase %></h4>

  <div id ="infotext" class="info_box_wide beige round" style = "display:none; margin-left:0px">
  
      Update each of the sections until you've created an all-round picture of your capabilities and aspirations.
      Tell the truth!  We'll be asking your references to verify that this is a fair and reasonable portrait.<br /><br />
      When you've finished, your portrait will be attached to any application you send through HYGWIT.
      Potential employers can also search through the portraits when they're head-hunting.<br /><br />
      You can keep your portrait private if you want to, until you feel ready to start applying for jobs.
      &nbsp; <span id = "no-info" style="color:blue; cursor:n-resize">(Hide)</span>
    
  </div>
  <hr />

<div class="two_column rightpos">
  <h4 class="shallow">What they say about me  &nbsp;<small><%= link_to "(Update)", user_characteristics_path(@user) %></small></h4>
  <ul>
    <% if @user.count_characteristics == 0 %>
      Nothing
    <% else %>
      <% @characteristics.each do |characteristic| %>
        <li><%= characteristic.characteristic %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="two_column">
  <h4 class="shallow">Achievements  &nbsp;<small><%= link_to "(Update)", user_achievements_path(@user) %></small></h4>

  <ul>
    <% if @user.count_achievements == 0 %>
      None
    <% else %>
      <% @achievements.each do |achievement| %>
        <li><%= achievement.achievement %></li>
      <% end %>
    <% end %>
  </ul>
</div>  
<hr /> 
<div class="two_column rightpos">  
  <h4 class="shallow">My favourite things  &nbsp;<small><%= link_to "(Update)", user_favourites_path(@user) %></small></h4>
  <ul>
    <% if @user.count_favourites == 0 %>
      None
    <% else %>
      <% @favourites.each do |favourite| %>
        <li><%= favourite.favourite %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="two_column">
  <h4 class="shallow">My qualifications &nbsp;<small><%= link_to "(Update)", user_qualifications_path(@user) %></small></h4>
  <ul>
    <% if @user.count_qualifications == 0 %>
      None
    <% else %>
      <% @qualifications.each do |qualification| %>
        <li><%= qualification.qualification %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<hr />

<div class="two_column rightpos"> 
  <h4 class="shallow">It drives me mad when ...  &nbsp;<small><%= link_to "(Update)", user_dislikes_path(@user) %></small></h4>
  <ul>
    <% if @user.count_dislikes == 0 %>
      Nothing drives me mad
    <% else %>
      <% @dislikes.each do |dislike| %>
        <li><%= dislike.dislike %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="two_column"> 
  <h4 class="shallow">My strengths &nbsp;<small><%= link_to "(Update)", user_strengths_path(@user) %></small></h4>
  <ul>
    <% if @user.count_strengths == 0 %>
      None
    <% else %>
      <% @strengths.each do |strength| %>
        <li><%= strength.strength %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<hr />
<div class="two_column rightpos"> 
  <h4 class="shallow">Possible limitations &nbsp;<small><%= link_to "(Update)", user_limitations_path(@user) %></small></h4>
  <ul>
    <% if @user.count_limitations == 0 %>
      <li>None</li>
    <% else %>
      <% @limitations.each do |limitation| %>
        <li><%= limitation.limitation %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="two_column">
  <h4 class="shallow">In my sights &nbsp;<small><%= link_to "(Update)", user_aims_path(@user) %></small></h4>
  <ul>
    <% if @user.count_aims == 0 %>
      <li>None</li>
    <% else %>
      <% @aims.each do |aim| %>
        <li><%= aim.aim %></li>
      <% end %>
    <% end %>
  </ul>
</div>
<hr />
<div class="two_column rightpos">

</div>

<div class="two_column rightpos">
  <h4 class="shallow">And finally ... &nbsp;<small><%= link_to "(Update)", edit_user_portrait_path(@user) %></small></h4>
  <ul>
    <% if @portrait.notes? %>
      <li><%= @portrait.notes %></li>
    <% end %>
    <% if @portrait.worked_before == false %>
      <li>I haven't worked before.</li>
    <% end %>
    <li><%= legality %></li>
    <li><%= public_view %></li>
  </ul>
</div>
  
<div class="two_column">
  <h4 class="shallow">My previous jobs &nbsp;<small><%= link_to "(Update)", user_previousjobs_path(@user) %></small></h4>
  <ul>
    <% if @user.count_previousjobs == 0 %>
      None
    <% else %>
      <% @previousjobs.each do |previousjob| %>
        <li><%= previousjob.job %> <em> - <%= previousjob.service_length %></em></li>
      <% end %>
    <% end %>
  </ul>
</div>
<hr />
<div class="two_column wide_85">
  <h4 class="shallow">References &nbsp;<small><%= link_to "(Update)", user_references_path(@user) %></small></h4>
  <ul>
    <% if @user.count_references == 0 %>
      <li>None provided</li>
    <% else %>
      <% @references.each do |reference| %>
        <li><strong><%= reference.name %></strong> <em>(<%= reference.what_relation %>)</em><br />
            <% unless reference.role.empty? && reference.location.empty? %>
              <% unless reference.role.empty? %>
                <%= reference.role %>
                <% unless reference.location.empty? %>
                  at <%= reference.location %>
                <% end %>
              <% else %>
                <%= reference.location %>
              <% end %>
              <br />
            <% end %>
            <% unless reference.address.empty? %>
              <em>Address: </em><%= reference.address %><br />
            <% end %>
            <% unless reference.phone.empty? %>
              <em>Phone: </em><%= reference.phone %><br />
            <% end %>
            <em>Email: </em><%= reference.email %>
            <% if @portrait.public == true %>
              <br />
              <% if reference.portrait_rating == 7 %>
                <span class="highlt">Has not yet commented on this Portrait.</span>
              <% else %>
                Has sent a comment on this Portrait.
              <% end %>
            <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
    
    $('#info').click(function() {
      $('#infotext').show('fast', function() {
      });
    });
    
    $('#no-info').click(function() {
      $('#infotext').hide('fast', function() {
      });
    });
    
  <% end %>
<% end %>
