<% if @user.account == 2 %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), jobseeker_home_path, :class => "magnify" %>
<% elsif @user.account == 1 %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), user_home_path, :class => "magnify" %>
<% end %>

<h4><%= @user.name.upcase %></h4>

<div id="rubric">
  <em>
    Click on a heading to add / update your details.
  </em>
</div>

<div id="portrait">
  <ul class="no_dec">
    <li>
      <%= link_to "Achievements", user_achievements_path(@user) %>
      <div class="subtext">
        <%= render 'achievements' %>
      </div>
    </li>
    
    <li>
      <%= link_to "What people say about me", user_characteristics_path(@user) %>
      <div class="subtext">
        <%= render 'characteristics' %>
      </div>
    </li>
    
    <li>
      <%= link_to "My qualifications", user_qualifications_path(@user) %>
      <div class="subtext">
        <%= render 'qualifications' %>
      </div>
    </li>
    
    <li>
      <%= link_to "My strengths", user_strengths_path(@user) %>
      <div class="subtext">
        <%= render 'strengths' %>
      </div>
    </li>
    
    <li>
      <%= link_to "My favourite things", user_favourites_path(@user) %>
      <div class="subtext">
        <%= render 'favourites' %>
      </div>
    </li>
    
    <li>
      <%= link_to "It drives me mad when ...", user_dislikes_path(@user) %>
      <div class="subtext">
        <%= render 'dislikes' %>
      </div>
    </li>
    
    <li>
      <%= link_to "Long-term aims", user_aims_path(@user) %>
      <div class="subtext">
        <%= render 'aims' %>
      </div>
    </li>
    
    <li>
      <%= link_to "Possible limitations", user_limitations_path(@user) %>
      <div class="subtext">
        <%= render 'limitations' %>
      </div>
    </li>
    
    <li> 
      <%= link_to "Previous jobs", user_previousjobs_path(@user) %>
      <div class="subtext">
        <%= render 'jobs' %>
      </div>
    </li>
    
    <li>
      <%= link_to "Other information", edit_user_portrait_path(@user) %>
      <div class="subtext">
        <%= render 'notes' %>
      </div>
    </li>
    
    <li>
      <%= link_to "References", user_referees_path(@user) %>
      <div class="subtext">
        <%= render 'references' %>
      </div>
    </li>
  </ul>
</div>
