<div class = "r-float">
  <%= link_to "Menu for this business", officer_home_path %>
</div>

<h1><%= @title %></h1>
<h4><%= @business.name %></h4>

<% unless @leavers.empty? %>
  
  <%= will_paginate @leavers %>
  <ul>
    <% @leavers.each do |leaver| %>
  
      <li>
      
        <%= leaver.name %> - 
        <%= leaver.employee_lookup(@business).ref_no %> &nbsp;
        <%= link_to "(reactivate)", new_user_rehire_path(leaver) %>
      
        <% unless leaver.involved_in_recent_reviews? %>
          &nbsp;
          <%= link_to image_tag("cancel.png", :size => "15x15"), officer_leaver_path(leaver), 
                   :method => :delete, 
                   :confirm => "Are you sure you want to remove #{leaver.name}'s entire record with #{@business.name}?",
                   :title => "Delete #{leaver.name}'s complete record with #{@business.name}." %>
        <% end %>
      </li>

    <% end %>
  </ul>
  <%= will_paginate @leavers %>
<% else %>
  <div class="no_data round">
    There are no former employees listed.
  </div>
<% end %>
