<div class="field">
  <%= f.label :quality, "Your suggested attribute *" %><br />
  <%= f.text_field :quality, :maxlength => 25 %>
  <div class="char-count"><%= @characters_left %> characters left</div>
</div>
<%= f.hidden_field :created_by %>
<%= f.hidden_field :updated_by %>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){
    
      $('#quality_quality').click(function() {
        $('.char-count').css('visibility', 'visible');
      });
      
      $('#quality_quality').live('keyup keydown', function(e) {
        var maxLen = 25;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });
    
    });
    
  <% end %>
<% end %>

