<%= link_to image_tag("pageback.png", :title => "Previous"), new_plan_jobquality_path(@plan), :class => "magnify" %>

<div class="subtext under">
  <i>Please read the notes ( <span class="guidance"><%= link_to image_tag("guidance.png"), note_path(note_reference), :remote => true %></span> ) 
     before you submit a suggestion.
  </i>
</div>

<div class="under">
  <%= form_for(@quality, :url => submitted_qualities_path) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
  
    <%= render 'fields', :f => f %>
    <div class="actions">
      <%= f.submit "Suggest now", :class => "create round" %>
    </div>
  <% end %>
</div>

