<%= link_to image_tag("pageback.png", :title => "Previous"), session[:return_to], :class => "magnify" %>
<div id="submitted">
  <div class="r-float subtext">
    <%= link_to "Edit", edit_submitted_quality_path(@quality) %>
  </div>
  Your attribute is '<%= @quality.quality %>'.          


  <div class="subtext under">
    Click on the grade to edit these grade descriptors - following the page notes for guidance. 
    Click on <%= link_to image_tag("pageback.png", :title => "Previous"), session[:return_to] %> when complete.
  </div>

  <div id="listing">
    <ul class="no_dec under">
  
      <% @pams.each do |pam| %>
        <li>
          <span class="grade-letter"><%= link_to pam.grade, edit_submitted_pam_path(pam) %></span>
          <span class="subtext">
            <%= pam.descriptor %>
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
