<div class = "r-float">
  <%= link_to "Cancel", user_referees_path(@referee.user) %>
</div>

<h1><%= @title %></h1> 
  <%= form_for(@referee) do |f| %>
    <%= render 'fields', :f => f %> 
    <div class="actions">
      <%= f.submit "Confirm changes" %>
    </div>
  <% end %>
