<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_referees? %>
    <%= link_to "Add a reference", new_user_referee_path(@user) %><br /> 
  <% end %>
</div>

<h4><%= @user.name %>'s references</h4>
<div id="rubric">
  <em>
    You can add up to 3 references. 
  </em>
</div>

<div id="listing">
  <ul class="no_dec">
    <% @referees.each do |referee| %>
      <li>
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), referee, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this reference?",
                   	:title => "Remove this reference") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_referee_path(referee), 
    			:title => "Edit this reference") %> 
        </span>&nbsp;   
        <%= referee.name %><span class="subtext"><em>(<%= referee.what_relation %>)</em></span>
        <div class="subtext">
          <% unless referee.role.empty? && referee.location.empty? %>
            <% unless referee.role.empty? %>
              <%= referee.role %>
              <% unless referee.location.empty? %>
                at <%= referee.location %>
              <% end %>
            <% else %>
              <%= referee.location %>
            <% end %>
            <br />
          <% end %>
          <% unless referee.address.empty? %>
            <em>Address: </em><%= referee.address %><br />
          <% end %>
          <% unless referee.phone.empty? %>
            <em>Phone: </em><%= referee.phone %><br />
          <% end %>
          <em>Email: </em><%= referee.email %>
          <br />
          <% if referee.portrait_rating != 7 %>
            <strong><i>Has reviewed your Portrait.</i></strong>
          <% else %>
            <% if @portrait.public? %>
              <% if referee.portrait_rating == 7 %>
                <span class="highlt">Has been asked to review your Portrait, but has not yet responded.</span>
              <% else %>
                <strong><i>Has reviewed your Portrait.</i></strong>
              <% end %>
            <% else %>
              <em>Will be asked to review your Portrait when you make it public.</em>
            <% end %>
          <% end %>
        <div>
      </li>
  
  
    <% end %>
  </ul>
</div>
