<div class = "r-float">
 <%= link_to "Cancel", @responsibility %>
</div>
<h1>Edit goal</h1>
<h4>for <%= @job.title_location %></h4>
<h4><strong>Responsibility: <br /></strong><%= @responsibility.definition %></h4>

<%= form_for(@goal) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class = "field centerplace" >
    <%= f.label :objective, "Update the objective" %><br /> 
    <%= f.text_area :objective, :cols => 50, :rows => 4 %>
  </div> 
  <div class = "field">
    <em>Or you can check the box below <u>to remove this goal completely</u>.  If you've
     	used the goal in a previous appraisal, don't worry - it'll be hidden, not deleted,
     	and you'll still see it when you look back at the appraisal history.
    </em>
  </div>
  <div class = "field centerplace">
    <%= f.label :removed, "Check this box to remove the objective entirely" %> 
    <%= f.check_box :removed %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Confirm changes" %>
  </div>
<% end %>
