<%= link_to image_tag("pageback.png", :title => "Previous"), responsibility_goals_path(@responsibility), :class => "magnify" %>

<div id="title" class="over">
  <%= render '/shared/job_title_cluster' %>
</div>

<div id="responsibility" class="over">
  <strong>Responsibility</strong> 
  <div class="subtext">
    <%= @responsibility.definition %>
  </div>
</div>

<div id="set-goal">
  <%= form_for([@responsibility, @goal]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class = "field">
      <%= f.label :objective, "Set a measurable goal *" %>
      <%= f.text_area :objective, :maxlength => 140, :class => "tiny" %>
      <div class="char-count"><%= @characters_left %> characters left</div>
    </div> 
      <%= f.hidden_field :created_by %>
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

    $(document).ready(function(){

      $('#goal_objective').click(function() {
        $('.char-count').css('visibility', 'visible');
      });
   
      $('#goal_objective').live('keyup keydown', function(e) {
        var maxLen = 140;
        var left = maxLen - $(this).val().length;
        $('.char-count').html(left);
      });

    }); 
  <% end %>
<% end %>
