<div class = "r-float">
<%= link_to "Cancel", @responsibility %>
</div>

<h1>New goal</h1>

<h4><%= @job.job_title %></h4>

<p class = "display_text grayborder round"><%= @responsibility.definition %>
</p>

<div class="shift_center_125">
  <%= form_for([@responsibility, @goal]) do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class = "field">
      <%= f.label :objective, "Set a MEASURABLE objective" %> <span id="info", style ="cursor:help"><%= image_tag("info.png", :size => "20x20") %></span><br />
      <div id ="infotext" class="info_box_wide beige round" style = "display:none; margin-left:0px">
               In 140 characters or less, explain how you'll decide whether this responsibility has been successfully achieved.  
               <br /><br />
               Take opinion out of the equation by including measurables ... answering questions like 'How many', 'When by?', etc.  
               <br /><br />
               For example, for the responsibility 'Preparing the monthly payroll', goals might include:- <br />
                "Signed off at least 4 working days before month-end."<br />
                "No more than 3 errors or justifiable complaints in any month" <br /><br />
               You can set up to 3 goals for each responsibility. 
               <br /><br />
               Don't forget, it's best if employee and direct manager work together to build the A-Plan,
               reaching agreement about the priorities and the standard of performance expected. &nbsp;
               &nbsp; <span id = "no-info" class="hide_link">(Hide)</span>
      </div>
      <%= f.text_area :objective, :maxlength => 140, :cols => 50, :rows => 4 %>
      <span id="char-count" style = "color:blue; padding-left: 5px"><%= @characters_left %></span>
    </div> 
      <%= f.hidden_field :created_by %>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
   
    $('#goal_objective').live('keyup keydown', function(e) {
    var maxLen = 140;
    var left = maxLen - $(this).val().length;
    $('#char-count').html(left);
    });
    
    $('#info').click(function() {
      $('#infotext').show('fast', function() {
      // Animation complete.
      });
    });
    
    $('#no-info').click(function() {
      $('#infotext').hide('fast', function() {
      // Animation complete.
      });
    });
   }); 
  <% end %>
<% end %>
