<div class="r-float">
  <%= link_to "Entire portrait", user_portrait_path(@achievement.user) %>
</div>

<%= link_to image_tag("pageback.png", :title => "Achievements list"), user_achievements_path(@achievement.user_id), :class => "magnify" %>

<h4 class="over"><%= @achievement.user.name %></h4>
<div class="shift_center_50">
  <%= form_for @achievement do |f| %>
    <%= render 'fields', :f => f %> 
    <div class="actions">
      <%= f.submit :class => "create round" %>
    </div>
  <% end %>
</div>
