<%= link_to image_tag("pageback.png", :title => "Previous"), user_portrait_path(@user), :class => "magnify" %>

<div class = "r-float">
  <% unless @user.max_achievements? %>
    <%= link_to "Add an achievement", new_user_achievement_path(@user) %><br /> 
  <% end %>
</div>

<h4><%= @user.name %></h4>

<div id="rubric">
  <em>
  <% if @user.has_achievements? %>    
    <% if @user.count_achievements > 1 %>
        Click and drag the achievements to arrange them in descending order of importance.
    <% end %>
  <% end %>
  You can add up to 3 achievements.
  </em>
</div>

<div id="listing" class="under">
  <ul id="achievements-list" class="no_dec">
    <% @achievements.each do |f| %>
      <li id="achievement_<%= f.id %>">
        <span style="vertical-align:top">
          <%= link_to(image_tag("delete.png"), f, 
                   	:method => :delete, 
                   	:confirm => "Are you sure you want to remove this achievement?",
                   	:title => "Remove this achievement") %>
        </span> &nbsp;
        <span style="vertical-align:top"> 
          <%= link_to(image_tag("details.png"), 
    			edit_achievement_path(f), 
    			:title => "Edit this achievement") %> 
        </span>&nbsp;    
        <span class="handle" style = "display:inline-block; width:80%"><%= f.achievement %></span>
   
      </li>
    <% end %>
  </ul>
</div>
<% content_for :javascript do %>

  <%= javascript_tag do %>

   $(document).ready(function(){
    
    $('#achievements-list').sortable(
     {
       	axis: 'y',
	dropOnEmpty: false,
	handle: '.handle',
	cursor: 'crosshair',
	items: 'li',
	opacity: 0.4,
	scroll: true,
	update: function(){
	  $.ajax({
	    type: 'post',
	    data: $('#achievements-list').sortable('serialize') + '&id=<%=@user.id %>',
	dataType: 'script',
	complete: function(request){
	  $('#achievements-list').effect('highlight');
	},
	url: 'achievements/sort'})
      }
     })
    });
   <% end %>
<% end %>
