<div class = "r-float">
  <% if current_user.account == 1 %>
    <%= link_to "#{@job.job_title} menu", my_job_path %>
  <% else %>
    <%= link_to "Home Page", employee_home_path %>
  <% end %>
</div>

<h1><%= @title %></h1>
<h4>
  <%= @user.name %>
  <% unless @user.account == 1 %>
    - <%= @business.name %><br />
  <% end %>
</h4>

<% if @reviews.count == 0 %>
  <div class="no_data round" style = "margin-top: 30px"> 
    There haven't been any reviews or self-appraisals yet.
  </div>
<% else %>
  <%= render 'reviews/history' %>
<% end %>
