<% if current_user.account == 1 %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), my_job_path, :class => "magnify" %>
<% else %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>
<% end %>

<h4 class="over">
  <%= @user.name %>
  <% unless @user.account == 1 %>
    <br />
    <%= @business.name %>, <%= @business.city %>
  <% end %>
</h4>

<% if @reviews.count == 0 %>
  <div class="no_data round"> 
    There haven't been any reviews or self-appraisals yet.
  </div>
<% else %>
  <%= render 'reviews/history' %>
<% end %>
