<div class = "r-float"> 
  <% if @review.self_appraisal? && @review.editable_date > Date.today %>
    <%= link_to "Edit results (till #{display_date(@review.editable_date)} only)", edit_self_appraisal_path(@review) %>
    <br />
  <% end %>
  <%= link_to "Your review history", my_reviews_path %><br />
  <% if current_user.account == 1 %>
    <%= link_to "#{@job.job_title} menu", my_job_path %>
  <% else %>
    <%= link_to "Home Page", employee_home_path %>
  <% end %>
</div>

<h1><%= @title %></h1>
<br />
<h4 class= "shallow">
  <%= @review.reviewee.name %> -
  <%= @review.job.job_title %>, <%= @review.job.department.name unless current_user.account == 1 %><br />
  <% if @review.reviewer_id != @review.reviewee.id %>
    Reviewer: <%= @review.reviewer.name %> - <%= @review.reviewer.current_job(@business).job_title unless @review.reviewer.no_job? %>
    <br />
  <% end %>
  <% if @review.completion_date == nil %>
    <%= display_date(@review.created_at) %>
  <% else %>
    <%= display_date(@review.completion_date) %>
  <% end %>
</h4>


<br /><br />

<%= render "/reviews/overall_result" %>

<%= render "/reviews/result_responsibilities" %>

<%= render "/reviews/result_attributes" %>

<%= render "/reviews/result_plan" %>
