<div class= "shift_center">
  <div class="field">
    <%= f.label :achievements, "Best achievement(s) in this period" %><br />
    <%= f.text_area :achievements, :cols => 60, :rows => 3 %>
  </div>
  
  <div class="field">
    <%= f.label :problems, "Biggest problem(s) in this period" %><br />
    <%= f.text_area :problems, :cols => 60, :rows => 3 %>
  </div>

  <div class="field">
    <%= f.label :observations, "Other observations / notes" %><br />
    <%= f.text_area :observations, :cols => 60, :rows => 3 %>
  </div>
  
  <div class="field">
    <%= f.label :change_reponsibilities, "Any responsibilities to be removed or added?" %><br />
    <%= f.text_area :change_responsibilities, :cols => 60, :rows => 3 %>
  </div>
  
  <div class="field">
    <%= f.label :change_goals, "Any goals to be modified, removed or added?" %><br />
    <%= f.text_area :change_goals, :cols => 60, :rows => 3 %>
  </div>
  
  <div class="field">
    <%= f.label :change_attributes, "Any changes needed to the attributes list?" %><br />
    <%= f.text_area :change_attributes, :cols => 60, :rows => 3 %>
  </div>
  
  <div class="field">
    <%= f.label :plan, "What's the plan to address weaknesses / build on strengths?" %><br />
    <%= f.text_area :plan, :cols => 60, :rows => 4 %>
  </div>
</div>

