<%= will_paginate @reviews %>

<div id="listing">
  <ul class="no_dec">
    <% @reviews.each do |review| %>
      <li>
        <div class="r-float">
          <h1><%= review.total_score %> % </h1>  
        </div>
        <% if review.self_appraisal? %>
          Self-Appraisal: 
        <% else %>
          Colleague Review:
        <% end %>  
        <%= display_date(review.completion_date) %>
        <div class="subtext">
          Job: <%= review.job.title_department %><br />
          <% unless review.self_appraisal? %>
            Reviewer: <%= review.reviewer.name %>
            <br />
          <% end %>
          <%= link_to "Responsibilities (#{review.responsibilities_score})", responsibilities_my_review_path(review) %> -
          <%= link_to "Attributes (#{review.attributes_score})", attributes_my_review_path(review) %> -
          <%= link_to "Comments", comments_my_review_path(review) %>
        </div>      
      </li>
    <% end %>
  </ul>
</div>

<%= will_paginate @reviews %>
