<%= will_paginate @reviews %>

<table class="smaller_font">
  <tr>
    <th>Completed</th>
    <th>Job</th>
    <th>Reviewer</th>
    <th class="centralize">Responsibilities</th>
    <th class="centralize">Attributes</th>
    <th class="centralize">Overall score</th>
    <th></th>
  </tr>

  <% @reviews.each do |review| %>
  <tr>
    <td><%= display_date(review.completion_date) %></td>
    <td><%= review.job.job_title %></td>
    <td>
      <% if review.self_appraisal? %>
        Self
      <% else %>
        <%= review.reviewer.name %>
      <% end %>
    </td>
    <td class="centralize"><%= review.responsibilities_score %></td>
    <td class="centralize"><%= review.attributes_score %></td>
    <td class="centralize"><%= review.total_score %>% </td>
    <td>
      <% if current_user.account == 3 %>
        <% unless session[:officer_off] == true %>
          <%= link_to image_tag("select.png", :size => "15x15"), officer_review_path(review), :title => "Details" %>
        <% else %>
          <%= link_to image_tag("select.png", :size => "15x15"), my_review_path(review), :title => "Details" %>
        <% end %>
      <% else %>
        <%= link_to image_tag("select.png", :size => "15x15"), my_review_path(review), :title => "Details" %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>

<%= will_paginate @reviews %>
