<h4 class="shallow">RESPONSIBILITIES</h4>
<div class= "info_box_screen round" style ="background-color: #EEE">
  Responsibilities are listed in order of importance to the business, the most important first.<br />
  <%= image_tag("true.png") %> = goal achieved; <%= image_tag("false.png") %> = goal not achieved.
</div>

<ol>
  <% @responsibilities.each do |r| %>
    <li class = "display_wider" style= "border-bottom: 1px solid #eee">
      <% @goals = r.reviewgoals %>
      <em><%= r.responsibility.definition %></em>
      
        <ul>
          <% @goals.each do |g| %>
            <li class= "info_box_screen no_bullet" style="margin-left:0px; margin-bottom: 0px">
              <% if g.achieved? %>
                <%= image_tag("true.png") %>
              <% else %>
                <%= image_tag("false.png") %>
              <% end %>
              &nbsp;
              <%= g.goal.objective %>
            </li>
          <% end %>
        </ul>
     
    </li>
  <% end %>
</ol>
