<div class= "subtext under over">
  <%= image_tag("true.png") %> = goal achieved; <%= image_tag("false.png") %> = goal not achieved.
</div>

<div id="listing">
  <ul class="no_dec subtext">
    <% @responsibilities.each do |r| %>
      <li>
        <% @goals = r.reviewgoals %>
        <em>* <%= r.responsibility.definition %> *</em>
        <ul>
          <% @goals.each do |g| %>
            <li>
              <% if g.achieved? %>
                <%= image_tag("true.png") %>
              <% else %>
                <%= image_tag("false.png") %>
              <% end %>
              &nbsp;
              <%= g.goal.objective %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
  
  
