<nav class="topmenu over">
  <ul>
    <span id="intro"><li><%= link_to "A-Plan Intro", intro_plan_path(@plan), :remote => true %></li></span>
    <span id="uses"><li><%= link_to "Uses", uses_plan_path(@plan), :remote => true %></li></span>
    <% if @plan.no_changes? %>
      <% if current_user.account == 3 %>
        <span id="writing"><li><%= link_to "How to write", writing_plan_path(@plan), :remote => true %></li></span>
      <% else %>
        <span id="writing"><li><%= link_to "Changing the plan", writing_plan_path(@plan), :remote => true %></li></span>
      <% end %>
    <% else %> 
      <span id="writing"><li><%= link_to "How to write", writing_plan_path(@plan), :remote => true %></li></span>
    <% end %>
  </ul>
</nav>

<% if current_user.account == 1 %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), my_job_path, :class => "magnify" %>
<% elsif current_user.account == 4 %>
  <%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>
<% else %>
  <% if session[:officer_off] == true %>
    <%= link_to image_tag("pageback.png", :title => "Previous"), employee_home_path, :class => "magnify" %>
  <% else %>
    <%= link_to image_tag("pageback.png", :title => "Previous"), @job, :class => "magnify" %>
  <% end %>
<% end %>

<div class = "r-float">
  <% unless session[:officer_off] == true %>
    <%= link_to "Other jobs", business_jobs_path(@business) unless current_user.account == 1 %><br />
  <% end %>
</div>

<div id="intro_text" class="display_off over">
  <h4 class="subtitle over">Introducing A-Plans <span class="hide_intro click_link subtext no-print">(Hide)</span></h4> 
  <div class="subtext">
    <%= render "intro_text" %>
    <span class="hide_intro click_link no-print">(Hide)</span>
  </div>
</div>

<div id="uses_text" class="display_off over">
  <h4 class="subtitle over">How do we use the A-Plan? <span class="hide_uses click_link subtext no-print">(Hide)</span></h4>
  <div class="subtext">
    <%= render "uses_text" %>
    <span class="hide_uses click_link no-print">(Hide)</span>
  </div>
</div>

<div id="writing_text" class="display_off over">
  <h4 class="subtitle over">How do we write / edit the A-Plan? <span class="hide_writing click_link subtext no-print">(Hide)</span></h4>
  <div class="subtext">
    <%= render "writing_text" %>
    <span class="hide_writing click_link no-print">(Hide)</span>
  </div>
</div>


<div id="listing">
  <div id="jobtitle">
    <strong><%= @job.job_title %></strong>
    <%= image_tag("complete.png") if @plan.complete? %>
    <% unless current_user.account == 1 %>
      <%= image_tag("locked.png") if @plan.no_changes? %>
    <% end %>
  </div>
  <div class="subtext">
    Category: <%= @job.occupation.name %><br />
    <% unless @job.department.name == "Unknown" %>
      Department: <%= @job.department.name %><br />
    <% end %>
    <% if @plan.job_value.nil? %>
      No job rating yet
    <% else %>
      Job Rating: <%= @plan.job_value %>
    <% end %>
  </div>
  
  <ul class="no_dec under">
    <li>
      <%= link_to "Job Summary", outline_path(@job) %>
      <% if ! @plan.outline_complete? %>
        <%= image_tag("warning.png", :size => "15x15") %>
      <% end %>
      <div class="subtext">    
        Role, qualities, importance<br />
        
        <% if current_user.account == 3 %>
          Also used in vacancy announcements
        <% end %>
        
        <% if @plan.no_changes? %>
          <% if current_user.account == 3 %>
            <% if ! @plan.outline_complete? %>
              <div class="texthl">Not yet written</div>
            <% else %>
              <div class="textok">Appears ready to use</div>
            <% end %>
          <% end %>
        <% else %>
          <% if ! @plan.outline_complete? %>
            <div class="texthl">Not yet written</div>
          <% else %>
            <div class="textok">Appears ready to use</div>
          <% end %>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to "Responsibilities", responsibilities_path %>
      <% unless @plan.responsibilities_ready? && @plan.goals_complete? && @plan.ratings_complete? %>
        <%= image_tag("warning.png") %>
      <% end %>
      <div class="subtext">    
        10 - 20 key responsibilities<br />
        Each has 1 - 3 goals and a rating value
        
        <% if @plan.no_changes? %>
          <% if current_user.account == 3 %>
            <% if ! @plan.responsibilities_ready? %>
              <div class="texthl">At least <%= pluralize((10 - @plan.count_responsibilities), "more responsibility") %> needed</div>
            <% elsif ! @plan.goals_complete? %>
               <div class="texthl">Some responsibilities still need goals</div>
            <% elsif ! @plan.ratings_complete? %>
               <div class="texthl">Some responsibilities still need a rating</div>
            <% else %>
               <div class="textok"><%= pluralize(@plan.count_responsibilities, "responsibility") %> added - OK to use</div>
            <% end %>
          <% end %>
        <% else %>
          <% if ! @plan.responsibilities_ready? %>
            <div class="texthl">At least <%= pluralize((10 - @plan.count_responsibilities), "more responsibility") %> needed</div>
          <% elsif ! @plan.goals_complete? %>
             <div class="texthl">Some responsibilities still need goals</div>
          <% elsif ! @plan.ratings_complete? %>
             <div class="texthl">Some responsibilities still need a rating</div>
          <% else %>
             <div class="textok"><%= pluralize(@plan.count_responsibilities, "responsibility") %> added - OK to use</div>
          <% end %>
        <% end %>
      </div>
    </li>
    
    <li>
      <%= link_to "Attributes", plan_jobqualities_path(@plan) %>
      <% unless @plan.max_attributes? %>
        <%= image_tag("warning.png") %>
      <% end %>
      <div class="subtext">    
        10 job-critical personal qualities
        
        <% if @plan.no_changes? %>
          <% if current_user.account == 3 %>
            <% unless @plan.max_attributes? %>
              <div class="texthl"><%= pluralize((10- @plan.count_attributes), "more attribute") %> needed</div>
            <% else %>
              <div class="textok">Ready to use</div>
            <% end %>
          <% end %>
        <% else %>
          <% unless @plan.max_attributes? %>
            <div class="texthl"><%= pluralize((10- @plan.count_attributes), "more attribute") %> needed</div>
          <% else %>
            <div class="textok">Ready to use</div>
          <% end %>
        <% end %>
      </div>
    </li>
    
    <li>
      <%= link_to "Requirements", plan_requirements_path(@plan) %>
      <div class="subtext">    
        1 - 10 hiring criteria
        
        <% if @plan.no_changes? %>
          <% if current_user.account == 3 %>
            <% if @plan.has_requirements? %>
              <div class="textok"><%= pluralize(@plan.count_requirements, "requirement") %> added - appears ready to use</div>
            <% else %>
              <div class="texthl">At least 1 requirement needed</div>
            <% end %>
          <% end %>
        <% else %>
          <% if @plan.has_requirements? %>
            <div class="textok"><%= pluralize(@plan.count_requirements, "requirement") %> added - appears ready to use</div>
          <% else %>
            <div class="texthl">At least 1 requirement needed</div>
          <% end %>
        <% end %>
        
      </div>
    </li>
  </ul>
</div>

<% content_for :javascript do %>

  <%= javascript_tag do %>
    
    $(document).ready(function(){
    
      $('#intro').click(function() {
        $('#uses_text').fadeOut('0', function() {
          $('#writing_text').fadeOut('0', function() {
            $('#intro_text').fadeIn('normal', function() {
            });
          });
        });
      });
      
      $('#uses').click(function() {
        $('#intro_text').fadeOut('0', function() {
          $('#writing_text').fadeOut('0', function() {
            $('#uses_text').fadeIn('normal', function() {
            });
          });
        });
      });
      
      $('#writing').click(function() {
        $('#intro_text').fadeOut('0', function() { 
          $('#uses_text').fadeOut('0', function() {
            $('#writing_text').fadeIn('normal', function() {
            });
          });
        });
      });
      
      $('.hide_intro').click(function() {
        $('#intro_text').fadeOut('fast', function() {
        });
      });
      
      $('.hide_uses').click(function() {
        $('#uses_text').fadeOut('fast', function() {
        });
      });
      
      $('.hide_writing').click(function() {
        $('#writing_text').fadeOut('fast', function() {
        });
      });
    });
   
  <% end %>
<% end %>  
  
    
