<div class = "r-float">
<%= link_to "#{@job.job_title} menu", @job %>
</div>
<h1>Achievement Plan</h1>
<h4><%= @job.title_location %></h4>
<p><em>Complete the plan, and you'll have a powerful tool for recruitment, appraisal, training
       needs analysis, and succession planning.  Best of all, everyone in the job will be 
       focused on achievement!
 </em></p>
<table>
  <tr>
    <td><strong><%= link_to "Responsibilities", plan_responsibilities_path(@plan) %></strong></td>
    <td>10-20 key activities</td>
    <td><span id = "responsibilities"><%= @plan.count_responsibilities %> entered</span></td>
  </tr>
  <tr>
    <td><strong>Goals</strong> <small>(set via responsibilities)</small></td>
    <td>1-3 measurable outcomes for each responsibility</td>
    <td><%= @plan.responsibilities_with_goals %> / <%= @plan.count_responsibilities %></td>
  </tr>
  <tr>
    <td><strong>Personal Attributes</strong></td>
    <td>10 key qualities for jobholders</td>
    <td>0 selected</td>
  </tr>
  <tr>
    <td><strong>Hiring Requirements</strong></td>
    <td>Preferred qualifications, experience, background</td>
    <td>0 entered</td>
  </tr>
  <tr>
    <td><strong>Summary</strong></td>
    <td>3-paragraph description of job</td>
    <td>Incomplete</td>
  </tr>
  <tr>
    <td><strong>Job evaluation</strong></td>
    <td>The importance of the job to the business</td>
    <td>Incomplete
  </tr>
  
</table>

