<div class = "r-float">
  <% if current_user.account == 1 %>
    <%= link_to "#{@job.job_title} menu", my_job_path %>
  <% elsif current_user.account == 4 %>
    <%= link_to "Home Page", employee_home_path %>
    <% if @plan.complete? %>
      <br />
      <%= link_to "View complete A-Plan", aplan_path(@plan) %>
    <% end %>
  <% else %>
    
    <% if session[:officer_off] == true %>
    
      <%= link_to "Personal Home Page", employee_home_path %>
      <% if @plan.complete? %>
        <br />
        <%= link_to "View complete A-Plan", aplan_path(@plan) %>
      <% end %>
      
    <% else %>
      
      <%= link_to "#{@job.job_title} menu", @job %>
      <% if @plan.complete? %>
        <br />
        <%= link_to "View complete A-Plan", aplan_path(@plan) %>
      <% end %>
      <br />
      <%= link_to "All jobs in business", business_jobs_path(@business) unless current_user.account == 1 %>
    
    <% end %>
  <% end %>
</div>
<h1>Achievement Plan 
  <% if @plan.complete? %>
    &nbsp;<span class="success_marker round">ready to use</span>
  <% end %>
</h1>
<h4><%= @job.job_title %></h4>

<% if current_user.account == 1 && ! @plan.complete? %>
  <%= render 'aplans/instructions' %>
<% elsif current_user.account >=3 && ! @plan.complete? %>
  <%= render 'aplans/instructions' %>
<% end %>
  
<div class = "info_box_screen">
  <% if current_user.account == 1 %>
    <% unless @plan.complete? %>      
       Tackle each of the sections below in turn. Youll find lots of guidance as you go.  The A-Plan is ready to use
       when all items in the right-hand column are <span style = "color: green">green</span>. 
    <% else %>
       Now your A-Plan is complete, use it to make yourself a high-value employee.  Get into the habit 
       of reviewing your own performance monthly - with an external review roughly every 3 months and make sure 
       you're hitting your targets.  If you're not, take the initiative to change things until you are.  It's all 
       down to you!  And remember that your Plan should change as the business changes: revise it when you need to, 
       and aim to keep setting the bar higher. 
    <% end %>
  <% elsif current_user.account == 4 %>
    <% unless @plan.complete? %>
       Tackle each of the sections below in turn. Youll find lots of guidance as you go.  The A-Plan is ready to use
       when all items in the right-hand column are <span style = "color: green">green</span>. 
    <% else %>
       Now the A-Plan is complete, use it to make yourself a high-value employee.  Get into the habit 
       of reviewing your own performance monthly - then there should be no surprises when your boss conducts
       a formal review (which should happen roughly every 3 months).  If you're not hitting your targets,
       take the initiative to change things until you are.  It's all down to you!  And remember that if the job-role
       changes, the Plan should change too: suggest revisions when you need to, and aim to keep setting the bar higher.    
    <% end %>
  <% else %>
    <% unless @plan.complete? %>
       Tackle each of the sections below in turn. Youll find lots of guidance as you go.  The A-Plan is ready to use
       when all items in the right-hand column are <span style = "color: green">green</span>. 
    <% else %> 
       <% if session[:officer_off] == true %>
         
         Now the A-Plan is complete, use it to drive your performance and make the maximum possible contribution
         to the organization.  Get into the habit of reviewing your own performance monthly, and then, every three months,
         ask a senior colleague or one of your own (less senior!) team-members to review as well.  If you're not hitting your targets,
         take the initiative to change things until you are.  It's all down to you!  Remember that if the job-role
         or the business strategy changes, your Plan may need to change too. And always aim to set the bar higher.  
       
       <% else %>
         Now the A-Plan is complete, use it to drive achievement - for recruitment, appraisal, training
         needs analysis, succession planning.  Get people into the habit of reviewing their own performance
         monthly - with an external review roughly every 3 months. And remember that the Plan should change 
         as the business changes: involve jobholders in updating their responsibilities and goals. Aim to keep 
         setting the bar higher.
       <% end %> 
    <% end %>
  <% end %>  
</div>
<table class="smaller_font">
  <tr>
    <td><strong><%= link_to "Responsibilities", plan_responsibilities_path(@plan) %></strong></td>
    <td>10-20 key activities</td>
    <td>
      <% if @plan.responsibilities_ready? %>
        <span id = "responsibilities" style = "color:green"><%= @plan.count_responsibilities %> entered</span>
      <% else %>
        <span id = "responsibilities"><%= @plan.count_responsibilities %> entered</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Goals</strong> <small>(set via Responsibilities)</small></td>
    <td>1-3 measurable outcomes for each responsibility</td>
    <td>
      <% if @plan.responsibilities_ready? && @plan.goals_complete? %>
        <span id = "responsibilities" style = "color:green">
          <%= @plan.responsibilities_with_goals %> / <%= @plan.count_responsibilities %>
        </span> 
      <% else %>
        <span id = "goals"><%= @plan.responsibilities_with_goals %> / <%= @plan.count_responsibilities %></span> 
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong>Ratings</strong> <small>(set via Responsibilities)</small></td>
    <td>The importance of each responsibility to the business</td>
    <td>
      <% if @plan.responsibilities_ready? && @plan.ratings_complete? %>
        <span id = "goals" style = "color:green">
          <%= @plan.responsibilities_with_ratings %> / <%= @plan.count_responsibilities %>
        </span>
      <% else %>
        <span id = "goals"><%= @plan.responsibilities_with_ratings %> / <%= @plan.count_responsibilities %></span>
      <% end %>
    </td> 
  </tr>
  <tr>
    <td><strong><%= link_to "Personal Attributes", plan_jobqualities_path(@plan) %></strong></td>
    <td>10 key qualities for jobholders</td>
    <td>
      <% if @plan.max_attributes? %>
        <span id = "attribs" style = "color:green""><%= @plan.count_attributes %> selected</span>
      <% else %>
        <span id = "attribs"><%= @plan.count_attributes %> selected</span>
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong><%= link_to "Hiring Requirements", plan_requirements_path(@plan) %></strong></td>
    <td>Preferred qualifications, experience, background</td>
    <td>
      <% if @plan.has_requirements? %>
        <span style = "color:green"><%= @plan.count_requirements %> entered</span>
      <% else %>
       <%= @plan.count_requirements %> entered
      <% end %>
    </td>
  </tr>
  <tr>
    <td><strong><%= link_to "Summary", @outline %></strong></td>
    <td>3-paragraph description of job</td>
    <td>
      <% if @plan.outline_complete? %>
        <span style = "color:green">
          <%= outline_status %>
        </span>
      <% else %>
        <%= outline_status %>  
      <% end %>
    </td>
  </tr>
</table> 
<% if @plan.job_value.nil? || @plan.job_value == 0 %>
  <h4>
<% else %>
  <h4 class="success">
<% end %>
  <strong>Overall Job Rating: <%= job_valuation %></strong> &nbsp;
    <small style = "font-size: 0.85em">(based on the 10 highest-rated responsibilities)</small>
  </h4>
  
<% if current_user.account == 3 %>
  <% unless session[:officer_off] == true %>
    <%= form_for @plan do |f| %>
      <%= render 'shared/error_messages', :object => f.object %>
      
      <div class="field">
        <% if @plan.no_changes? %>
          <%= f.label :no_changes, "Plan locked. Uncheck if you want to allow users to update." %>
        <% else %>
          <%= f.label :no_changes, "Plan unlocked. Check if you want to stop users updating." %>
        <% end %>
        <%= f.check_box :no_changes %> &nbsp; &nbsp;
        <%= f.submit "Confirm" %>
      </div>
      
      
    <% end %>
  <% end %>
<% end %>
  


