<div class = "r-float">
<%= link_to "#{@job.job_title} menu", @job %> <br />
<%= link_to "All jobs in business", business_jobs_path(@business) %>
</div>
<h1>Achievement Plan</h1>
<h4><%= @job.title_location %></h4>
<p><em>Complete the plan, and you'll have a powerful tool for recruitment, appraisal, training
       needs analysis, and succession planning.  Best of all, everyone in the job will be 
       focused on achievement!
 </em></p>
<table>
  <tr>
    <td><strong><%= link_to "Responsibilities", plan_responsibilities_path(@plan) %></strong></td>
    <td>10-20 key activities</td>
    <td><span id = "responsibilities"><%= @plan.count_responsibilities %> entered</span></td>
  </tr>
  <tr>
    <td><strong>Goals</strong> <small>(set via Responsibilities)</small></td>
    <td>1-3 measurable outcomes for each responsibility</td>
    <td><span id = "goals"><%= @plan.responsibilities_with_goals %> / <%= @plan.count_responsibilities %>
        </span> 
    </td>
  </tr>
  <tr>
    <td><strong><%= link_to "Personal Attributes", plan_jobqualities_path(@plan) %></strong></td>
    <td>10 key qualities for jobholders</td>
    <td><span id = "attribs"><%= @plan.count_attributes %> selected</span></td>
  </tr>
  <tr>
    <td><strong><%= link_to "Hiring Requirements", plan_requirements_path(@plan) %></strong></td>
    <td>Preferred qualifications, experience, background</td>
    <td><%= @plan.count_requirements %> entered</td>
  </tr>
  <tr>
    <td><strong><%= link_to "Summary", @outline %></strong></td>
    <td>3-paragraph description of job</td>
    <td><%= outline_status %></td>
  </tr>
  <tr>
    <td><strong>Job evaluation</strong></td>
    <td>The importance of the job to the business</td>
    <td>Incomplete
  </tr>
  
</table>

