<div class = "r-float">
  <%= link_to "Performance reviews menu", performance_reviews_path %>
</div>

<h1><%= @title %> &nbsp;<span id="info", style ="cursor:help"><%= image_tag("info.png", :size => "20x20") %></span></h1>

<div id="infotext" class="info_box_screen" style = "display:none">
    We recommend that everyone does a self-appraisal every 2-3 months, to remind themselves of their responsibilities and goals
    and to check that their performance is on track.  
    <br /><br />
    When more than 100 days have passed since any performance review (whether a self-appraisal or a colleague review), HYGWIT will remind
    the employee that a self-appraisal is due. If no action is taken for a further two weeks, the employee's name is added to this 
    watch-list - unless a colleague review is also due, in which case the employee will appear on the <em>Colleague reviews needed</em> page instead.
    <br /><br />
    You can then send an email reminder, using the <i>'Set up a self-appraisal now'</i> link in the list.
    <br /><br />
    People who have just been added to HYGWIT and have never done a self-appraisal will also appear in the list, but only 30 days
    after they've been added.
    &nbsp; <span id = "no-info" style="color:#069; cursor:n-resize">(Hide)</span>
</div>

<br />
<% if @users.empty? %>
  <div class="no_data round" style = "margin-top: 30px"> 
    Everyone seems to be up-to-date with self-appraisals at the moment.
  </div>
<% else %>
  <%= render '/no_reviews/userlist' %>
<% end %>

<% content_for :javascript do %>

  <%= javascript_tag do %>
    
   $(document).ready(function(){
    
    $('#info').click(function() {
      $('#infotext').show('fast', function() {
      });
    });
    
    $('#no-info').click(function() {
      $('#infotext').hide('fast', function() {
      });
    });
    
   });
   
  <% end %>
<% end %>
