<header>
  <span class="title-image magnify">
    <%= image_tag("hygwit.png") %>
  </span>  
  <span class= "title-text">
   <%= @title %>
  </span>
  

  
  <nav>
    <ul>
      <% if signed_in? %>
        <% if current_user.account == 3 && session[:admin_off] == true %>
          <% if session[:officer_off] == true %>
            <li><%= link_to image_tag("home.png"), employee_home_path, :title => "Home" %></li>
          <% else %> 
            <li><%= link_to image_tag("home.png"), officer_home_path, :title => "Home" %></li>
          <% end %>
        <% else %>
          <li><%= link_to image_tag("home.png"), root_path, :title => "Home" %></li>
        <% end %>
      <% else %>
        <li><%= link_to image_tag("home.png"), root_path, :title => "Home" %></li>
      <% end %>
      <li><span class="guidance"><%= link_to image_tag("guidance.png"), note_path(note_reference), :title => "Page help", :remote => true %></span></li>
      <% if signed_in? %>
        <li><%= link_to image_tag("user.png"), @user, :title => "Your account settings" %></li>
        <li><%= link_to image_tag("exit.png"), signout_path, :method => :delete, :title => "Exit" %></li>
      <% else %>
        <li><%= link_to image_tag("user.png"), signin_path, :title => "Log In" %></li>
      <% end %>
      <%  unless signed_in? %>
        <li><%= link_to "Sign up", signup_path, :title => "Sign Up - for free", :class => "create-icon round" %></li>
      <% end %>
    </ul>
  </nav>
</header>

<% content_for :javascript do %>

  <%= javascript_tag do %>
   
   $(document).ready(function(){
   
    $('.guidance').click(function() {
      $('#center-panel').toggle( 100, function() {
      });
    });
   
   });
    
  <% end %>
<% end %>


