<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js", "jquery_ujs.js" %>
  </head>
  <body>
  
    <div class="panel">
      Hello, I'd like to tell you a little story about a famous wolf.  He lived deep in the forest with only his old Granny for protection ...
    </div>
    
    <div class="container">
      <%= render 'layouts/header' %>
      <div id = "content">
        
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, :class => "flash #{key}") %>
        <% end %>
          <%= yield %>
      </div>  
      
      
    </div>
    
    <%= render 'layouts/footer' %>
    <%= yield :javascript %>
  </body>
 
</html>
