<%= link_to image_tag("pageback.png", :title => "Previous"), corporate_plan_path(@business), :class => "magnify" %>

<h4 class="over"><%= @business.name %>, <%= @business.city %></h4>

<%= form_for(@business, :url => corporate_plan_path(@business)) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  
  <div class="shift_center_50">
    <div class="field">
      <%= f.label :mission %> 
      <%= f.text_area :mission, :maxlength => 500, :class => "midsize" %>
      <div id= "mission_count" class="char-count"><%= @characters_mission %> characters left</div>
    </div>
  
    <div class="field">
      <%= f.label :values %> 
      <%= f.text_area :values, :maxlength => 500, :class => "midsize" %>
      <div id= "values_count" class="char-count"><%= @characters_values %> characters left</div>
    </div>
  
    <div class="actions">
      <%= f.submit "Confirm changes", :class => "create round" %>
    </div>
  </div>

<% end %> 

<% content_for :javascript do %>

  <%= javascript_tag do %>
    
   $(document).ready(function(){
    
    $('#business_mission').click(function() {
      $('#mission_count').css('visibility', 'visible');
    });
    
    $('#business_mission').live('keyup keydown', function(e) {
    var maxLen = 500;
    var left = maxLen - $(this).val().length;
    $('#mission_count').html(left);
    });
    
    $('#business_values').click(function() {
      $('#values_count').css('visibility', 'visible');
    });
    
    
    $('#business_values').live('keyup keydown', function(e) {
    var maxLen = 500;
    var left = maxLen - $(this).val().length;
    $('#values_count').html(left);
    });
    
   });
   
  <% end %>
<% end %>
